/node_modules
/public/storage
public/front/images
public/front/video
/public/hot
/storage/*.key
/storage/logs/
/storage/framework/
/vendor
.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
/nbproject
_ide_helper.php
composer.phar
error.log
access.log
Todo.rtf
.vagrant
/.vagrant
npm-debug.log
yarn-error.log
phpunit.txt
public/css/
public/js/*.js
public/js/plugins/
public/js/skins/
public/js/themes/
public/vendor
public/js/skins/*.js
CODE_OF_CONDUCT.md
LICENSE.txt
composer.lock
public/img/backend/blog_images/*
public/mix-manifest.json
public/access.log
public/error.log
!public/js/jquerysession.min.js
output.txt
.php_cs.cache
public/front/objects/*
database/migrations/2020_03_01_114255_sample_table.php
public/front/skybox/*
public/front/objects/astronaut/tom/tom.glb
public/front/images3D/*
public/front/textures/*
public/front/icons/*
public/front/audio/
public/front/finalSkybox/
public/front/videos/
server.php
public/js/backend.js
public/js/frontend.js
public/js/frontend.js
public/js/backend.js
public/js/frontend.js
public/js/backend.js
storage/framework
storage/app
storage/debugbar
storage/logs
/bootstrap/cache/
