@media (min-width:2560px) {
    .zoomin #edit-photo {
        font-size: 8px;
    }

    .notifications-div .notifications-count {
        font-size: 6em;
    }
}

@media (min-width:1680px)
and (max-width: 1920px) {
    .zoomin #edit-photo {
        font-size: 6px;
    }
}

/* Ipad Pro */
@media (max-width: 1367px) 
and (min-width: 1024px)
{
    .astronaut-img-div {
        /* transform: scale(0.5); */
    }

    #edit-photo {
        /* transform: translate(-71%, -284%) rotate(-28deg); */
    }

    @keyframes rollOutSaturn {
        from {
            top: 9%;
            left: 48%;
            width: 10.2vw;
        }
    
        to {
            top: 50%;
            left: 50%;
            width: 62vw;
        }
    }

    .zoom-in-planet.img_saturn {
        width: 62vw;
    }

    /* .navigator-div.zoomin {
        top: 106% !important;
        -webkit-transform: translate(-50%, -50%) scale(3.8);
        -moz-transform: translate(-50%, -50%) scale(3.8);
        -ms-transform: translate(-50%, -50%) scale(3.8);
        transform: translate(-50%, -50%) scale(3.8);
    }

    @-webkit-keyframes navigatorAnimateZoomIn {
        100% {
            left: 18%;
            top: 106%;
            -webkit-transform: translate(-50%, -50%) scale(3.8);
            -moz-transform: translate(-50%, -50%) scale(3.8);
            -ms-transform: translate(-50%, -50%) scale(3.8);
            transform: translate(-50%, -50%) scale(3.8);
        }
    }
    
    @-moz-keyframes navigatorAnimateZoomIn {
        100% {
            left: 18%;
            top: 106%;
            -webkit-transform: translate(-50%, -50%) scale(3.8);
            -moz-transform: translate(-50%, -50%) scale(3.8);
            -ms-transform: translate(-50%, -50%) scale(3.8);
            transform: translate(-50%, -50%) scale(3.8);
        }
    }
    
    @keyframes navigatorAnimateZoomIn {
        100% {
            left: 18%;
            top: 106%;
            -webkit-transform: translate(-50%, -50%) scale(3.8);
            -moz-transform: translate(-50%, -50%) scale(3.8);
            -ms-transform: translate(-50%, -50%) scale(3.8);
            transform: translate(-50%, -50%) scale(3.8);
        }
    } */
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
    .zoom-in {
        display: block;
        pointer-events: auto;
    }

    .navigator-div .tooltips span {
        display: none;
    }

    .navigator-div .navigator-zoomin.tooltips span, .navigator-div .profile-div.tooltips span {
        display: block;
    }

    .navigator-div .navigator-buttons .tooltips span {
        display: none;
    }

    .navigator-div.zoomin .tooltips span {
        font-size: 0.8em;
    }

    .navigator-div.zoomin .navigator-buttons .tooltips span, .navigator-div.zoomin .communicator-div.tooltips span, .navigator-div.zoomin .navigator-zoomout-btn.tooltips span, .navigator-div.zoomin .internal-share.tooltips span{
        display: block;
        font-size: 0.8em;
        /* padding: 1.5em;
        padding-top: 0.90em; */
    }

    .navigator-div-zoomed-in .navigator-buttons .tooltips span, .navigator-div-zoomed-in .communicator-div.tooltips span, .navigator-div-zoomed-in .navigator-zoomout-btn.tooltips span, .navigator-div-zoomed-in .internal-share.tooltips span{
        display: block;
    }

    .profile-button {
        box-shadow: 0px 0px 40px #17a2b8;
    }

    .notifications-div .earth-holo.tooltips span {
        display: block;
        font-size: 1.5em;
    }
}
/* stylus-based screens */
@media (hover: none) and (pointer: fine) {
    .navigator-div .navigator-zoomin.tooltips span, .navigator-div .profile-div.tooltips span {
        display: block;
    }

    .navigator-div .navigator-buttons .tooltips span {
        display: none;
    }

    .navigator-div.zoomin .tooltips span {
        font-size: 0.8em;
    }

    .navigator-div.zoomin .navigator-buttons .tooltips span, .navigator-div.zoomin .communicator-div.tooltips span, .navigator-div.zoomin .navigator-zoomout-btn.tooltips span, .navigator-div.zoomin .internal-share.tooltips span{
        display: block;
        font-size: 0.8em;
        /* padding: 1.5em;
        padding-top: 0.90em; */
    }

    .navigator-div-zoomed-in .navigator-buttons .tooltips span, .navigator-div-zoomed-in .communicator-div.tooltips span, .navigator-div-zoomed-in .navigator-zoomout-btn.tooltips span, .navigator-div-zoomed-in .internal-share.tooltips span{
        display: block;
    }

    .profile-button {
        box-shadow: 0px 0px 40px #17a2b8;
    }

    .notifications-div .earth-holo.tooltips span {
        display: block;
        font-size: 1.5em;
    }
}

/* Tablets */
@media (max-width: 1024px) {
    .astronaut-img-div {
        transform: translate(0) scale(0.4);
    }

    .navigator-div.zoomin {
        -webkit-transform: translate(4%, 0%) scale(1);
        -moz-transform: translate(4%, 0%) scale(1);
        -ms-transform: translate(4%, 0%) scale(1);
        transform: translate(4%, 0%) scale(1);
    }

    @-webkit-keyframes navigatorAnimateZoomIn {
        100% {
            left: 0;
  		    top: 94%;
            -webkit-transform: translate(4%, 0%) scale(1);
            -moz-transform: translate(4%, 0%) scale(1);
            -ms-transform: translate(4%, 0%) scale(1);
            transform: translate(4%, 0%) scale(1);
        }
    }
    
    @-moz-keyframes navigatorAnimateZoomIn {
        100% {
            left: 0;
  		    top: 94%;
            -webkit-transform: translate(4%, 0%) scale(1);
            -moz-transform: translate(4%, 0%) scale(1);
            -ms-transform: translate(4%, 0%) scale(1);
            transform: translate(4%, 0%) scale(1);
        }
    }
    
    @keyframes navigatorAnimateZoomIn {
        100% {
            left: 0;
  		    top: 94%;
            -webkit-transform: translate(4%, 0%) scale(1);
            -moz-transform: translate(4%, 0%) scale(1);
            -ms-transform: translate(4%, 0%) scale(1);
            transform: translate(4%, 0%) scale(1);
        }
    }

    @-webkit-keyframes navigatorAnimateZoomOut {
        0% {
            left: 0;
  		    top: 94%;
            -webkit-transform: translate(4%, 0%) scale(1);
            -moz-transform: translate(4%, 0%) scale(1);
            -ms-transform: translate(4%, 0%) scale(1);
            transform: translate(4%, 0%) scale(1);
        }
    
        100% {
            -webkit-transform: scale(0.4);
                -moz-transform: scale(0.4);
                    transform: scale(0.4);
        }
    }
    
    @-moz-keyframes navigatorAnimateZoomOut {
        0% {
            left: 0;
  		    top: 94%;
            -webkit-transform: translate(4%, 0%) scale(1);
            -moz-transform: translate(4%, 0%) scale(1);
            -ms-transform: translate(4%, 0%) scale(1);
            transform: translate(4%, 0%) scale(1);
        }
    
        100% {
            -webkit-transform: scale(0.4);
                -moz-transform: scale(0.4);
                    transform: scale(0.4);
        }
    }
    
    @-o-keyframes navigatorAnimateZoomOut {
        0% {
            left: 0;
  		    top: 94%;
            -webkit-transform: translate(4%, 0%) scale(1);
            -moz-transform: translate(4%, 0%) scale(1);
            -ms-transform: translate(4%, 0%) scale(1);
            transform: translate(4%, 0%) scale(1);
        }
    
        100% {
            -webkit-transform: scale(0.4);
                -moz-transform: scale(0.4);
                    transform: scale(0.4);
        }
    }
    
    @keyframes navigatorAnimateZoomOut {
        0% {
            left: 0;
  		    top: 94%;
            -webkit-transform: translate(4%, 0%) scale(1);
            -moz-transform: translate(4%, 0%) scale(1);
            -ms-transform: translate(4%, 0%) scale(1);
            transform: translate(4%, 0%) scale(1);
        }
    
        100% {
            -webkit-transform: scale(0.4);
                -moz-transform: scale(0.4);
                    transform: scale(0.4);
        }
    }

    .tooltips.zoom-in-out span {
        font-size: 0.6em;
    }

    .edit-photo {
        display: none;
    }

    .navigator-div .navigator-buttons .tooltips span {
        display: none;
    }

    .navigator-div.zoomin .navigator-buttons .tooltips span, .navigator-div.zoomin .communicator-div.tooltips span {
        display: block;
        white-space: nowrap;
        width: auto;
        /* padding: 13% 25%; */
        line-height: unset;
    }

    .communicator-div.tooltips span, .navigator-zoomout-btn.tooltips.zoom-in-out span {
        width: auto;
        /* padding: 13% 25%; */
    }

    .tooltips.top span {
        -webkit-transform: translate(-49%, -221%);
        -moz-transform: translate(-49%, -221%);
        -ms-transform: translate(-49%, -221%);
        transform: translate(-49%, -221%);
    }

    /* .tooltips.top span:after {
        border-top: 2px solid #0b91c3a3;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
    } */

    .navigator-div .home-btn.tooltips span {
        -webkit-transform: translate(-144%, -43%) !important;
        -moz-transform: translate(-144%, -43%) !important;
        -ms-transform: translate(-144%, -43%) !important;
        transform: translate(-144%, -43%) !important;
    }

    .navigator-div .music-btn.tooltips span {
        -webkit-transform: translate(-121%, -61%) !important;
        -moz-transform: translate(-121%, -61%) !important;
        -ms-transform: translate(-121%, -61%) !important;
        transform: translate(-121%, -61%) !important;
    }

    .navigator-div .profile-btn.tooltips span {
        -webkit-transform: translate(24%, -60%) !important;
        -moz-transform: translate(24%, -60%) !important;
        -ms-transform: translate(24%, -60%) !important;
        transform: translate(24%, -60%) !important;
    }

    .navigator-div .instructions-btn.tooltips span {
        -webkit-transform: translate(28%, -24%) !important;
        -moz-transform: translate(28%, -24%) !important;
        -ms-transform: translate(28%, -24%) !important;
        transform: translate(28%, -24%) !important;
    }

    /* .navigator-div .tos-div .tooltips span {
        width: 3vw !important;
        white-space: normal !important;
        -webkit-transform: translate(18%, -38%) !important;
        -moz-transform: translate(18%, -38%) !important;
        -ms-transform: translate(18%, -38%) !important;
        transform: translate(18%, -38%) !important;
    } */

    .navigator-zoomout-btn.tooltips.zoom-in-out span {
        -webkit-transform: translate(-54%, -190%);
        -moz-transform: translate(-54%, -190%);
        -ms-transform: translate(-54%, -190%);
        transform: translate(-54%, -190%);
    }

    /* .tom.navigator-div.zoomin .navigator-buttons {
        -webkit-transform: translate(-86%, -391%) rotate(-4deg);
        -moz-transform: translate(-86%, -391%) rotate(-4deg);
        -ms-transform: translate(-86%, -391%) rotate(-4deg);
        transform: translate(-86%, -391%) rotate(-4deg);
    } */

    /* .tom.navigator-div.zoomin .instructions-div {
        -webkit-transform: translate(-71%, -909%) rotate(-4deg);
        -moz-transform: translate(-71%, -909%) rotate(-4deg);
        -ms-transform: translate(-71%, -909%) rotate(-4deg);
        transform: translate(-71%, -909%) rotate(-4deg);
    } */

    /* .navigator-div.zoomin .tooltips.right span:after {
        margin-top: -1px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    } */

    /* .navigator-div .tos-div .tooltips span:after {
        border-right: 2px solid #0b91c3a3;
    } */

    /* .navigator-div .tooltips.left span:after {
        margin-top: -1px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    } */

    .notifications-list {
        background: #000000ba;
        -webkit-transform: translate(-50%, -166%);
        -moz-transform: translate(-50%, -166%);
        transform: translate(-50%, -166%);
    }

    /* .zoomin .notifications-list li {
        font-size: 3.5px;
    } */

    .zoomin .notifications-list li {
        padding: 1em 0;
    }

    /* .zoomin .earth-holo.tooltips.top span {
        font-size: 3.5px;
        -webkit-transform: translate(-49%, -239%);
        -moz-transform: translate(-49%, -239%);
        transform: translate(-49%, -239%);
    } */

    .zoomin .communicator-div button, .navigator-div-zoomed-in .communicator-div button {
        border-radius: 2px;
        -webkit-box-shadow: 0px 0px 3px #17a2b8;
        box-shadow: 0px 0px 3px #17a2b8;
    }

    .pluto-img {
        width: 4.5vw;
        height: 4vw;
    }

    @keyframes rollOutPluto {
        from {
            top: 7%;
            left: 3%;
            width: 4.5vw;
        }
        
        to {
            top: 50%;
            left: 50%;
            width: 38vw;
        }
    }	

    .neptune-img {
        width: 9vw;
        height: 8vw;
    }

    @keyframes rollOutNeptune {
        from {
            top: 22%;
            left: 15%;
            width: 9vw;
        }
    
        to {
            top: 50%;
            left: 50%;
            width: 38vw;
        }
    }

    .jupiter-img {
        width: 10vw;
        height: 9vw;
    }

    @keyframes rollOutJupiter {
        from {
            top: 75%;
            left: 8%;
            width: 10vw;
        }
    
        to {
            top: 50%;
            left: 50%;
            width: 38vw;
        }
    }

    .earth-img {
        width: 18vw;
        height: 18vw;
    }

    .moon-img {
        top: 23%;
        width: 4vw;
        height: 4vw;
    }

    @keyframes rollOutMoon {
        from {
            top: 23%;
            left: 50%;
            width: 4vw;
        }
    
        to {
            top: 50%;
            left: 50%;
            width: 38vw;
        }
    }

    .mars-img {
        top: 75%;
        width: 10vw;
        height: 9vw;
    }

    @keyframes rollOutMars {
        from {
            top: 75%;
            left: 78%;
            width: 10vw;
        }
    
        to {
            top: 50%;
            left: 50%;
            width: 38vw;
        }
    }

    .venus-img {
        width: 9vw;
        height: 9vw;
    }

    @keyframes rollOutVenus {
        from {
            top: 36%;
            left: 80%;
            width: 9vw;
        }
    
        to {
            top: 50%;
            left: 50%;
            width: 38vw;
        }
    }

    .sun-img {
        top: 3%;
        width: 10vw;
        height: 9vw;
    }

    @keyframes rollOutSun {
        from {
            top: 3%;
            left: 93%;
            width: 10vw;
        }
    
        to {
            top: 50%;
            left: 50%;
            width: 38vw;
        }
    }

    .mercury-img {
        top: 27%;
        left: 91%;
        width: 5vw;
        height: 5vw;
    }

    @keyframes rollOutMercury {
        from {
            top: 27%;
            left: 91%;
            width: 5vw;
        }
    
        to {
            top: 50%;
            left: 50%;
            width: 38vw;
        }
    }

    .uranus-img {
        width: 7.2vw;
        height: 6.9vw;
    }

    @keyframes rollOutUranus {
        from {
            top: 12%;
            left: 27%;
            width: 7.2vw;
        }
    
        to {
            top: 50%;
            left: 50%;
            width: 38vw;
        }
    }

    .saturn-img {
        width: 10.2vw;
        height: 8vw;
    }

    @keyframes rollOutSaturn {
        from {
            top: 9%;
            left: 48%;
            width: 10.2vw;
        }
    
        to {
            top: 50%;
            left: 50%;
            width: 62vw;
        }
    }

    .astronaut-img-div.hide {
        display: none;
    }

    .planet_name {
        font-size: 0.7em;
    }

    #planet_name_pluto {
        bottom: -50%;
    }

    #planet_name_neptune {
        bottom: -30%;
    }

    #planet_name_uranus {
        bottom: -30%;
    }

    #planet_name_saturn {
        bottom: -10%;
    }

    #planet_name_moon {
        bottom: -30%;
    }

    #planet_name_venus {
        bottom: -20%;
    }

    #planet_name_mercury {
        bottom: -30%;
    }

    .zoom-in-planet {
        width: 38vw;
        height: 38vw;
    }

    .zoom-in-planet.img_saturn {
        width: 62vw;
    }

    .planet-buttons {
        width: 38vw;
    }

    .preview {
        width: 38vw;
        height: 38vw;
    }

    .planet-buttons button {
        width: 4vw;
        height: 4vw;
    }

    .planet-buttons button.view-friend {
        bottom: 0%;
    }

    .planet-buttons button.back {
        left: 89.5%;
    }

    .planet-buttons button.collage  {
        top: 0%;
    }

    .planet-buttons span.pop-up {
        font-size: 10px;
    }

    .planet-buttons span.view-pop-up {
        width: 9vw;
        left: -23%;
    }

    .planet-buttons span.view-friend-pop-up {
        bottom: -8%;
    }

    .planet-buttons span.back-pop-up {
        width: 9vw;
        left: unset;
        right: -23%;
    }

    .planet-buttons span.collage-pop-up {
        top: -8%;
    }

    /* zoomed in navigator */
    .navigator-div-zoomed-in .navigator-buttons, .navigator-div-zoomed-in .tos-div, .navigator-div-zoomed-in .instructions-div, .navigator-div-zoomed-in .navigator-zoomout-btn, .navigator-div-zoomed-in .communicator-div {
        pointer-events: auto;
    }

    .navigator-div-zoomed-in {
        left: -2%;
        bottom: -1%;
    }

    .notifications-div .notifications-count {
        font-size: 3em;
    }

    .navigator-div-zoomed-in .notifications-div .notifications-count {
        /* font-size: 1.5em; */
    }

    .navigator-div-zoomed-in .notifications-list {
        background: #000000a6;
    }

    .navigator-div-zoomed-in .notifications-list li {
        font-size: 12px;
    }

    .navigator-div-zoomed-in .earth-holo.tooltips.top span {
        font-size: 11px;
        padding: 10%;
    }

    .navigator-div-zoomed-in .tooltips.tooltips.zoom-in-out span {
        font-size: 14px;
    }

    .navigator-div-zoomed-in .navigator-buttons .tooltips span, .navigator-div-zoomed-in .communicator-div.tooltips span {
        display: block;
        font-size: 1em;
        padding: 25%;
        width: auto;
        border-radius: 5px;
        white-space: nowrap;
        line-height: unset;
    }

    .navigator-div-zoomed-in .tooltips span:after {
        border-right: 15px solid #0b91c3a3;
    }

    .navigator-div-zoomed-in .tooltips.left span {
        -webkit-transform: translate(-125%, -50%);
        -moz-transform: translate(-125%, -50%);
        -ms-transform: translate(-125%, -50%);
        transform: translate(-125%, -50%);
    }

    .navigator-div-zoomed-in .home-btn.tooltips span {
        -webkit-transform: translate(-144%, -50%);
        -moz-transform: translate(-144%, -50%);
        -ms-transform: translate(-144%, -50%);
        transform: translate(-144%, -50%);
    }

    .navigator-div-zoomed-in .communicator-div.tooltips span {
        /* width: 91px; */
    }

    .navigator-div-zoomed-in .instructions-btn.tooltips span {
        -webkit-transform: translate(33%, -35%) !important;
        -moz-transform: translate(33%, -35%) !important;
        -ms-transform: translate(33%, -35%) !important;
        transform: translate(33%, -35%) !important;
    }

    .navigator-div-zoomed-in .tos-btn.tooltips span {
        /* -webkit-transform: translate(33%, -45%) !important;
        -moz-transform: translate(33%, -45%) !important;
        -ms-transform: translate(33%, -45%) !important;
        transform: translate(33%, -45%) !important; */
    }
    
    .notification-table tr {
        height: auto;
    }

    .notification-table td.datetime {
        width: 20vw;
    }

    .pagination-div .pagination {
        margin-bottom: 0.5rem;
    }

    .pagination-div .page-link { 
        padding: .3rem .5rem;
    }

    .details label {
        font-size: 1em;
    }

    .details p {
        font-size: 0.8em;
    }

    .navigator-div .profile-div.tooltips span {
        font-size: 1.5em;
    }

    .notifications-div .earth-holo.tooltips span {
        display: block;
        font-size: 1.5em;
    }
}

@media (max-width : 896px)
and (min-width : 414px)
and (orientation : landscape) {
    .astronaut-img-div {
        top: 44%;
        transform: translate(0) scale(0.4);
    }

    .notifications-list li {
        font-size: 1.5em;
    }

    .tooltips.zoom-in-out span {
        font-size: 0.8em;
    }
    
    .navigator-div.zoomin .navigator-buttons .tooltips span, .navigator-div.zoomin .communicator-div.tooltips span {
        padding: 20%;
    }

    .navigator-div .tooltips.right span {
        -webkit-transform: translate(29%, -50%);
        -moz-transform: translate(29%, -50%);
        -ms-transform: translate(29%, -50%);
        transform: translate(29%, -50%);
    }

    .notifications-div .earth-holo {
        -webkit-transform: translate(-50%, -38%);
        -moz-transform: translate(-50%, -38%);
        transform: translate(-50%, -38%);
    }

    .navigator-div-zoomed-in .tos-btn.tooltips span {
        /* width: 12vw !important;
        -webkit-transform: translate(25%, -30%) !important;
        -moz-transform: translate(25%, -30%) !important;
        -ms-transform: translate(25%, -30%) !important;
        transform: translate(25%, -30%) !important; */
    }

    .navigator-div-zoomed-in .tooltips.top span {
        -webkit-transform: translate(-49%, -240%);
        -moz-transform: translate(-49%, -240%);
        -ms-transform: translate(-49%, -240%);
        transform: translate(-49%, -240%);
    }

    .navigator-div.zoomin {
        -webkit-transform: translate(4%, 0%) scale(1);
        -moz-transform: translate(4%, 0%) scale(1);
        -ms-transform: translate(4%, 0%) scale(1);
        transform: translate(4%, 0%) scale(1);
    }

    .navigator-div .tooltips.right span:after {
        margin-top: -0.8em;
        border-top: 0.8em solid transparent;
        border-bottom: 0.8em solid transparent;
        border-right: 0.8em solid #0b91c3a3;
    }

    .navigator-div .tooltips.left span:after {
        border-left: 0.8em solid #0b91c3a3;
        margin-top: -0.8em;
        border-top: 0.8em solid transparent;
        border-bottom: 0.8em solid transparent;
    }

    .navigator-div .tooltips.top span:after {
        border-top: 0.8em solid #0b91c3a3;
        border-left: 0.8em solid transparent;
        border-right: 0.8em solid transparent;
    }

    .notifications-div .notifications-count {
        font-size: 2em;
    }

    .navigator-div-zoomed-in .tooltips span, .navigator-div-zoomed-in .navigator-buttons .tooltips span, .navigator-div-zoomed-in .communicator-div.tooltips span {
        font-size: 0.8em;
        padding: 20%;
    }

    .navigator-zoom {
        font-size: 2em;
    }

    .profile-details {
        width: 40vw;
        height: 41vw;
    }

    .profile-details .recruit-btn {
        bottom: 1%;
    }
}

/* Mobile Phones */
@media (max-width: 823px)
and (min-width: 375px) {
    .page-content {
        overflow: hidden;
    }

    .img_bg {
        left: 0;
    }

    .astronaut-img-div {
        /* top: 65%;
        left: 18%; */
    }

    .navigator-div-zoomed-in {
        left: 2%;
        bottom: -1%;
    }

    .navigator-div-zoomed-in .tooltips span {
        font-size: 12px;
    }

    .navigator-div-zoomed-in .tooltips.tooltips.zoom-in-out span {
        font-size: 12px;
    }

    .navigator-div-zoomed-in .notifications-div .notifications-count {
        font-size: 2em;
    }

    .navigator-div-zoomed-in .notifications-count.float-right {
        /* font-size: 1em; */
    }

    /* .navigator-div.zoomin {
        top: 112% !important;
        -webkit-transform: translate(-50%, -50%) scale(3.8);
        -moz-transform: translate(-50%, -50%) scale(3.8);
        -ms-transform: translate(-50%, -50%) scale(3.8);
        transform: translate(-50%, -50%) scale(3.8);
    }

    @-webkit-keyframes navigatorAnimateZoomIn {
        100% {
            left: 18%;
            top: 112%;
            -webkit-transform: translate(-50%, -50%) scale(3.8);
            -moz-transform: translate(-50%, -50%) scale(3.8);
            -ms-transform: translate(-50%, -50%) scale(3.8);
            transform: translate(-50%, -50%) scale(3.8);
        }
    }
    
    @-moz-keyframes navigatorAnimateZoomIn {
        100% {
            left: 18%;
            top: 112%;
            -webkit-transform: translate(-50%, -50%) scale(3.8);
            -moz-transform: translate(-50%, -50%) scale(3.8);
            -ms-transform: translate(-50%, -50%) scale(3.8);
            transform: translate(-50%, -50%) scale(3.8);
        }
    }
    
    @keyframes navigatorAnimateZoomIn {
        100% {
            left: 18%;
            top: 112%;
            -webkit-transform: translate(-50%, -50%) scale(3.8);
            -moz-transform: translate(-50%, -50%) scale(3.8);
            -ms-transform: translate(-50%, -50%) scale(3.8);
            transform: translate(-50%, -50%) scale(3.8);
        }
    } */

    /* @-webkit-keyframes navigatorAnimateZoomOut {
        0% {
            left: 18%;
            top: 112%;
            -webkit-transform: translate(-50%, -50%) scale(3.8);
            -moz-transform: translate(-50%, -50%) scale(3.8);
            -ms-transform: translate(-50%, -50%) scale(3.8);
            transform: translate(-50%, -50%) scale(3.8);
        }
    
        100% {
            -webkit-transform: scale(1.5);
                -moz-transform: scale(1.5);
                    transform: scale(1.5);
        }
    }
    
    @-moz-keyframes navigatorAnimateZoomOut {
        0% {
            left: 18%;
            top: 112%;
            -webkit-transform: translate(-50%, -50%) scale(3.8);
            -moz-transform: translate(-50%, -50%) scale(3.8);
            -ms-transform: translate(-50%, -50%) scale(3.8);
            transform: translate(-50%, -50%) scale(3.8);
        }
    
        100% {
            -webkit-transform: scale(1.5);
                -moz-transform: scale(1.5);
                    transform: scale(1.5);
        }
    }
    
    @-o-keyframes navigatorAnimateZoomOut {
        0% {
            left: 18%;
            top: 112%;
            -webkit-transform: translate(-50%, -50%) scale(3.8);
            -moz-transform: translate(-50%, -50%) scale(3.8);
            -ms-transform: translate(-50%, -50%) scale(3.8);
            transform: translate(-50%, -50%) scale(3.8);
        }
    
        100% {
            -webkit-transform: scale(1.5);
                -moz-transform: scale(1.5);
                    transform: scale(1.5);
        }
    }
    
    @keyframes navigatorAnimateZoomOut {
        0% {
            left: 18%;
            top: 112%;
            -webkit-transform: translate(-50%, -50%) scale(3.8);
            -moz-transform: translate(-50%, -50%) scale(3.8);
            -ms-transform: translate(-50%, -50%) scale(3.8);
            transform: translate(-50%, -50%) scale(3.8);
        }
    
        100% {
            -webkit-transform: scale(1.5);
                -moz-transform: scale(1.5);
                    transform: scale(1.5);
        }
    } */

    

    .navigator-zoomout-btn.tooltips.zoom-in-out span, .navigator-div.zoomin .tooltips span {
        font-size: 2.6px;
    }
}

@media (min-width : 414px) 
and (max-width : 736px) 
/* and (-webkit-device-pixel-ratio : 2)  */
and (orientation : landscape) {
    .navigator-div-zoomed-in .notifications-list {
        width: 28vw;
        height: 14vw;
    }
}

@media (min-width : 320px) 
and (max-width : 568px) 
/* and (-webkit-device-pixel-ratio : 2)  */
and (orientation : landscape) {
    .navigator-div-zoomed-in {
        left: 3%;
        bottom: -1%;
    }

    .navigator-div-zoomed-in .profile-btn.tooltips span {
        -webkit-transform: translate(26%, -61%);
        -moz-transform: translate(26%, -61%);
        -ms-transform: translate(26%, -61%);
        transform: translate(26%, -61%);
    }

    .navigator-div-zoomed-in .instructions-btn.tooltips span {
        -webkit-transform: translate(29%, -35%) !important;
        -moz-transform: translate(29%, -35%) !important;
        -ms-transform: translate(29%, -35%) !important;
        transform: translate(29%, -35%) !important;
    }

    .navigator-div-zoomed-in .tos-btn.tooltips span {
        /* width: 17vw !important;
        -webkit-transform: translate(25%, -20%) !important;
        -moz-transform: translate(25%, -20%) !important;
        -ms-transform: translate(25%, -20%) !important;
        transform: translate(25%, -20%) !important; */
    }

    .navigator-zoomout-btn.tooltips.zoom-in-out span {
        -webkit-transform: translate(-54%, -175%);
        -moz-transform: translate(-54%, -175%);
        -ms-transform: translate(-54%, -175%);
        transform: translate(-54%, -175%);
        font-size: 12px !important;
    }

    .navigator-div-zoomed-in .tooltips.top span {
        -webkit-transform: translate(-49%, -240%);
        -moz-transform: translate(-49%, -240%);
        -ms-transform: translate(-49%, -240%);
        transform: translate(-49%, -240%);
    }

    .navigator-div-zoomed-in .notifications-list {
        -webkit-transform: translate(-50%, -175%);
        -moz-transform: translate(-50%, -175%);
        transform: translate(-50%, -175%);
        width: 29vw;
        height: 17vw; 
    }

    .notifications-list {
        width: 47vw;
        height: 29vw;
    }

    .profile-details {
        width: 40vw;
        height: 45vw;
    }
}