/*********************************/
.slider_circle_10 {
    position: relative;
    width: 48vw;
    height: 42vw;
    user-select: none;
}
.slider_circle_10 > * {
    transition: ease all 3s;
}
.slider_circle_10 > div,
.slider_circle_10 .hidden {
    opacity: 0;
    position: absolute;
    top: 5%;
    left: 60%;
    width: 1px;
    height: 1px;
    z-index: 0;
    overflow: hidden;
}
.image1{
	width: 100%;
    height: 100%;
background: url(../images/earth-fencing-back.gif) no-repeat;
	background-size: cover;
}
/*.image1:hover{
	width: 100%;
    height: 100%;
	background: url(../images/demo/products_services/3d_bending/vdo_1.mp4) no-repeat;
	background-size: 92%;
	margin-top: 3.7%;
    margin-left: 4%;
}*/
.image2{
	width: 100%;
    height: 100%;
	background: url(../images/moon-fencing2.gif) no-repeat;
	background-size: cover;
	/*border-radius:50%;
	box-shadow:-20px -20px 50px 2px #fff inset, 0 0 20px 2px #000;
	animation: spin 30s linear alternate infinite;*/
	
}
.image2:hover{
	width: 100%;
    height: 100%;
	background: url(../images/collage/3d_bending-collage.png) no-repeat;
	background-size: 92%;
    margin-top: 3.7%;
    margin-left: 4%;
  /*  box-shadow: inset 34px -33px 25px #171716;
    border-radius:50%;*/
}

@keyframes spin{
	0% {
		background-position: 0 0;
		}
	100%{
		background-position: 100% 0;
		}
}
/*.slider_circle_10 .active .image2{	
    width: 80%;
    height: 80%;
	background: url(../images/planet2.png) no-repeat;
	background-size:300px;
}*/
/*.image3{
	width: 100%;
    height: 50%;
	background: url(../images/alhilalbank-200.png) no-repeat;
}
.slider_circle_10 .active .image3{	
    width: 80%;
    height: 80%;
	background: url(../images/alhilalbank-430X326.png) no-repeat;
	background-size: 300px;
}
.image4{
	width: 100%;
    height: 50%;
	background: url(../images/mbaye-200.png) no-repeat;	
}
.slider_circle_10 .active .image4{	
    width: 80%;
    height: 80%;
	background: url(../images/mbaye-430X326.png) no-repeat;
	background-size: 300px;
}
.image5{
	width: 100%;
    height: 50%;
	background: url(../images/burj-khalifa-200.png) no-repeat;
}
.slider_circle_10 .active .image5{	
    width: 80%;
    height: 80%;
	background: url(../images/burj-khalifa-430X326.png) no-repeat;
	background-size: 300px;
	margin-top: 20px;
}
.image6{
	width: 100%;
    height: 50%;
	background: url(../images/dubaisafaripark-200.png) no-repeat;
	background-size: 200px;
}
.slider_circle_10 .active .image6{	
    width: 80%;
    height: 80%;
	background: url(../images/dubaisafaripark-430X326.png) no-repeat;
	background-size: 300px;
}*/
.slider_circle_10 .active {	
    opacity: 1;
    position: absolute;
    top: 9%;
    left: -26%;
    width: 90%;
    height: 104%;
    z-index: 10;
	/*box-shadow:inset -18px -18px 30px rgba(0,0,0,0.8);
	border-radius: 50%;*/
}
.slider_circle_10 .active .vdo_shadow{	
    position: absolute;
    top: -78%;
    left: -12.3%;
    width: 360%;
    height: 180%;
    box-shadow: inset -28px -28px 25px #000000;
    border-radius: 50%;
    z-index: 10;
}

.slider_circle_10 .prev1 {	
    opacity: 1;
    position: absolute;
    top: 2%;
    left: 77%;
    width: 25%;
    height: 28%;
    z-index: 9;
}
.slider_circle_10 .prev1 .vdo_shadow{	
    opacity: 1;
    position: absolute;
    top: -76%;
    left: -5.3%;
    width: 355%;
    height: 178%;
    z-index: 9;
    box-shadow: inset -16px -16px 25px #000000;
    border-radius: 50%;
}
/*.slider_circle_10 .next1 {	
    opacity: 1;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: 32%;
    width: 50%;
    height: 50%;
    z-index: 9;
}
.slider_circle_10 .prev2 {
    opacity: 1;
    position: absolute;
    top: 33%;
    left: -12%;
    width: 50%;
    height: 50%;
    z-index: 8;
}
.slider_circle_10 .next2 {
    opacity: 1;
    position: absolute;
    top: 33%;
    left: 50%;
    margin-left: 33%;
    width: 50%;
    height: 50%;
    z-index: 8;
}
.slider_circle_10 .prev3{
    opacity: 1;
    position: absolute;
    top: 7%;
    left: 35%;
    width: 50%;
    height: 50%;
    z-index: 7;
}
.slider_circle_10 .prev4,
.slider_circle_10 .next4 {
    opacity: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -40%;
    width: 3%;
    height: 3%;
    z-index: 6;
}

.slider_circle_10 .next4 {
    margin-left: 37%;
}

.slider_circle_10 .prev5,
.slider_circle_10 .next5 {
    opacity: 1;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -15%;
    width: 2%;
    height: 2%;
    z-index: 5;
}

.slider_circle_10 .next5 {
    margin-left: 13%;
}*/
.next_button {
    position: absolute;
    left: 85% !important;
    top: 100% !important;
    margin: -15px 0 0 -25px !important;
    width: 100px !important;
    height: 50px !important;
    z-index: 5000 !important;
	background: url(../images/left-arrow.png) no-repeat !important;
	background-size: 100px 48px;
    opacity: 1 !important;
    
}
.prev_button {
    position: absolute;
    left: 84% !important;
    top: 107% !important;
    margin: -15px 0 0 -25px !important;
    opacity: 1 !important;
    width: 100px !important;
    height: 50px !important;
    z-index: 5000 !important;
	background: url(../images/right-arrow.png) no-repeat !important;
	background-size: 100px 48px;
    
}
/*.next_button:hover,

.prev_button:hover {
    opacity: 1 !important;
}
.next_button:after,
.prev_button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    margin-top: -10px;
}*/

.prev_button:after {
    border-left: 15px solid #000;
    border-right: 15px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    margin-left: -5px;
}

.next_button:after {
    border-right: 15px solid #000;
    border-left: 15px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    margin-left: -25px;
}


div.slider > div:not(.nav_indicators):not(.next_button):not(.prev_button) {
   /* box-shadow: 0px 1px 3px #000;
    border: 1px solid #000;
    background: #fff;*/
    text-align: center;
    box-sizing: border-box;
    font-size: 150px;
}
