#search-friends {
    /* z-index: 1; */
}

#search-friends {
    height: 9.2vw;
}

.arrow-right, .arrow-left {
    z-index: 1;
}

.arrow-left {
    transform: scaleX(1);
}

.add-friend-icon {
    background: #3cb878;
    right: 0;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0);
}

.add-friend-icon img {
    width: 80%;
}

#round-image-large1 {
    top: 75%;
    left: 11%;
}

#round-image-large2 {
    top: 84%;
    left: 86%;
    width: 10vw;
    height: 10vw;
}

#round-image-large3 {
    width: 9vw;
    height: 9vw;
    top: 41%;
    left: 21%;
}

#round-image-large4 {
    top: 55%;
    left: 93%;
    width: 8vw;
    height: 8vw;
}

#round-image-large5 {
    width: 8vw;
    height: 8vw;
    top: 26%;
    left: 78.5%;
}

#round-image-large6 {
    top: 12%;
    left: 6%;
    width: 4vw;
    height: 4vw;
}

#round-image-large7 {
    left: 94%;
    top: 9%;
    width: 5vw;
    height: 5vw;
}

.friends {
    z-index: 1;
}

.friends.zoom-in {
    width: 29vw !important;
    height: 29vw !important;
    top: 45% !important;
    left: 50% !important;
}

.friends.zoom-in {
    width: 27vw !important;
    height: 27vw !important;
    top: 45% !important;
    left: 50% !important;
}
  
/* #round-image-large {
    position: absolute;
    transition: 3s;
    width: 29vw !important;
    height: 29vw !important;
    top: 45% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;
    animation: sunpulse 1s alternate infinite;
} */

/* .zoom-in .friend-details {
    display: block;
} */

.zoom-in img {
    pointer-events: none;
}

.main-friends.with-background {
    background: transparent;
    z-index: 0;
}

.tooltips.right span {
    -webkit-transform: translate(34%, -50%);
    -moz-transform: translate(34%, -50%);
    -ms-transform: translate(34%, -50%);
    transform: translate(34%, -50%);
    width: 8vw;
}

#toast-container>.toast-info {
    background-color:rgba(8, 64, 147, 0.78);
    background-image: none !important;
    background-size: 18%;
    background-position: 1% center;
    box-shadow: 0px 0px 12px #17a2b8;
    /* color: #f74545; */
    padding: 4%;
    width: 22vw;
    font-size: 1vw;
}

#toast-container .toast-message {
    display: flex;
    align-items: center;
}

.toast-message p {
    margin-left: 5%;
}

#toast-container .toastr-custom-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 4vw;
    height: 4vw;
    /* border: 1px solid red; */
    border-radius: 100px;
}

.sort-div {
    position: absolute;
    top: 1%;
    left: 0.5%;
    width: 15vw;
    /* height: 20.5vw; */
    background: #14284a;
    padding: 0.3%;
    z-index: 2;
}

.sort-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-header p {
    font-family: Nasalization;
    color: #00e4e7;
    font-size: 1vw;
}

.sort-header button {
    border: 0;
    margin: 0;
    background: transparent;
    font-size: 1.3vw;
    color: #0aa9ae;
}

.sort-select {
    /* height: 5vw; */
}

.sort-body {
    display: none;
}

.sort-select select {
    background: rgba(12, 44, 90, 0.73);
    border: 0;
    outline: 0;
    font-family: 'Nasalization';
    border-radius: .25rem;
    font-size: 1vw;
    color: #eeeeee;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: 8%;
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    vertical-align: middle;
    /* background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right .75rem center; */
    background-size: 8px 10px;
    /* border: 1px solid #ced4da; */
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sort-friends {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    background-color: #3085d6;
    border: 1px solid #fff;
    color: #fff;
    /* padding: 1% 4%; */
    border-radius: 4px;
    font-size: 1vw;
}