/* @media only screen  and (min-width:1030px){
    .sidenav {
        display: flex;
        flex-direction: column;
        width: 0;
        position: fixed;
        z-index: 10;
        top: 18%;
        left: 0;
        background-color: #111;
        overflow: hidden !important;
        transition: 0.5s;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 55%;
        left: 40%;
        transform: translate(152%,-58%);
        font-size: 17px;
        color: gold;
        font-family: Arial;
    }
    
    .sidenav a {
        padding: 30px 8px 2px 16px;
        text-decoration: none;
        font-size: 0.8rem;
        color: white;
        display: block;
        transition: 0.3s;
        font-family: Arial;
    }
    .slider {
        height: 28vw;
        width: 2%;
        display: flex;
        position: absolute;
        left: 50%;
        top: 47%;
        transform: translate(-2503%,-50%);
        background: black;
    }
    .arrows {
        
        left: 20%;
        top: -13%;
        position: absolute;
        transform: translate(-1%,245%);
        text-align: center;
    }
    #main {
        transition: margin-left .5s;
        border: 0px solid white;
        position: absolute;
        left: 20%;
        top: 95%;
        height: 57%;
        width: 24%;
        transform: translate(94%,-40%);
        /* background: black; */
    /* }
}  */

@media only screen 
and (min-width : 1024px) 
and (max-width : 1366px) 
and (orientation : landscape){
    .sidenav {
        display: flex;
        flex-direction: column;
        width: 0;
        position: fixed;
        z-index: 100;
        top: 18%;
        overflow-y: scroll;
        left: 0;
        background-color: #111;
        overflow-x: hidden !important;
        transition: 0.5s;
    }
    
    /* .sidenav .closebtn {
        position: absolute;
        top: 52%;
        left: 32%;
        transform: translate(152%,-58%);
        font-size: 17px;
        color: gold;
        font-family: Arial;
    } */
    
    .sidenav a {
        padding: 10px 8px 6px 16px;
        text-decoration: none;
        font-size: 12px;
        color: white;
        display: block;
        transition: 0.3s;
        font-family: Arial;
    }
    .slider {
        height: 20vw;
        width: 3vw;
        display: flex;
        /* border: 1px solid white; */
        position: absolute;
        height: 55vh;
        top: 21%;
        background: black;
    }
    .arrows {
        /* font-size: 17px;
        font-family: Arial;
        cursor: pointer; */
        left: 20%;
        top: -13%;
        position: absolute;
        transform: translate(-1%,245%);
        text-align: center;
    }
    /* #main {
        transition: margin-left .5s;
        border: 0px solid white;
        position: absolute;
        left: 20%;
        top: 95%;
        height: 57%;
        width: 24%;
        transform: translate(94%,-40%);
        /* background: black; */
     */
    .modal .modal-content {
        border: 0;
        background-color: transparent;
        /* box-shadow: 0px 0px 20px #17a2b842; */
        /* flex-wrap: nowrap !important; */
        /* top: 137px; */
        /* transform: translate(3%, 17%); */
        /* -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%); */
/* transform: translate(-50%, -50%); */
        /* position: absolute; */
        /* height:100%; */
        /* object-fit: contain; */
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        /* width: 50vw; */
    }
    .education-modal-body{
        height: 31vw;
        overflow-y:auto;
    }
    .contact-body{
        height: 31vw;
        overflow-y:auto;
    }
    /* .profession-body{
        height: 31vw;
        overflow-y:auto;
    } */
    .aboutme-body{
        height: 31vw;
        /* overflow-y: auto; */
        /* display: flex; */
        /* background-size: cover; */
        /* margin-top: 8%; */
    }
    .sidenav-left {
        position: fixed;
        width: 6vw;
        height: 34vw;
        z-index: 1;
        top: 20vw;
        left: 0vw;
        background: transparent;
        overflow-x: hidden;
        transform: translate(-50%, 0);
        padding: 8px 0;
        margin: 0.5vw;
        color: #fff;
        overflow: hidden;
    }
    /* .work-modal-body{
        height: 31vw;
        overflow-y: auto;
    } */
    /* .form-row>.col, .form-row>[class*=col-] {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 1.5rem !important;
    } */
    /* .input-group-sm>.input-group-append>select.btn:not([size]):not([multiple]), .input-group-sm>.input-group-append>select.input-group-text:not([size]):not([multiple]), .input-group-sm>.input-group-prepend>select.btn:not([size]):not([multiple]), .input-group-sm>.input-group-prepend>select.input-group-text:not([size]):not([multiple]), .input-group-sm>select.form-control:not([size]):not([multiple]), select.form-control-sm:not([size]):not([multiple]) {
        height: calc(1.8125rem + 2px);
        font-size: 1.3rem !important;
    } */
}


/* @media only screen  and (min-height:1024px){
    
} */
@media (min-width: 768px) and (max-width: 991.98px) {
    .work-experience-body fieldset, .education-body fieldset, .reference-body fieldset, .aboutme-body fieldset, .contact-body fieldset, .profession-body fieldset {
        border: 1px solid #fff;
        
        border-radius: 10px;
        padding: 4% 4% 4% 4%;
        width: 49vw;
        /* display: flex; */
        overflow-y: scroll;
    }
    .education-modal-body{
        height: 19vw;
        overflow-y:auto;
    }
    .contact-body{
        height: 15vw;
        overflow-y:auto;
    }
    .profession-body{
        height: 15vw;
        overflow-y:auto;
    }
    .aboutme-body{
        height: 17vw;
        /* overflow-y: auto; */
        /* display: flex; */
        /* background-size: cover; */
        /* margin-top: 8%; */
    }
    .work-modal-body{
        height: 25vw;
        overflow-y: auto;
    }
    .modal .modal-content {
        border: 0;
        background-color: transparent;
        /* box-shadow: 0px 0px 20px #17a2b842; */
        /* flex-wrap: nowrap !important; */
        /* top: 31px; */
        /* height: 70vh !important; */
        /* position: absolute; */
        /* height:100%; */
        /* object-fit: contain; */
        /* width: 50vw; */
    }
    .form-row>.col, .form-row>[class*=col-] {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 1rem !important;
    }
    .input-group-sm>.input-group-append>select.btn:not([size]):not([multiple]), .input-group-sm>.input-group-append>select.input-group-text:not([size]):not([multiple]), .input-group-sm>.input-group-prepend>select.btn:not([size]):not([multiple]), .input-group-sm>.input-group-prepend>select.input-group-text:not([size]):not([multiple]), .input-group-sm>select.form-control:not([size]):not([multiple]), select.form-control-sm:not([size]):not([multiple]) {
        height: calc(1.8125rem + 2px);
        font-size: 0.875rem !important;
    }
    .slider {
        height: 20vw;
        width: 3vw;
        display: flex;
        /* border: 1px solid white; */
        position: absolute;
        height: 65vh;
        /* top: 18%;
        left: 50%;
        top: 50%;
        transform: translate(-2503%,-50%); */
        background: black;
    }
    .heading_setup {
        color: gold;
        transition: 0.3s;
        font-family: Arial;
        text-align: center;
        font-size: 0.8rem;
    }
    .sidenav {
        display: flex;
        flex-direction: column;
        width: 0;
        position: fixed;
        z-index: 100;
        top: 18%;
        left: 0;
        height: 75vh;
        overflow-y: scroll;
        background-color: #111;
        overflow-x: hidden !important;
        transition: 0.5s;
    }
    .sidenav a {
        padding: 5px 8px 6px 8px;
        text-decoration: none;
        font-size: 1 rem;
        color: white;
        display: block;
        transition: 0.3s;
        font-family: Arial;
    }
    /* .sidenav .closebtn {
        position: absolute;
        top: 57%;
        left: 6%;
        transform: translate(152%,-58%);
        font-size: 17px;
        color: gold;
        font-family: Arial;
    } */
    #main {
        transition: margin-left .5s;
        border: 0px solid white;
        position: absolute;
        left: calc(66% - 10px);
        top: calc(7% + 1px);
        height: 55%;
        width: 24%;
        /* transform: translate(94%,-60%); */
        /* background: black; */
    }
    #edit_uploaded_image {
        display: none;
        right: 2vw;
        top: -2vh;
        position: absolute;
        font-size: 2em;
        border: none;
        color: white;
        padding: 12px 16px;
        width: 5vw;
        cursor: pointer;
    }
    .form-row{
        display: flex;
        max-height: 100%;
    }

    
    .form-row{
        height: auto;
        display: flex;
    }
    
    .reference-modal-body{
        height: 20vw;
        overflow-y: auto;
    }
}
@media only screen and (min-width:414px) and (max-width:736px) and (orientation : landscape){
    .work-experience-body fieldset, .education-body fieldset, .reference-body fieldset, .aboutme-body fieldset, .contact-body fieldset, .profession-body fieldset {
        border: 1px solid #fff;
        
        border-radius: 10px;
        padding: 4% 4% 4% 4%;
        width: 50vw;
        /* display: flex; */
        overflow-y: scroll;
    }
    .education-modal-body{
        height: 19vw;
        overflow-y:auto;
    }
    .contact-body{
        height: 15vw;
        overflow-y:auto;
    }
    .profession-body{
        height: 15vw;
        overflow-y:auto;
    }
    .aboutme-body{
        height: 17vw;
        /* overflow-y: auto; */
        /* display: flex; */
        /* background-size: cover; */
        /* margin-top: 8%; */
    }
    .work-modal-body{
        height: 25vw;
        overflow-y: auto;
    }
    .modal .modal-content {
        border: 0;
        background-color: transparent;
        /* box-shadow: 0px 0px 20px #17a2b842; */
        /* flex-wrap: nowrap !important; */
        /* top: 31px; */
        /* height: 70vh !important; */
        /* position: absolute; */
        /* height:100%; */
        /* object-fit: contain; */
        /* width: 50vw; */
    }
    .form-row>.col, .form-row>[class*=col-] {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 1rem !important;
    }
    .input-group-sm>.input-group-append>select.btn:not([size]):not([multiple]), .input-group-sm>.input-group-append>select.input-group-text:not([size]):not([multiple]), .input-group-sm>.input-group-prepend>select.btn:not([size]):not([multiple]), .input-group-sm>.input-group-prepend>select.input-group-text:not([size]):not([multiple]), .input-group-sm>select.form-control:not([size]):not([multiple]), select.form-control-sm:not([size]):not([multiple]) {
        height: calc(1.8125rem + 2px);
        font-size: 0.875rem !important;
    }
    .slider {
        height: 20vw;
        width: 3vw;
        display: flex;
        /* border: 1px solid white; */
        position: absolute;
        height: 65vh;
        /* top: 18%;
        left: 50%;
        top: 50%;
        transform: translate(-2503%,-50%); */
        background: black;
    }
    .heading_setup {
        color: gold;
        transition: 0.3s;
        font-family: Arial;
        text-align: center;
        font-size: 0.6rem;
    }
    .sidenav {
        display: flex;
        flex-direction: column;
        width: 0;
        position: fixed;
        z-index: 100;
        top: 18%;
        left: 0;
        height: 75vh;
        overflow-y: scroll;
        background-color: #111;
        overflow-x: hidden !important;
        transition: 0.5s;
    }
    /* .sidenav a {
        padding: 5px 8px 6px 8px;
        text-decoration: none;
        font-size: 8px;
        color: white;
        display: block;
        transition: 0.3s;
        font-family: Arial;
    } */
    /* .sidenav .closebtn {
        position: absolute;
        top: 57%;
        left: 6%;
        transform: translate(152%,-58%);
        font-size: 17px;
        color: gold;
        font-family: Arial;
    } */
    #main {
        transition: margin-left .5s;
        border: 0px solid white;
        position: absolute;
        left: calc(66% - 10px);
        top: calc(7% + 1px);
        height: 55%;
        width: 24%;
        /* transform: translate(94%,-60%); */
        /* background: black; */
    }
    #edit_uploaded_image {
        display: none;
        right: 4vw;
        top: -2vh;
        position: absolute;
        font-size: 2em;
        border: none;
        color: white;
        padding: 12px 16px;
        width: 5vw;
        cursor: pointer;
    }
    .form-row{
        display: flex;
        max-height: 100%;
    }

    
    .form-row{
        height: auto;
        display: flex;
    }
    
    .reference-modal-body{
        height: 20vw;
        overflow-y: auto;
    }
}


@media only screen 
and (min-width : 320px) 
and (max-width : 568px) 
and (orientation : landscape){
   
}




@media only screen and (max-width:480px){
    .sidenav a {
        /* padding: 3px 8px 2px 6px; */
        text-decoration: none;
        font-size: 1 rem;
        color: white;
        display: block;
        transition: 0.3s;
        font-family: Arial;
        height: 33vh;
    }
    /* .slider {
        height: 34vw;
        width: 2%;
        display: flex;
        position: absolute;
        left: 50%;
        top: 52%;
        transform: translate(-2503%,-50%);
        background: black;
    } */
    .sidenav {
        display: flex;
        flex-direction: column;
        /* width: 0; */
        position: fixed;
        z-index: 100;
        top: 18%;
        left: 0;
        height: 66vh;
        background-color: #111;
        overflow: hidden !important;
        transition: 0.5s;
    }
    /* .sidenav .closebtn {
        position: absolute;
        top: 82%;
        left: -16%;
        transform: translate(152%,-58%);
        font-size: 17px;
        color: gold;
        font-family: Arial;
    } */
    .modal .modal-content {
        border: 0;
        background-color: transparent;
        /* box-shadow: 0px 0px 20px #17a2b842; */
        /* flex-wrap: nowrap !important; */
        /* top: 31px; */
        /* height: 70vh !important; */
        /* position: absolute; */
        /* width: 50vw; */
        left: 32%;
    }
    .work-experience-body fieldset, .education-body fieldset, .reference-body fieldset, .aboutme-body fieldset, .contact-body fieldset, .profession-body fieldset {
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 5% 4% 8% 4%;
        width: 50vw;
        /* display: flex; */
        /* overflow-y: scroll; */
    }
    .form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text {
        padding: .25rem .25rem;
        font-size: 8px;
        line-height: 1.5;
        border-radius: .2rem;
    }
    .work-experience-body, .education-body, .reference-body, .aboutme-body, .profession-body, .contact-body {
        color: #fff;
        font-size: 0.6em;
        /* width: 45vw; */
        margin-left: 3%;
    }
    .form-row{
        display: flex;
        max-height: 100%;
    }

    .education-modal-body{
        height: 25vw;
        overflow-y:auto;
    }
    .contact-body{
        height: 23vw;
        overflow-y:auto;
    }
    .profession-body{
        height: 19vw;
        overflow-y:auto;
    }
    .aboutme-body{
        height: 19vw;
        overflow-y: auto;
        /* display: flex; */
        /* background-size: cover; */
        /* margin-top: 8%; */
    }
    .work-modal-body{
        height: 25vw;
        overflow-y: auto;
    }
    .form-row{
        height: auto;
        display: flex;
    }

    .modal-body {
        position: relative;
        padding: 1rem;
        flex:1 !important;
    }
    .btn {
       
        line-height: 0.8rem !important;
       
    }
    /* #main {
        transition: margin-left .5s;
        border: 0px solid white;
        position: absolute;
        left: 12%;
        top: 46%;
        height: 57%;
        width: 24%;
        transform: translate(94%,-40%);
       
    } */
    .clone-btn-education,.clone-btn-workexperience,.clone-btn-reference {
        position: absolute;
        /* top: 10%; */
        left: 95%;
        display: flex;
        /* transform: translate(1640%,-1282%); */
    }
}







