/* ipads */
@media only screen 
and (min-width : 1024px) 
and (max-width : 1368px) 
and (orientation : landscape){
    .saveicon {
        position: relative;
        top: 10%;
        height: 5vh !important;
    }
     .titile {
        color:   #efad0c !important;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'Arial';
        font-size: 1.2rem;
    }
    .lbl_titile {
        color:  #efad0c;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'Arial';
        font-size: 0.875rem;
    }
    .spn_value {
        color: #bfd3dc;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'Arial';
        font-size: 1rem;
    }
    .spn_valuee {
        color: #bfd3dc;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'Arial';
        font-size: 1rem;
    }
    .job-dates {
        color: #bfd3dc;
        /* color: #6F6F6F; */
        text-shadow: 0px 0px 3px #000000;
        font-family: "Times New Roman", Times, serif;
        font-size: 0.875rem;
    }
    .role-responsibilty {
        color: #bfd3dc;
        /* color: #6F6F6F; */
        text-shadow: 0px 0px 3px #000000;
        font-family: "Times New Roman", Times, serif;
        font-size: 0.9rem;
        text-align: justify-all;
    }
    .lbl_sub_title {
        color:  #efad0c;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'Arial';
        font-size: 0.875rem;
    }
    .navigator-div-zoomed-in.tom .navigator-zoomout-btn.tooltips.zoom-in-out span {
       transform: translate(-53%, -174%) !important;
    }
    .navigator-div-zoomed-in .tooltips.left span {
        transform: translate(-149%, -26%);
        width: 14vw !important;
    }
    .navigator-div-zoomed-in .music-btn.tooltips span {
        width: 16vw !important;
        transform: translate(-135%, -50%);
    }
}


@media only screen 
and (min-width : 730px) 
and (max-width : 1023px) 
and (orientation : landscape) {
    .navigator-div-zoomed-in.tom .navigator-zoomout-btn.tooltips.zoom-in-out span {
        transform: translate(-53%, -174%);
     }
     .navigator-div-zoomed-in .tooltips.left span {
        transform: translate(-149%, -26%);
        width: 14vw !important;
    }
    .navigator-div-zoomed-in .music-btn.tooltips span {
        width: 16vw !important;
        transform: translate(-135%, -50%);
    }
    .saveicon {
        position: relative;
        top: 10%;
        height: 7vh;
    }
    .arrow {
        font-size: 17px;
        font-family: Arial;
        cursor: pointer;
        left: 20%;
        top: 20%;
        position: absolute;
        transform: translate(-1%,175%);
        text-align: center;
        color: #bfd3dc;
    }
    .titile {
        color:   #efad0c !important;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'Arial';
        font-size: 1rem;
    }
    .lbl_titile {
        color:  #efad0c;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'Arial';
        font-size: 0.875rem;
    }
    .lbl_title {
        color: #efad0c !important;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'arial';
        font-size: 14px !important;
        padding: 1%;
        width: 18vw;
    }
    .spn_value {
        color: #bfd3dc;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'Arial';
        font-size: 1rem;
    }
    .job-dates {
        color: #bfd3dc;
        /* color: #6F6F6F; */
        text-shadow: 0px 0px 3px #000000;
        font-family: "Times New Roman", Times, serif;
        font-size: 0.7rem;
    }
    .role-responsibilty {
        color: #bfd3dc;
        /* color: #6F6F6F; */
        text-shadow: 0px 0px 3px #000000;
        font-family: "Times New Roman", Times, serif;
        font-size: 0.9rem;
        text-align: justify-all;
    }
    .lbl_sub_title {
        color:  #efad0c;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'Arial';
        font-size: 0.7rem;
    }
    /* .objective p{
        font-size: 1rem !important;
    } */
    .spn_valuee {
        color: #bfd3dc;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'arial';
        font-size: 1rem;
    }
    .modal_spn_value {
       font-size: 1rem;
       
    }
    .tooltips-buttons span {
      height: 5vh;
    }
    .navigator-div-zoomed-in.tom .navigator-zoomout-btn.tooltips.zoom-in-out span {
        transform: translate(-53%, -174%) !important;
     }
}
@media only screen and (max-width : 992px){
    .tooltips span {
        font-size: 16px !important;
        border-radius: 6px;
    }
}
@media only screen 
and (min-width : 568px) 
and (max-width : 736px) 
and (orientation : landscape) {
    .saveicon{
        position: relative;
        top: 10%;
        height: 6vh;
    }
    .arrow {
        font-size: 17px;
        font-family: Arial;
        cursor: pointer;
        left: 20%;
        top: 20%;
        position: absolute;
        transform: translate(-1%,175%);
        text-align: center;
        color: #bfd3dc;
    }
    .titile {
        color:   #efad0c !important;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'Arial';
        font-size: 1rem;
    }
    .lbl_titile {
        color:  #efad0c;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'Arial';
        font-size: 0.8rem;
    }
    .lbl_title {
        color: #efad0c !important;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'arial';
        font-size: 15px;
        padding: 1%;
        width: 18vw;
    }
    .spn_value {
        color: #f8f9fabf;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'Arial';
        font-size: 0.8rem;
    }
    .spn_valuee {
        color: #f8f9fabf;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'arial';
        font-size: 0.8rem;
        /* padding-left: 8%; */
    }
    .job-dates {
        color: #bfd3dc;
        /* color: #6F6F6F; */
        text-shadow: 0px 0px 3px #000000;
        font-family: "Times New Roman", Times, serif;
        font-size: 0.8rem;
    }
    .role-responsibilty {
        color: #bfd3dc;
        /* color: #6F6F6F; */
        text-shadow: 0px 0px 3px #000000;
        font-family: "Times New Roman", Times, serif;
        font-size: 0.8rem;
        text-align: justify-all;
    }
    .lbl_sub_title {
        color:  #efad0c;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'Arial';
        font-size: 0.6rem;
    }
}    

@media only screen 
and (min-width : 319px) 
and (max-width : 569px) 
and (orientation : landscape) {
    .titile {
       
        font-size: 11px;
    }
    .saveicon{
        position: relative;
        top: 10%;
        height: 50px;
    }
    .lbl_titile {
       font-size: 10px;
    }
    .spn_value {
        color: #bfd3dc;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'arial';
        font-size: 10px;
        /* padding-left: 8%; */
    }
    .spn_valuee {
        color: #bfd3dc;
        text-shadow: 0px 0px 3px #000000;
        font-family: 'arial';
        font-size: 10px;
        /* padding-left: 8%; */
    }
    .saveicon{
        position: relative;
        top: 10%;
        height: 6vh;
    }
}