.tooltips-buttons.top span {
    -webkit-transform: translate(-49%, -243%);
    -moz-transform: translate(-49%, -243%);
    -ms-transform: translate(-49%, -243%);
    transform: translate(0%, -73%);
    white-space: nowrap;
    width: auto;
}
.tooltips-buttons span {
    position: relative;
    top: 50%;
    left: 50%;
    /* opacity: 0.8; */
    -webkit-transform: translate(20%, -50%);
    -moz-transform: translate(20%, -50%);
    -ms-transform: translate(20%, -50%);
    transform: translate(20%, -50%);
    /* left: 70%; */
    /* top: 50%; */
    /* margin-top: -36px; */
    /* margin-left: 15px; */
    z-index: 999;
    width: 13vw;
    color: #FFFFFF;
    text-shadow: 0px 0px 3px #000000;
    font-family: 'Arial';
    background: #0b91c3a3;
    /* height: 72px; */
    line-height: 1em;
    text-align: center;
    display: none;
    border-radius: 12px;
    -webkit-box-shadow: 0px 3px 4px #000000;
    box-shadow: 0px 3px 4px #000000;
    font-size: 1em;
    word-wrap: break-word;
    padding: 10%;
    outline: 0;
    border: 0;
}
.tooltips-buttons:hover span{
    display: block;
}
.planet-buttons .tooltips:hover span {
    display: inline;
}
.tooltips-buttons span:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-right: 1em solid #0b91c3a3;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.button.tooltips-buttons {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    outline: 0;
    /* align-items: center; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.featured-img{
    border-top: 1px solid gray;
    padding-bottom: 1%;
    height:100%;
}
#featured-image-previewimg{
    padding-top:1.5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: contain;
    max-inline-size: fit-content;
    height: 66vh;
    max-width: 100%;
    max-height: 100%;
} 
.tooltips {
    position: relative;
    display: inline;
}
.tooltips span {
    position: absolute;
    top: 50%;
    left: 50%;
    /* opacity: 0.8; */
    -webkit-transform: translate(20%, -50%);
    -moz-transform: translate(20%, -50%);
        -ms-transform: translate(20%, -50%);
            transform: translate(20%, -50%);
    /* left: 70%; */
    /* top: 50%; */
    /* margin-top: -36px; */
    /* margin-left: 15px; */
    z-index: 999;
    width: 13vw;
    color: #FFFFFF;
    text-shadow: 0px 0px 3px #000000;
    font-family: 'Arial';
    background: #0b91c3a3;
    /* height: 72px; */
    line-height: 1em;
    text-align: center;
    display:none;
    border-radius: 12px;
    -webkit-box-shadow: 0px 3px 4px #000000;
            box-shadow: 0px 3px 4px #000000;
    font-size: 1em;
    word-wrap: break-word;
    padding: 10%;
    outline: 0;
    border: 0;
}

.tooltips span:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-right: 1em solid #0b91c3a3;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.tooltips.zoom-in-out span {
    padding: 10%;
    font-size: 1em;
    -webkit-transform: translate(-54%, -169%);
    -moz-transform: translate(-54%, -169%);
    -ms-transform: translate(-54%, -169%);
    transform: translate(-54%, -169%);
    width: auto;
    white-space: nowrap;
}
.tooltips.zoom-in-out span::after {
	border: 0;
}
.planet-buttons {
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    position: relative;
    outline:none;
    /* right: 0; */
    /* top: 90%; */
    top: 10%;
    /* border: 1px solid red; */
    /* left: 27%; */
    animation-duration: 3s;
}
.zoomin-astronaut .tooltips span:after {
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.close{
    color: #f8f9fabf !important;
}
.planet-buttons button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
    /* line-height: 1; */
    /* border: 1px solid red; */
    border-radius: 50%;
    border:none;
}
.planet-buttons button img{
    width:100%;
    padding: 5%;
}
/* .planet-buttons button img {
    width: 75%;
    align-self: center;
    cursor: pointer;
}*/
.planet-buttons button.view {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-429%, 397%); */
    background: #00bff3;
    outline: none !important;
    box-shadow:1px 1px 11px #0000005e;
}
.planet-buttons button.messenger{
    background-color: #1cbbb4;
    box-shadow: 1px 1px 11px #0000005e;
    outline: none !important;
}
.view-profile-button{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 14%;
    /* top: -10%; */
    position: absolute;
    bottom: 0;
}
.view-profile-button button{
   display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
outline: none !important;
/* flex-direction: column; */
justify-content: space-between;
width: 10%;
/* line-height: 1; */
/* border: 1px solid red; */
border-radius: 50%;
border:none;
}
.view-profile-button button img{
width:100%;
/* padding: 5%; */
height: -webkit-fill-available;
}
.view-profile-button button.more-icon{
background-color: #e09135;
box-shadow: 1px 1px 11px #0000005e;
}
/*.planet-buttons button {
    border: 0;
    padding: 0;
    border: 1px solid
    width: 3vw;
    height: 3vw;
    border-radius: 100px;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px #000;
    opacity: 0.8;
} */
.planet-buttons span.view-pop-up {
    -webkit-transform: translate(-315%, -50%);
    -moz-transform: translate(-315%, -50%);
    -ms-transform: translate(-315%, -50%);
    transform: translate(-315%, -50%);
}
.planet-buttons span.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    /* opacity: 0.8; */
    -webkit-transform: translate(20%, -50%);
    -moz-transform: translate(20%, -50%);
    -ms-transform: translate(20%, -50%);
    transform: translate(-211%, 440%);
    z-index: 999;
    width: 7vw;
    color: #FFFFFF;
    text-shadow: 0px 0px 3px #000000;
    font-family: 'Arial';
    background: #0b91c3a3;
    /* height: 72px; */
    line-height: 0.3em;
    text-align: center;
    display: none;
    border-radius: 1px;
    -webkit-box-shadow: 0px 3px 4px #000000;
    box-shadow: 0px 3px 4px #000000;
    font-size: 0.8em;
    word-wrap: break-word;
    padding: 1%;
    outline: 0;
    border: 0;


}
 .planet-buttons button.save {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(99%,401%); */
    background: #2b9964;
    outline: none !important;
    box-shadow: 1px 1px 11px #0000005e;
    /* pointer-events: none; */
} 


.planet-buttons span.collage-pop-up {
    top: -5%;
    width: auto;
    white-space: nowrap;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
.planet-buttons span.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    /* opacity: 0.8; */
    -webkit-transform: translate(20%, -50%);
    -moz-transform: translate(20%, -50%);
    -ms-transform: translate(20%, -50%);
    transform: translate(-134%, 565%);
    z-index: 999;
    width: 7vw;
    color: #FFFFFF;
    text-shadow: 0px 0px 3px #000000;
    font-family: 'Arial';
    background: #0b91c3a3;
    /* height: 72px; */
    line-height: 0.2em;
    text-align: center;
    display: none;
    border-radius: 1px;
    -webkit-box-shadow: 0px 3px 4px #000000;
    box-shadow: 0px 3px 4px #000000;
    font-size: 0.8em;
    word-wrap: break-word;
    padding: 1%;
    outline: 0;
    border: 0;
}
.planet-buttons button.call {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(571%,401%); */
    background: #b0a034;
    outline: none !important;
    box-shadow:1px 1px 11px #0000005e;
}
.fa-ellipsis-h{
    color: #00bff3;
    font-size: calc(1vw + 10px ) !important;
    position:relative; 
    float:right; 
    right:5%;
}
.bg-div{
    position: absolute;
    top: 15vh;
    left: 21vw;
    width: 55vw;
    height: 67vh;
    /* margin: 0 auto; */
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    border: 0;
    background-color: #17a2b854;
    box-shadow: 2px 0px 9px #17a2b8;
}
.about{
    position: absolute;
    top: 4vh;
    left: 2vw;
    width: 23vw;
    height: 21vh;
    /* margin: 0 auto; */
    overflow-y: scroll;
    /* display: flex; */
    border: 0;
    background-color: transparent;
    box-shadow: 2px 2px 14px #ded9e044;
    display: none;
    background: #0072bc33;
    border-radius: 3%;
    flex-direction:column;
    /* padding: 2%;
    display:flex;
    flex-direction:column;
    padding:0 !important; */
}

.education{
    position: absolute;
    top: 29vh;
    left: 2vw;
    width: 23vw;
    height: 21vh;
    /* margin: 0 auto; */
    /* overflow: hidden; */
    display: flex;
    border: 0;
    background-color: transparent;
    box-shadow: 2px 2px 14px #ded9e044;
    display: none;
    background: #0072bc33;
    border-radius: 3%;
    overflow-y: scroll;
    /* padding: 2%;
    overflow-y: auto; */
}
.contacts{
    position: absolute;
    top: 53vh;
    left: 2vw;
    width: 23vw;
    height: 21vh;
    /* margin: 0 auto; */
    /* overflow: hidden; */
    display: flex;
    border: 0;
    background-color: transparent;
    box-shadow: 2px 2px 14px #ded9e044;
    display: none;
    background: #0072bc33;
    border-radius: 3%;
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding: 2%; */
    /* overflow-y: auto; */
}
.character_refernces{
    position: absolute;
    top: 78vh;
    left: 2vw;
    width: 23vw;
    height: 21vh;
    /* margin: 0 auto; */
    /* overflow: hidden; */
    display: flex;
    border: 0;
    background-color: transparent;
    box-shadow: 2px 2px 14px #ded9e044;
    display: none;
    background: #0072bc33;
    border-radius: 3%;
    overflow-y: scroll;
    /* padding: 2%; */
    /* overflow-y: scroll; */
}
.job_description{
    position: absolute;
    top: 4vh;
    left: 72vw;
    width: 26vw;
    height: 95vh;
    /* margin: 0 auto; */
    /* overflow: hidden; */
    display: flex;
    flex-direction:column;
    border: 0;
    background-color: transparent;
    box-shadow: 2px 2px 14px #ded9e044;
    display: none;
    background: #0072bc33;
    border-radius: 3%;
    /* padding: 2%; */
    overflow-y: scroll;
    padding:0 !important;
}
.lbl_title{
    color:#efad0c !important;
    text-shadow: 0px 0px 3px #000000;
    font-family: 'arial';
    font-size: 1.2rem;
    padding: 1%;
    width: 18vw;
}
.lbl_titile{
    color:#efad0c !important;
    text-shadow: 0px 0px 3px #000000;
    font-family: 'arial';
    font-size: 1.2rem;
    padding: 1%;
   
}
.lbl_sub_title{
    color:#efad0c;
    text-shadow: 0px 0px 3px #000000;
    font-family: 'arial';
    font-size: 1.2rem;
}
.spn_value{
    color:#bfd3dc;
    text-shadow: 0px 0px 3px #000000;
    font-family: 'arial';
    font-size: 1.2rem;
    padding-left:8%;
   
}
.spn_valuee{
    color:#f8f9fabf;
    text-shadow: 0px 0px 3px #000000;
    font-family: 'arial';
    font-size: 1.2rem;
    /* padding-left:8%; */
    text-align: justify-all;
   
}
.modal_spn_value{
    color:#f8f9fabf;
    text-shadow: 0px 0px 3px #000000;
    font-family: 'arial';
    font-size: 1.2rem;
    text-align: justify-all
    /* padding-left:8%; */
   
}
.role-responsibilty{
    color:#8e9898;
    /* color:#6F6F6F; */
    text-shadow: 0px 0px 3px #000000;
    font-family: "arial";
    font-size: 1rem;
    text-align: justify-all;
    padding-left: 7%;
}
.jobDesRole{
    /* padding: 1%;
    width: 228.47px; */
    margin-left: 1%;
}
.work-dates{
    color: #efad0c !important;
    text-shadow: 0px 0px 3px #000000;
    font-family: 'arial';
    font-size: 1.2rem;
    padding: 1%;
}
.job-dates{
    color:#efad0c;
    /* color:#6F6F6F; */
    text-shadow: 0px 0px 3px #000000;
    font-family: "arial";
    font-size: 1rem;
    padding-left: 7%;
}
.line-break{
    border-top: 1px solid #bfd3dc;
}
.titile {
    color: #efad0c !important;
    text-shadow: 0px 0px 3px #000000;
    font-family: 'arial';
    font-size: 1.5rem;
    left: 0;
    text-align: center;
    top: 0;
    right: 0;
    position:relative;
    width:100%;
    text-align:center;
}
.sub-section{
    position:relative;width:100%;padding-top:1%;padding-left:6%;
}

#left-arrow {
    transition: margin-left .5s;
    border: 0px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 55%;
    width: 2%;
    transform: translate(-2500%,-40%);
    background: #2196f329;
      }
      #right-arrow {
        transition: margin-left .5s;
        border: 0px solid white;
        position: absolute;
        left: 50%;
        top: 50%;
        height: 55%;
        width: 2%;
        transform: translate(2399%,-40%);
        background: #2196f34a;
        display:none;
          }
.arrow{
    font-size: 17px;
    font-family: Arial;
    cursor: pointer;
    left: 20%;
    top: 20%;
    position: absolute;
    transform: translate(-1%,420%);
    text-align: center;
    color: #bfd3dc;
}          

/*
Animation profile image
*/
.ani-rollout_profile{
 
	animation-name: rollout_profile;
	animation-duration: 3s;

}
@keyframes rollout_profile {
  from {
    transform: translate3d(0, 0, 0) rotate3d(1, 0, 1, 0deg);
  }

  to {
	  transform: scale(0.7);
  }

}	

/*
Animation profile image
*/
.ani-rollout_profile_back{
 
	animation-name: rollout_profile_back;
	animation-duration:3s;

}
@keyframes rollout_profile_back {
  from {
    transform: scale(0.6);
  }

  to {
	  transform: scale(1);
  }

}	






.editprofile-div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-170%, -509%);
        -moz-transform: translate(-170%, -509%);
            -ms-transform: translate(-170%, -509%);
                transform: translate(-170%, -509%);
    /* border: 1px solid red; */
    width: 0.45vw;
    height: 0.8vw;
    cursor: pointer;
}




.about,.education,.contacts,.character_refernces,.job_description {
    opacity: 0;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
.edit-buttons {
    /* border: 1px solid red; */
    /* text-align: right; */
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: flex-end;
    width: 100%;
    height: auto;
    z-index: 10;
    position: absolute;
    /* float: right; */
    /* top: 78%; */
    /* left: 27%; */
}

.edit-buttons button{
   
    border:none;
    /* border:2px solid green;  */
}
.edit-buttons button img{
    width:100%;
    padding: 5%;
}
.edit-buttons button.edit {
    background: transparent;
    outline: none !important;
}
.edit-buttons .tooltips:hover span {
    display: inline;
}
.astronaut-body {
    width: 100%;
    align-self: center;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
	

.abc{
    display:flex;
    flex-direction:column;
    padding:0 !important;
}

.aboutme-body{
    overflow: auto;
}






/* --------------------------------------------------------Navigator div--------------------------------------------------------------------------------- */
.navigator-div {
    position: fixed;
    right: 0;
    top: 50%;
    bottom: 0;
    -webkit-transform: translate(37%, -50%) scale(0.2);
    -moz-transform: translate(37%, -50%) scale(0.2);
    -ms-transform: translate(37%, -50%) scale(0.2);
    transform: translate(37%, -50%) scale(0.2);
    width: 60vw;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    z-index: 10;
    /* display: none; */
    pointer-events: none;
}
.navigator-div img {
    cursor: pointer;
    align-self: center;
}

.navigator-div.zoomin {
    pointer-events: auto;
    -webkit-transform: translate(0%, 85%) scale(1);
    -moz-transform: translate(0%, 85%) scale(1);
    -ms-transform: translate(0%, 85%) scale(1);
    transform: translate(0%, 85%) scale(1);
}

.navigator-div.tom.zoomin {
    -webkit-transform: translate(-5%, 85%) scale(1);
    -moz-transform: translate(-5%, 85%) scale(1);
    -ms-transform: translate(-5%, 85%) scale(1);
    transform: translate(-5%, 85%) scale(1);
}
.navigator-zoomout-btn.tooltips.zoom-in-out span {
	font-size: 0.65em;
    -webkit-transform: translate(-54%, -211%);
    -moz-transform: translate(-54%, -211%);
    -ms-transform: translate(-54%, -211%);
    transform: translate(-54%, -211%);
    line-height: unset;
}
.navigator-div.animate-navigator-zoomin {
    -webkit-animation: navigatorAnimateZoomIn 1s linear; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
    -moz-animation: navigatorAnimateZoomIn 1s linear; /* Fx 5+ */
    -o-animation: navigatorAnimateZoomIn 1s linear; /* Opera 12+ */
    animation: navigatorAnimateZoomIn 1s linear;
}

.navigator-div.tom.animate-navigator-zoomin {
    -webkit-animation: navigatorAnimateZoomInTom 1s linear; /* Safari 4+ */
        -moz-animation: navigatorAnimateZoomInTom 1s linear; /* Fx 5+ */
            -o-animation: navigatorAnimateZoomInTom 1s linear; /* Opera 12+ */
                animation: navigatorAnimateZoomInTom 1s linear;
}

@-webkit-keyframes navigatorAnimateZoomIn {
    0% {
        top: 50%;
        right: 0;
    }

	100% {
        -webkit-transform: translate(0%, 85%) scale(1);
        -moz-transform: translate(0%, 85%) scale(1);
        -ms-transform: translate(0%, 85%) scale(1);
        transform: translate(0%, 85%) scale(1);
	}
}

@-moz-keyframes navigatorAnimateZoomIn {
    0% {
        top: 50%;
        right: 0;
    }

	100% {
        -webkit-transform: translate(0%, 85%) scale(1);
        -moz-transform: translate(0%, 85%) scale(1);
        -ms-transform: translate(0%, 85%) scale(1);
        transform: translate(0%, 85%) scale(1);
	}
}

@-o-keyframes navigatorAnimateZoomIn {
    0% {
        top: 50%;
        right: 0;
    }

	100% {
        -webkit-transform: translate(0%, 85%) scale(1);
        -moz-transform: translate(0%, 85%) scale(1);
        -ms-transform: translate(0%, 85%) scale(1);
        transform: translate(0%, 85%) scale(1);
	}
}

@keyframes navigatorAnimateZoomIn {
    0% {
        top: 50%;
        right: 0;
    }

	100% {
        -webkit-transform: translate(0%, 85%) scale(1);
        -moz-transform: translate(0%, 85%) scale(1);
        -ms-transform: translate(0%, 85%) scale(1);
        transform: translate(0%, 85%) scale(1);
	}
}

@-webkit-keyframes navigatorAnimateZoomInTom {
    0% {
        top: 50%;
        right: 0;
    }

    100% {
        -webkit-transform: translate(-5%, 85%) scale(1);
        -moz-transform: translate(-5%, 85%) scale(1);
        -ms-transform: translate(-5%, 85%) scale(1);
        transform: translate(-5%, 85%) scale(1);
    }
}

@-moz-keyframes navigatorAnimateZoomInTom {
    0% {
        top: 50%;
        right: 0;
    }

    100% {
        -webkit-transform: translate(-5%, 85%) scale(1);
        -moz-transform: translate(-5%, 85%) scale(1);
        -ms-transform: translate(-5%, 85%) scale(1);
        transform: translate(-5%, 85%) scale(1);
    }
}

@-o-keyframes navigatorAnimateZoomInTom {
    0% {
        top: 50%;
        right: 0;
    }

    100% {
        -webkit-transform: translate(-5%, 85%) scale(1);
        -moz-transform: translate(-5%, 85%) scale(1);
        -ms-transform: translate(-5%, 85%) scale(1);
        transform: translate(-5%, 85%) scale(1);
    }
}

@keyframes navigatorAnimateZoomInTom {
    0% {
        top: 50%;
        right: 0;
    }

    100% {
        -webkit-transform: translate(-5%, 85%) scale(1);
        -moz-transform: translate(-5%, 85%) scale(1);
        -ms-transform: translate(-5%, 85%) scale(1);
        transform: translate(-5%, 85%) scale(1);
    }
}

.navigator-div.animate-navigator-zoomout {
    -webkit-animation: navigatorAnimateZoomOut 1s linear; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
    -moz-animation: navigatorAnimateZoomOut 1s linear; /* Fx 5+ */
    -o-animation: navigatorAnimateZoomOut 1s linear; /* Opera 12+ */
    animation: navigatorAnimateZoomOut 1s linear;
}

@-webkit-keyframes navigatorAnimateZoomOut {
	100% {
        -webkit-transform: translate(37%, -50%) scale(0.2);
        -moz-transform: translate(37%, -50%) scale(0.2);
        transform: translate(37%, -50%) scale(0.2);
	}
}

@-moz-keyframes navigatorAnimateZoomOut {
	100% {
        -webkit-transform: translate(37%, -50%) scale(0.2);
        -moz-transform: translate(37%, -50%) scale(0.2);
        transform: translate(37%, -50%) scale(0.2);
	}
}

@-o-keyframes navigatorAnimateZoomOut {
	100% {
        -webkit-transform: translate(37%, -50%) scale(0.2);
        -moz-transform: translate(37%, -50%) scale(0.2);
        transform: translate(37%, -50%) scale(0.2);
	}
}

@keyframes navigatorAnimateZoomOut {
	100% {
        -webkit-transform: translate(37%, -50%) scale(0.2);
        -moz-transform: translate(37%, -50%) scale(0.2);
        transform: translate(37%, -50%) scale(0.2);
	}
}



.navigator-div button.tooltips:focus {
    outline: 0;
}

.navigator-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-77%, -387%);
    -moz-transform: translate(-77%, -387%);
    -ms-transform: translate(-77%, -387%);
    transform: translate(-77%, -387%);
    width: 10.8vw;
    height: 6.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.navigator-buttons .column {
    /* width: 32.3%; */
    /* border: 1px solid red; */
    border-collapse: collapse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.navigator-buttons button {
    border: 0;
    padding: 0;
    background: transparent;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.navigator-buttons img {
    width: 55%;
    align-self: center;
}

.column-2 button {
    width: 100%;
    height: 80%;
    align-self: center;
}

.column-2 img {
    height: 100%;
    width: 100%;
}

.column-1, .column-3 {
    -webkit-box-flex: 1 30%;
        -ms-flex: 1 30%;
            flex: 1 30%;
}

.column-2 {
    -webkit-box-flex: 1 35%;
        -ms-flex: 1 35%;
            flex: 1 35%;
    justify-content: space-evenly;
}



.navigator-buttons button:hover, .instructions-div button:hover {
    -webkit-filter: drop-shadow(0px 0px 3px #17a2b8);
    filter: drop-shadow(0px 0px 3px #17a2b8);
}

.navigator-buttons button:active, .instructions-div button:active {
    -webkit-transform: translate3d(0%, -1%, 0px);
    -moz-transform: translate3d(0%, -1%, 0px);
    transform: translate3d(0%, -1%, 0px);
    -webkit-filter: drop-shadow(0px 0px 1px #17a2b8);
    filter: drop-shadow(0px 0px 1px #17a2b8);
}

.tos-div button:hover {
    -webkit-filter: drop-shadow(0px 0px 3px #007bff);
    filter: drop-shadow(0px 0px 3px #007bff);
}

.tos-div button:active {
    -webkit-transform: translate3d(-1%, -1%, 0px);
    -moz-transform: translate3d(-1%, -1%, 0px);
    transform: translate3d(-1%, -1%, 0px);
    -webkit-filter: drop-shadow(0px 0px 3px #007bff);
    filter: drop-shadow(0px 0px 3px #007bff);
}

.communicator-div:hover button, .editprofile-div:hover {
    -webkit-box-shadow: 0px 0px 5px #17a2b8;
    box-shadow: 0px 0px 5px #17a2b8;
}

.instructions-div {
    position: absolute;
    /* border: 1px solid red; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-53%, -1261%);
    -moz-transform: translate(-53%, -1261%);
    -ms-transform: translate(-53%, -1261%);
    transform: translate(-53%, -1261%);
    width: 5vw;
    height: 1.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.instructions-div button {
    border: 0;
    padding: 0;
    background: transparent;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    width: 100%;
    /* height: 100%; */
    /* -ms-flex-wrap: wrap;
        flex-wrap: wrap; */
}

.instructions-div img, .tos-div img  {
    width: 100%;
    height: 100%;
}

.navigator-zoom {
    position: absolute;
    border: 0;
    background: #fff0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-78%, -387%);
    -ms-transform: translate(-78%, -387%);
    -moz-transform: translate(-78%, -387%);
    transform: translate(-78%, -387%);
    width: 10.8vw;
    height: 6.5vw;
    outline: 0;
    pointer-events: auto;
    /* border: 1px solid red; */
    background: #00000070;
    z-index: 2;
    border-radius: 3px;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    font-size: 5em;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.navigator-zoom i {
    align-self: center;
}

.navigator-zoom:active, .navigator-zoom:focus {
    outline: 0;
}

.tos-div {
    position: absolute;
    /* border: 1px solid red; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-70%, -443%);
    -ms-transform: translate(-70%, -443%);
    transform: translate(-70%, -443%);
    width: 4.5vw;
    height: 3.65vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tos-div.thomasina {
    -webkit-transform: translate(-70%, -407%);
    -moz-transform: translate(-70%, -407%);
    -ms-transform: translate(-70%, -407%);
    transform: translate(-70%, -407%);
}

.tos-div button {
    border: 0;
    padding: 0;
    background: transparent;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
}

.communicator-div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(401%, -328%);
    -moz-transform: translate(401%, -328%);
    -ms-transform: translate(401%, -328%);
    transform: translate(401%, -328%);
    border: 0;
    width: 5vw;
    height: 6vw;
    cursor: pointer;
    /* border-radius: 2px; */
    /* z-index: 1; */
    /* padding: 0; */
    /* background: transparent; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}


.communicator-div button {
	border: 0;
	background: transparent;
	transform: skew(19deg, 10deg);
	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding: 0;
}

.navigator-div.tom .communicator-div {
    -webkit-transform: translate(439%, -310%);
    -moz-transform: translate(439%, -310%);
    -ms-transform: translate(439%, -310%);
    transform: translate(439%, -310%);
}

.navigator-div.tom .communicator-div button  {
    -webkit-transform: skew(23deg, 10deg);
    -moz-transform: skew(23deg, 10deg);
    -ms-transform: skew(23deg, 10deg);
    transform: skew(23deg, 10deg);
}

.editprofile-div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-170%, -509%);
    -moz-transform: translate(-170%, -509%);
        -ms-transform: translate(-170%, -509%);
            transform: translate(-170%, -509%);
    /* border: 1px solid red; */
    width: 0.45vw;
    height: 0.8vw;
    cursor: pointer;
}



.navigator-buttons button:focus {
    outline: 0;
    outline: 0px auto -webkit-focus-ring-color;
}

.navigator-div .tooltips span {
    font-size: 1em;
    width: auto;
    white-space: nowrap;
    padding: 25% 25%;
    border-radius: 2px;
    -webkit-transform: translate(-130%, -50%);
    -moz-transform: translate(-130%, -50%);
    -ms-transform: translate(-130%, -50%);
    transform: translate(-130%, -50%);
    -webkit-box-shadow: 0px 1px 4px #000000;
    box-shadow: 0px 1px 4px #000000;
    text-align: center;
}

.navigator-div .tooltips.right span {
    -webkit-transform: translate(34%, -50%);
    -moz-transform: translate(34%, -50%);
    -ms-transform: translate(34%, -50%);
    transform: translate(34%, -50%);
}

.navigator-div .tooltips.left span:after {
    right: 0;
    left: 100%;
    border-right: 0;
    border-left: 1em solid #0b91c3a3;
    margin-top: -1em;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
}

.navigator-div .tooltips.right span:after {
    margin-top: -1em;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
}

.navigator-div .tooltips:hover span {
    display: inline;
}

.instructions-div .tooltips span {
    -webkit-transform: translate(39%, -29%) !important;
    -moz-transform: translate(39%, -29%) !important;
    -ms-transform: translate(39%, -29%) !important;
    transform: translate(39%, -29%) !important;
}

.tos-div .tooltips span {
    -webkit-transform: translate(23%, -41%) !important;
    -moz-transform: translate(23%, -41%) !important;
    -ms-transform: translate(23%, -41%) !important;
    transform: translate(23%, -41%) !important;
}

.tooltips.top span {
    -webkit-transform: translate(-49%, -243%);
    -moz-transform: translate(-49%, -243%);
    -ms-transform: translate(-49%, -243%);
    transform: translate(-49%, -243%);
    white-space: nowrap;
    width: auto;
}

.tooltips.top span:after {
    content: '';
    position: absolute;
    /* top: 50%; */
    /* bottom: 100%; */
    /* right: 100%; */
    /* left: 0; */
    /* right: 0; */
    margin-top: 0;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-top: 1em solid #0b91c3a3;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
}

.home-btn.tooltips span {
    -webkit-transform: translate(-153%, -50%);
    -moz-transform: translate(-153%, -50%);
    -ms-transform: translate(-153%, -50%);
    transform: translate(-153%, -50%);
}

.communicator-div.tooltips.top span {
    -webkit-transform: translate(-49%, -209%);
    -moz-transform: translate(-49%, -209%);
        -ms-transform: translate(-49%, -209%);
            transform: translate(-49%, -209%);
    white-space: nowrap;
}

.navigator-zoomout-btn {
    position: absolute;
    /* border: 1px solid red; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(327%, -646%);
    -moz-transform: translate(327%, -646%);
    -ms-transform: translate(327%, -646%);
    transform: translate(327%, -646%);
    width: 4vw;
    height: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 2em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #509ef3;
    padding: 0;
    border: 0;
    background: transparent;
}

.navigator-div.tom .navigator-zoomout-btn {
    right: 0;
    left: unset;
    -webkit-transform: translate(-280%, -586%);
    -moz-transform: translate(-280%, -586%);
    -ms-transform: translate(-280%, -586%);
    transform: translate(-280%, -586%);
}

.navigator-zoomout-btn:active, .navigator-zoomout-btn:focus {
    outline: 0;
}

img {
    image-rendering: -moz-crisp-edges; /* Firefox */
    /* image-rendering: -o-crisp-edges; Opera */
    /* image-rendering: -webkit-optimize-contrast; Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
.navigator-div.tom .menu-button {
    transform: translate(-653%, -642%);
}
.user-photo {
    width: 18vw;
    height: 14.35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-69%, -340%);
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    justify-content: center;
    z-index: -1;
}

.user-photo.male {
    width: 18vw;
    height: 14.35vw;
    transform: translate(-70%, -336%);
}

.user-photo img {
    border-radius: 21% 21% 35% 35%;
    align-self: stretch;
    /* filter: opacity(0.6); */
    width: 100%;
}

.user-photo.male img {
    border-radius: 21% 21% 30% 30%;
}
/* ----------------------------------------------End Navigator div--------------------------------------------------------- */


/* --------------------------navigator zoom in---------------------------------------------------- */


.navigator-div-zoomed-in .astronaut-body {
    align-self: flex-end;
}
/* Safari navigator zoom in */
.navigator-div-zoomed-in {
    position: fixed;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 59%;
    height: 62vw;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* background: #00000052; */
    pointer-events: auto;
    display: none;
    /* overflow: hidden; */
    right: 0%;
    bottom: -6%;
    /* border: 1px solid red; */
}

.navigator-div-zoomed-in.tom {
    right: 2%;
}

.navigator-div-zoomed-in .tooltips:hover span {
    display: inline;
}

.navigator-div-zoomed-in .navigator-components {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    display: none;
}

.navigator-div-zoomed-in .astronaut {
    width: 90%;
}

.navigator-div-zoomed-in .user-photo {
    width: 17.7vw;
    height: 14.35vw;
    -webkit-transform: translate(-72%, -81%);
    -moz-transform: translate(-72%, -81%);
    -ms-transform: translate(-72%, -81%);
    transform: translate(-72%, -81%);  
}

.navigator-div-zoomed-in .user-photo.male {
    height: 14.40vw;
    -webkit-transform: translate(-70%, -76%);
    -moz-transform: translate(-70%, -76%);
    -ms-transform: translate(-70%, -76%);
    transform: translate(-70%, -76%);
}

.navigator-div-zoomed-in .user-photo img {
    width: 100%;
}

.navigator-div-zoomed-in .navigator-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-80%, 196%);
    -moz-transform: translate(-80%, 196%);
    -ms-transform: translate(-80%, 196%);
    transform: translate(-80%, 196%);
    width: 11vw;
    height: 6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.navigator-div-zoomed-in.tom .navigator-buttons {
    -webkit-transform: translate(-77%, 199%);
    -moz-transform: translate(-77%, 199%);
    -ms-transform: translate(-77%, 199%);
    transform: translate(-77%, 199%);
}

.navigator-div-zoomed-in .navigator-zoom {
    position: absolute;
    border: 0;
    background: #fff0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-78%, -63%);
    -moz-transform: translate(-78%, -63%);
    -ms-transform: translate(-78%, -63%);
    transform: translate(-78%, -63%);
    width: 15.5vw;
    height: 8.5vw;
    outline: 0;
    pointer-events: auto;
    /* border: 1px solid red; */
    background: #00000070;
    z-index: 2;
    border-radius: 9%;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    font-size: 2vw;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.navigator-div-zoomed-in .tos-div {
    position: absolute;
    /* border: 1px solid red; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-86%, 629%);
    -ms-transform: translate(-86%, 629%);
    transform: translate(-86%, 629%);
    width: 4vw;
    height: 3.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navigator-div-zoomed-in.tom .tos-div {
    -webkit-transform: translate(-77%, 598%);
    -ms-transform: translate(-77%, 598%);
    transform: translate(-77%, 598%);
}

.navigator-div-zoomed-in .instructions-div {
    position: absolute;
    /* border: 1px solid red; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-60%, 1178%);
    -moz-transform: translate(-60%, 1178%);
    -ms-transform: translate(-60%, 1178%);
    transform: translate(-60%, 1178%);
    width: 4.3vw;
    height: 1.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.navigator-div-zoomed-in.tom .instructions-div {
    -webkit-transform: translate(-55%, 1197%);
    -moz-transform: translate(-55%, 1197%);
    -ms-transform: translate(-55%, 1197%);
    transform: translate(-55%, 1197%);
}

.navigator-div-zoomed-in .navigator-zoomout-btn {
    position: absolute;
    /* border: 1px solid red; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(444%, 599%);
    -moz-transform: translate(444%, 599%);
    -ms-transform: translate(444%, 599%);
    transform: translate(444%, 599%);
    width: 3vw;
    height: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 2vw;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #509ef3;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.navigator-div-zoomed-in.tom .navigator-zoomout-btn {
    -webkit-transform: translate(487%, 713%);
    -moz-transform: translate(487%, 713%);
    -ms-transform: translate(487%, 713%);
    transform: translate(487%, 713%);
}

.navigator-div-zoomed-in .menu-button {
    -webkit-transform: translate(-704%, 410%);
    -moz-transform: translate(-704%, 410%);
    -ms-transform: translate(-704%, 410%);
    transform: translate(-704%, 410%);
    width: 3vw;
    height: 3vw;
}

.navigator-div-zoomed-in.tom .menu-button {
    transform: translate(-758%, 468%);
}

.navigator-div-zoomed-in .tooltips span {
    padding: 25%;
    outline: 0;
    border: 0;
    width: auto;
    /* display: block; */
    white-space: nowrap;
    border-radius: 3px;
}

.navigator-div-zoomed-in .tooltips.left span {
    -webkit-transform: translate(-149%, -50%);
    -moz-transform: translate(-149%, -50%);
    -ms-transform: translate(-149%, -50%);
    transform: translate(-149%, -50%);
}

.navigator-div-zoomed-in .music-btn.tooltips span {
    width: 7vw;
    white-space: unset;
    -webkit-transform: translate(-137%, -50%);
    -moz-transform: translate(-137%, -50%);
    -ms-transform: translate(-137%, -50%);
    transform: translate(-137%, -50%);
}

.navigator-div-zoomed-in .tooltips.top span {
    font-size: 1em;
}

.navigator-div-zoomed-in .internal-share.tooltips span {
    font-size: 3em;
}

.navigator-div-zoomed-in .tooltips.left span:after {
    right: 0;
    left: 100%;
    border-right: 0;
    border-left: 1em solid #0b91c3a3;
    margin-top: -0.8vw;
    border-top: 0.8vw solid transparent;
    border-bottom: 0.8vw solid transparent;
}

.navigator-div-zoomed-in .tooltips.top span {
    -webkit-transform: translate(-49%, -237%);
    -moz-transform: translate(-49%, -237%);
    -ms-transform: translate(-49%, -237%);
    transform: translate(-49%, -237%);
}

.navigator-div-zoomed-in .tooltips.top span:after {
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
}

.navigator-div-zoomed-in .tooltips.right span {
    -webkit-transform: translate(33%, -50%);
    -moz-transform: translate(33%, -50%);
    -ms-transform: translate(33%, -50%);
    transform: translate(33%, -50%);
}

.navigator-div-zoomed-in .instructions-div .tooltips span {
    -webkit-transform: translate(41%, -29%) !important;
    -moz-transform: translate(41%, -29%) !important;
    -ms-transform: translate(41%, -29%) !important;
    transform: translate(41%, -29%) !important;
}

.navigator-div-zoomed-in .tooltips.right span:after {
    margin-top: -0.8vw;
    border-top: 0.8vw solid transparent;
    border-bottom: 0.8vw solid transparent;
}

.navigator-div-zoomed-in .communicator-div {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(378%, 313%);
    -moz-transform: translate(378%, 313%);
    -ms-transform: translate(378%, 313%);
    transform: translate(378%, 313%);
    border: 0;
    width: 5.2vw;
    height: 5.5vw;
    cursor: pointer;
    /* border-radius: 2px; */
    /* z-index: 1; */
    /* padding: 0; */
    /* background: transparent; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* border: 1px solid red; */
}

.navigator-div-zoomed-in.tom .communicator-div {
    -webkit-transform: translate(405%, 331%);
    -moz-transform: translate(405%, 331%);
    -ms-transform: translate(405%, 331%);
    transform: translate(405%, 331%);
}

.navigator-div-zoomed-in .communicator-div:hover button {
    -webkit-box-shadow: 0px 0px 9px #17a2b8;
    box-shadow: 0px 0px 9px #17a2b8;
}

.navigator-div-zoomed-in .communicator-div button {
    border: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0;
}
.jobseeker-title h1{
    color: white;
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 40%; 
    font-size: calc(1.5vw + 1px);
    font-family: arial regular;
    text-shadow: 2px 2px 11px #25e2f5e6;
    }
    .objective{
        text-align: center;
        color:white; 
        position: relative; 
        display:none; 
        height:30%;
    }
    .objective p{
        font-size: calc(1vw + 5px);
    }
    .fa-edit{
        font-size:2em; 
        color:#c5a739;
    }
    .view-more-detail-icon{
        position: relative;
        width: 100%;
    }

    .modal-title{
        color: #efad0c;
        width:66vw;
    }
    .about-me-objective{
        display: flex;
    }
    .about-Me-Objective-title{
        padding: 1%;
        width: 18vw;
    }