@font-face {
	font-family: "Georgia Italic";
	src: url("../../fonts/georgia italic.ttf");
}

.mbaye_body {
    width: 100% !important;
    position: unset !important;
    overflow-y: auto;
    display: block !important;
}

*{
margin: 0;
padding: 0;
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

.search-form {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* flex-wrap: wrap; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    /* border: 1px solid red; */
    height: 3em;
    width: 30%;
}

.search-input-fields {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* flex-wrap: wrap; */
    flex: 70%;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    max-width: 80rem;
}

.blog-cols{
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.blog-col{
    width: 30%;
    margin: 1% 0.5%;
    cursor: pointer;
}

.container{
    -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.front,
.back{
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
}

.back{
    /* background: #cedce7; */
    /* background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%); */
    /* background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%); */
    /* background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%); */
    /* background: linear-gradient(45deg, #6c757d 0%,#00062d 100%); */
    background-image: url(../../front/images/blog-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.front:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Nasalization';
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
    -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
}

.container:hover .front{
    -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
}

.front .inner p.blog-name{
    font-size: 1.2rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    position: relative;
    font-family: 'Nasalization';
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
}

.front .inner .blog-date {
    position: absolute;
    top: -28%;
    right: 4%;
}

.front .inner .blog-status {
    position: absolute;
    top: -28%;
    left: 4%;
}

.front .inner .blog-status.published {
    color: #201b1b;
    font-size: 0.8em;
    background: #17a2b8;
    padding: 0 3%;
    border-radius: 100px;
    font-weight: 550;
}

.front .inner .blog-status.draft {
    color: #f8f9fa;
    font-size: 0.8em;
    background: #b99900;
    padding: 0 3%;
    border-radius: 100px;
    font-weight: 550;
}

.front .inner p.blog-name:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.blog-search {
    margin: 0 auto;
    text-align: center;
    font-family: Space age;
    color: #17a2b8;
    margin-top: 1%;
    margin-bottom: 1%;
    display: block;
 left: 50%;
 top: 50%;
 transform: translate(-27%,55%);
}

.s013 {
    min-height: 0;
}

.blog-search input {
    /* height: 50px; */
}

.dropdown-menu {
    background: #fff !important;
    margin-left: 0px;
}

.tags {
    list-style: none;
    margin: 0;
    /* overflow: hidden;  */
    padding: 0;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    white-space: nowrap;
}

.tag {
    background: #2d3339;
    border-radius: 100px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 3%;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
            -o-transition: color 0.2s;
                transition: color 0.2s;
    font-size: 0.6rem;
    white-space: nowrap;
}

.blog-buttons {
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    -webkit-transition: opacity 1000s;
    -moz-transition: opacity 1000s;
    -o-transition: opacity 1000s;
    transition: opacity 1000s;
    /* transition: right 1s ease-in; */
    position: absolute;
    bottom: -30%;
    right: 0;
    left: 0;
}

.blog-buttons button {
    color: #fff;
    background: #fff0;
    border: 0;
    font-size: 1.8em;
    /* margin: 0% 3%; */
}

.blog-buttons .button-div {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    /* line-height: 1; */
    /* border: 1px solid red; */
}

.blog-buttons .button-div img {
    width: 100%;
}

.blog-buttons .button-div.naffIcon img {
    width: 57%;
}

.blog-buttons .button-div.shareIcon img {
    width: 60%;
}

.blog-buttons .button-div.commentsIcon img {
    width: 70%;
}

.blog-buttons .button-details {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
            align-self: center;
}

.button-details p {
    font-size: 0.8em;
}

.blog-action-buttons {
    /* position: absolute;
    left: 0;
    right: 0;
    bottom: 5%; */
    font-family: 'Space Age';
}

.blog-action-buttons button {
    font-family: 'Space age';
    padding: 10px;
    border: 0;
    color: #fff;
    width: 100px;
    height: 100px;
}

.blog-action-buttons img {
    width: 23%;
}

.blog-action-buttons .view-btn {
    position: absolute;
    top: 3%;
    left: 30%;
    /* transform: translate(-82%, -111%); */
}

.blog-action-buttons .delete-btn {
    position: absolute;
    bottom: 15%;
    right: 3%;
    /* transform: translate(102%, -28%); */
}

.blog-action-buttons .delete-btn:hover {
    -webkit-filter: drop-shadow(0px 0px 3px #ff0000);
    filter: drop-shadow(0px 0px 3px #ff0000);
    /* cursor: pointer; */
}

.blog-action-buttons .edit-btn:hover {
    -webkit-filter: drop-shadow(0px 0px 3px #009eb7);
    filter: drop-shadow(0px 0px 3px #009eb7);
}

.blog-action-buttons .view-btn:hover {
    -webkit-filter: drop-shadow(0px 0px 3px #e6a40f);
    filter: drop-shadow(0px 0px 3px #e6a40f);
}

.blog-action-buttons .edit-btn {
    position: absolute;
    bottom: 3%;
    left: 3%;
    /* transform: translate(-200%, 13%); */
}

.blog-action-buttons form {
    display: inline-block;
}

.blog-action-buttons button.view {
    background: #e6a40f;
}

.blog-action-buttons button.edit {
    background: #17a2b8 ;
}

.blog-action-buttons button.delete {
    background: red;
}

.blog-search form fieldset legend {
    color: #17a2b8;
    font-family: 'Nasalization';
    text-shadow: 0px 0px 8px #000000;
    line-height: 2em;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.blog-search form fieldset legend.sub-legend {
    font-size: 2em;
}

.blog-search .input-group {
    width: 55%;
    margin: 0 auto;
}

.blog-search input {
    flex: 50%;
    /* width: 50%; */
    height: 100%;
    background: rgba(12, 44, 90, 0.73);
    /* border: 2px solid #007bff; */
    /* border-radius: 100px; */
    border: 0;
    border-right: 1px solid #6c757d;
    outline: 0;
    font-family: Nasalization;
    border-radius: .25rem 0 0 .25rem;
}

.blog-search input:focus, .blog-search select:focus {
    background: rgba(12, 44, 90, 0.73);
    box-shadow: 0px 0px 5px #17a2b8;
    color: #17a2b8;
}

.blog-search input, .blog-search select {
    color: #17a2b8;
}

.blog-search input::placeholder {
    color: #17a2b887;
}

.blog-search select {
    /* width: 11vw; */
    height: 100%;
    /* border-radius: 36%; */
    background-color: rgba(12, 44, 90, 0.73);
    border: 0;
    font-family: 'Nasalization';
    color: #17a2b887;
    border-radius: 0;
}

.status-div, .sort-div {
    flex: 60%;
}
.country-div{
    /* flex: 60%; */
    left: 50%;
    top: 50%;
    transform: translate(-18%, 10%);
    width: 74%;
}
.blog-search .status-div {
    border-right: 1px solid #6c757d;
}

.blog-search .sort-div select {
    border-radius: 0 .25rem .25rem 0;
}


.blog-search .search-btn {
    margin-left: 10px;
    background: rgba(0,0,0,.5);
    font-family: Space age;
    color: #17a2b8;
}

.blog-search .search-btn:focus, .blog-search .search-btn:hover {
    box-shadow: 0px 0px 5px #17a2b8;
    color: #17a2b8;
}

.custom-select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
}

.pagination {
    justify-content: center;
}

.custom-select option {
    background: #343a40;
    font-size: 1em;
}

.no-result {
    color: #17a2b878;
    margin-top: 3%;
}

.swal2-popup {
    box-shadow: 0px 0px 20px #17a2b8;
}

.swal2-title {
    font-family: 'Nasalization';
    font-size: 1.3em !important;
    color: #df1613 !important;
}

.swal2-content {
    color: #17a2b8 !important;
    font-size: 1em !important;
    font-family: 'Nasalization';
}

.swal2-title span.success {
    color: #25d365 !important;
}

.back .inner {
    top: 0;
    bottom: 0;
    transform: unset;
    padding: 0;
}

img.naff-reaction {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 20%;
}

.tooltips {
    position: relative;
    display: inline;
}

.tooltips span {
    position: absolute;
    top: 50%;
    left: 50%;
    /* opacity: 0.8; */
    -webkit-transform: translate(20%, -50%);
        -moz-transform: translate(20%, -50%);
            -ms-transform: translate(20%, -50%);
                transform: translate(20%, -50%);
    /* left: 70%; */
    /* top: 50%; */
    /* margin-top: -36px; */
    /* margin-left: 15px; */
    z-index: 999;
    width: 13vw;
    color: #FFFFFF;
    text-shadow: 0px 0px 3px #000000;
    font-family: 'Nasalization';
    background: #0b91c3a3;
    /* height: 72px; */
    line-height: 1em;
    text-align: center;
    display:none;
    border-radius: 12px;
    -webkit-box-shadow: 0px 3px 4px #000000;
        box-shadow: 0px 3px 4px #000000;
    font-size: 0.9em;
    word-wrap: break-word;
    padding: 10%;
    outline: 0;
    border: 0;
}

.tooltips span:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-right: 1em solid #0b91c3a3;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.navigator-main-div {
    border: 1px solid red;
    width: 14%;
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0;
}

.navigator-div {
    position: fixed;
    right: 0;
    top: 50%;
    bottom: 0;
    -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
    width: 14%;
    z-index: 1;
    pointer-events: none;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
}

.navigator-div img {
    cursor: pointer;
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
            align-self: center;
}

.navigator-div.zoomin {
    pointer-events: auto;
    -webkit-transform: translate(-100%, 69%) scale(3);
    -moz-transform: translate(-100%, 69%) scale(3);
    -ms-transform: translate(-100%, 69%) scale(3);
    transform: translate(-100%, 69%) scale(3);
}

.navigator-div.animate-navigator-zoomin {
    -webkit-animation: navigatorAnimateZoomIn 1s linear; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
        -moz-animation: navigatorAnimateZoomIn 1s linear; /* Fx 5+ */
            -o-animation: navigatorAnimateZoomIn 1s linear; /* Opera 12+ */
                animation: navigatorAnimateZoomIn 1s linear;
}

@-webkit-keyframes navigatorAnimateZoomIn {
    0% {
        top: 50%;
        right: 0;
    }

	100% {
        -webkit-transform: translate(-100%, 69%) scale(3);
        -moz-transform: translate(-100%, 69%) scale(3);
        -ms-transform: translate(-100%, 69%) scale(3);
        transform: translate(-100%, 69%) scale(3);
	}
}

@-moz-keyframes navigatorAnimateZoomIn {
    0% {
        top: 50%;
        right: 0;
    }

	100% {
        -webkit-transform: translate(-100%, 69%) scale(3);
        -moz-transform: translate(-100%, 69%) scale(3);
        -ms-transform: translate(-100%, 69%) scale(3);
        transform: translate(-100%, 69%) scale(3);
	}
}

@-o-keyframes navigatorAnimateZoomIn {
    0% {
        top: 50%;
        right: 0;
    }

	100% {
        -webkit-transform: translate(-100%, 69%) scale(3);
        -moz-transform: translate(-100%, 69%) scale(3);
        -ms-transform: translate(-100%, 69%) scale(3);
        transform: translate(-100%, 69%) scale(3);
	}
}

@keyframes navigatorAnimateZoomIn {
    0% {
        top: 50%;
        right: 0;
    }

	100% {
        -webkit-transform: translate(-100%, 69%) scale(3);
        -moz-transform: translate(-100%, 69%) scale(3);
        -ms-transform: translate(-100%, 69%) scale(3);
        transform: translate(-100%, 69%) scale(3);
	}
}

.navigator-div.tom.zoomin {
    -webkit-transform: translate(-115%, 60%) scale(3);
    -moz-transform: translate(-115%, 60%) scale(3);
    -ms-transform: translate(-115%, 60%) scale(3);
    transform: translate(-115%, 60%) scale(3);
}

.navigator-div.tom.animate-navigator-zoomin {
    -webkit-animation: navigatorAnimateZoomInTom 1s linear; /* Safari 4+ */
        -moz-animation: navigatorAnimateZoomInTom 1s linear; /* Fx 5+ */
            -o-animation: navigatorAnimateZoomInTom 1s linear; /* Opera 12+ */
                animation: navigatorAnimateZoomInTom 1s linear;
}

@-webkit-keyframes navigatorAnimateZoomInTom {
    0% {
        top: 50%;
        right: 0;
    }

    100% {
        -webkit-transform: translate(-115%, 60%) scale(3);
        -moz-transform: translate(-115%, 60%) scale(3);
        -ms-transform: translate(-115%, 60%) scale(3);
        transform: translate(-115%, 60%) scale(3);
    }
}

@-moz-keyframes navigatorAnimateZoomInTom {
    0% {
        top: 50%;
        right: 0;
    }

    100% {
        -webkit-transform: translate(-115%, 60%) scale(3);
        -moz-transform: translate(-115%, 60%) scale(3);
        -ms-transform: translate(-115%, 60%) scale(3);
        transform: translate(-115%, 60%) scale(3);
    }
}

@-o-keyframes navigatorAnimateZoomInTom {
    0% {
        top: 50%;
        right: 0;
    }

    100% {
        -webkit-transform: translate(-115%, 60%) scale(3);
        -moz-transform: translate(-115%, 60%) scale(3);
        -ms-transform: translate(-115%, 60%) scale(3);
        transform: translate(-115%, 60%) scale(3);
    }
}

@keyframes navigatorAnimateZoomInTom {
    0% {
        top: 50%;
        right: 0;
    }

    100% {
        -webkit-transform: translate(-115%, 60%) scale(3);
        -moz-transform: translate(-115%, 60%) scale(3);
        -ms-transform: translate(-115%, 60%) scale(3);
        transform: translate(-115%, 60%) scale(3);
    }
}

.navigator-div.animate-navigator-zoomout {
    -webkit-animation: navigatorAnimateZoomOut 1s linear; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
        -moz-animation: navigatorAnimateZoomOut 1s linear; /* Fx 5+ */
            -o-animation: navigatorAnimateZoomOut 1s linear; /* Opera 12+ */
                animation: navigatorAnimateZoomOut 1s linear;
}

@-webkit-keyframes navigatorAnimateZoomOut {
	100% {
        -webkit-transform: translate(0%, -50%) scale(1);
            -moz-transform: translate(0%, -50%) scale(1);
                transform: translate(0%, -50%) scale(1);
	}
}

@-moz-keyframes navigatorAnimateZoomOut {
	100% {
        -webkit-transform: translate(0%, -50%) scale(1);
            -moz-transform: translate(0%, -50%) scale(1);
                transform: translate(0%, -50%) scale(1);
	}
}

@-o-keyframes navigatorAnimateZoomOut {
	100% {
        -webkit-transform: translate(0%, -50%) scale(1);
            -moz-transform: translate(0%, -50%) scale(1);
                transform: translate(0%, -50%) scale(1);
	}
}

@keyframes navigatorAnimateZoomOut {
	100% {
        -webkit-transform: translate(0%, -50%) scale(1);
            -moz-transform: translate(0%, -50%) scale(1);
                transform: translate(0%, -50%) scale(1);
	}
}

.navigator-div button.tooltips:focus {
    outline: 0;
}

.navigator-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-78%, -391%);
        -moz-transform: translate(-78%, -391%);
            -ms-transform: translate(-78%, -391%);
                transform: translate(-78%, -391%);
    width: 2.5vw;
    height: 1.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* justify-content: space-between;*/
}

.navigator-buttons .column {
    /* width: 32.3%; */
    /* border: 1px solid red; */
    border-collapse: collapse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.navigator-buttons button {
    border: 0;
    padding: 0;
    background: transparent;
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.navigator-buttons img {
    width: 55%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
            align-self: center;
}

.column-2 button {
    width: 100%;
    height: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
            align-self: center;
}

.column-2 img {
    height: 100%;
    width: 100%;
}

.column-1, .column-3 {
    -webkit-box-flex: 1 30%;
        -ms-flex: 1 30%;
            flex: 1 30%;
}

.column-2 {
    -webkit-box-flex: 1 35%;
        -ms-flex: 1 35%;
            flex: 1 35%;
    justify-content: space-evenly;
}

.navigator-buttons button:hover, .instructions-div button:hover {
    -webkit-filter: drop-shadow(0px 0px 1px #17a2b8);
        filter: drop-shadow(0px 0px 1px #17a2b8);
}

.navigator-buttons button:active, .instructions-div button:active {
    -webkit-transform: translate3d(0%, -1%, 0px);
        -moz-transform: translate3d(0%, -1%, 0px);
            transform: translate3d(0%, -1%, 0px);
    -webkit-filter: drop-shadow(0px 0px 1px #17a2b8);
        filter: drop-shadow(0px 0px 1px #17a2b8);
}

.tos-div button:hover {
    -webkit-filter: drop-shadow(0px 0px 1px #007bff);
        filter: drop-shadow(0px 0px 1px #007bff);
}

.tos-div button:active {
    -webkit-transform: translate3d(-1%, -1%, 0px);
        -moz-transform: translate3d(-1%, -1%, 0px);
            transform: translate3d(-1%, -1%, 0px);
    -webkit-filter: drop-shadow(0px 0px 1px #007bff);
        filter: drop-shadow(0px 0px 1px #007bff);
}

.communicator-div:hover button, .editprofile-div:hover {
    -webkit-box-shadow: 0px 0px 3px #17a2b8;
        box-shadow: 0px 0px 3px #17a2b8;
}

.instructions-div {
    position: absolute;
    /* border: 1px solid red; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-53%, -1115%);
    -moz-transform: translate(-53%, -1115%);
    -ms-transform: translate(-53%, -1115%);
    transform: translate(-53%, -1115%);
    width: 1vw;
    height: 0.4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.instructions-div button {
    border: 0;
    padding: 0;
    background: transparent;
    display: flex;
    width: 100%;
    /* -ms-flex-wrap: wrap;
        flex-wrap: wrap; */
}

.instructions-div img, .tos-div img  {
    width: 100%;
    height: 100%;
}

.navigator-zoom {
    position: absolute;
    border: 0;
    background: #fff0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-78%, -363%);
    -ms-transform: translate(-78%, -363%);
    -moz-transform: translate(-78%, -363%);
    transform: translate(-78%, -363%);
    width: 2.5vw;
    height: 1.6vw;
    outline: 0;
    pointer-events: auto;
    /* border: 1px solid red; */
    background: #00000070;
    z-index: 2;
    border-radius: 3px;
    display: flex;
    font-size: 0.5vw;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.navigator-zoom:active, .navigator-zoom:focus {
    outline: 0;
}

.tos-div {
    position: absolute;
    /* border: 1px solid red; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-67%, -421%);
    -ms-transform: translate(-67%, -421%);
    transform: translate(-67%, -421%);
    width: 1.1vw;
    height: 0.9vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tos-div.thomasina {
    -webkit-transform: translate(-73%, -391%);
        -moz-transform: translate(-73%, -391%);
            -ms-transform: translate(-73%, -391%);
                transform: translate(-73%, -391%);
}

.tos-div button {
    border: 0;
    padding: 0;
    background: transparent;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    height: 100%;
}

.communicator-div {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(-96%, -346%);
        -moz-transform: translate(-96%, -346%);
            -ms-transform: translate(-96%, -346%);
                transform: translate(-96%, -346%);
    border: 0;
    width: 1.2vw;
    height: 1.3vw;
    cursor: pointer;
    /* border-radius: 2px; */
    /* z-index: 1; */
    /* padding: 0; */
    /* background: transparent; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.communicator-div button {
	border: 0;
	background: transparent;
	transform: skew(16deg, 10deg);
	width: 100%;
	height: 100%;
	border-radius: 2px;
	padding: 0;
}

.navigator-div.tom .communicator-div {
    -webkit-transform: translate(-61%, -333%);
        -moz-transform: translate(-61%, -333%);
            -ms-transform: translate(-61%, -333%);
                transform: translate(-61%, -333%);
}

.navigator-div.tom .communicator-div button  {
    -webkit-transform: skew(23deg, 10deg);
    -moz-transform: skew(23deg, 10deg);
    -ms-transform: skew(23deg, 10deg);
    transform: skew(23deg, 10deg);
}

.editprofile-div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-170%, -509%);
        -moz-transform: translate(-170%, -509%);
            -ms-transform: translate(-170%, -509%);
                transform: translate(-170%, -509%);
    /* border: 1px solid red; */
    width: 0.45vw;
    height: 0.8vw;
    cursor: pointer;
}

.navigator-buttons button:focus {
    outline: 0;
}

.navigator-div .tooltips span {
    font-size: 4px;
    width: 3vw;
    padding: 30%;
    border-radius: 1px;
    -webkit-transform: translate(-123%, -50%);
        -moz-transform: translate(-123%, -50%);
            -ms-transform: translate(-123%, -50%);
                transform: translate(-123%, -50%);
    -webkit-box-shadow: 0px 1px 4px #000000;
        box-shadow: 0px 1px 4px #000000;
    text-align: center;
}

.navigator-div .tooltips.right span {
    -webkit-transform: translate(24%, -50%);
        -moz-transform: translate(24%, -50%);
            -ms-transform: translate(24%, -50%);
                transform: translate(24%, -50%);
}

.navigator-div .tooltips.left span:after {
    right: 0;
    left: 100%;
    border-right: 0;
    border-left: 1em solid #0b91c3a3;
    margin-top: -0.1vw;
    border-top: 0.1vw solid transparent;
    border-bottom: 0.1vw solid transparent;
}

.navigator-div .tooltips.right span:after {
    margin-top: -0.1vw;
    border-top: 0.1vw solid transparent;
    border-bottom: 0.1vw solid transparent;
}

.navigator-div .tooltips:hover span {
    display: inline;
}

.instructions-div .tooltips span, .tos-div .tooltips span {
    -webkit-transform: translate(33%, -50%) !important;
        -moz-transform: translate(33%, -50%) !important;
            -ms-transform: translate(33%, -50%) !important;
                transform: translate(33%, -50%) !important;
}

.tooltips.top span {
    -webkit-transform: translate(-49%, -211%);
        -moz-transform: translate(-49%, -211%);
            -ms-transform: translate(-49%, -211%);
                transform: translate(-49%, -211%);
    white-space: nowrap;
    width: auto;
}

.tooltips.top span:after {
    content: '';
    position: absolute;
    /* top: 50%; */
    /* bottom: 100%; */
    /* right: 100%; */
    /* left: 0; */
    /* right: 0; */
    margin-top: 0;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-top: 1em solid #0b91c3a3;
    border-left: 0.5vw solid transparent;
    border-right: 0.5vw solid transparent
}

.communicator-div.tooltips.top span {
    -webkit-transform: translate(-49%, -209%);
        -moz-transform: translate(-49%, -209%);
            -ms-transform: translate(-49%, -209%);
                transform: translate(-49%, -209%);
    white-space: nowrap;
}

.navigator-zoomout-btn {
    position: absolute;
    /* border: 1px solid red; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(298%, -598%);
        -moz-transform: translate(298%, -598%);
            -ms-transform: translate(298%, -598%);
                transform: translate(298%, -598%);
    width: 1vw;
    height: 1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0.5vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #509ef3;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.navigator-div.tom .navigator-zoomout-btn {
    right: 0;
    left: unset;
    -webkit-transform: translate(-251%, -537%);
        -moz-transform: translate(-251%, -537%);
            -ms-transform: translate(-251%, -537%);
                transform: translate(-251%, -537%);
}

.navigator-zoomout-btn:active, .navigator-zoomout-btn:focus {
    outline: 0;
}

.ally-dolphin {
    position: absolute;
    width: 21%;
    /* border: 1px solid red; */
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 137%) rotate(0deg);
    -moz-transform: translate(0, 137%) rotate(0deg);
    transform: translate(0, 137%) rotate(0deg);
    display: none;
}

.ally-dolphin img {
    width: 100%;
}

.ally-dolphin .dolphin {
    /* display: none; */
}

.cloud-message {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(11%, -129%);
    -moz-transform: translate(11%, -129%);
    transform: translate(11%, -129%);
    /* border: 1px solid red; */
    width: 19vw;
    height: 12vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: none;
    /* opacity: 0;
    transition: opacity 1s; */
}

.cloud-message img {
    position: absolute;
    z-index: -1;
    /* height: 100%; */
    align-self: center;
}

.cloud-message .message {
    /* border: 1px solid yellow; */
    width: 90%;
    text-align: center;
    top: 0;
    /* font-family: Georgia Italic; */
    font-family: Georgia Italic, Times, "Times New Roman", serif;
    font-style: italic;
    margin: 0 auto;  
    padding: 2% 0;
    /* display: flex; */
      /* justify-content: center; */
    align-items: center;
    flex-flow: column wrap; 
    /* display: none; */
}

.cloud-message .message.message-1 {
    justify-content: center;
}

.cloud-message .message p {
    font-size: 1.9vw;
    /* white-space: pre-line; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    line-height: 1.1em;
    color: #1c2648;
}

.cloud-message .message.thomasina p {
    font-size: 1.7vw;
    line-height: 1.3em;
}

.cloud-message .message p.sub-title {
    font-size: 1.4vw;
    font-weight: 600;
}

.cloud-message span.user-name {
    color: #1b3692;
}

.animate-ally-1 {
    -webkit-animation: dolphinJump 2s cubic-bezier(0.02, 0.03, 0.63, 0.18);
    -moz-animation: dolphinJump 2s cubic-bezier(0.02, 0.03, 0.63, 0.18);
    -o-animation: dolphinJump 2s cubic-bezier(0.02, 0.03, 0.63, 0.18);
    animation: dolphinJump 2s cubic-bezier(0.02, 0.03, 0.63, 0.18);
    /* animation-iteration-count: 5; */
    /* -moz-animation-duration: 2.5s; */
}

.animate-ally-2 {
    -webkit-animation: dolphinJump2 2s cubic-bezier(0.02, 0.03, 0.63, 0.18);
    -moz-animation: dolphinJump2 2s cubic-bezier(0.02, 0.03, 0.63, 0.18);
    -o-animation: dolphinJump2 2s cubic-bezier(0.02, 0.03, 0.63, 0.18);
    animation: dolphinJump2 2s cubic-bezier(0.02, 0.03, 0.63, 0.18);
}

.swim-ally-1 {
    -webkit-animation: swimAlly 1s linear alternate;
    -moz-animation: swimAlly 1s linear alternate;
    -o-animation: swimAlly 1s linear alternate;
    animation: swimAlly 1s linear alternate;
    animation-iteration-count: 2;
}

.swim-ally-2 {
    -webkit-animation: swimAlly 1s infinite linear alternate;
    -moz-animation: swimAlly 1s infinite linear alternate;
    -o-animation: swimAlly 1s infinite linear alternate;
    animation: swimAlly 1s infinite linear alternate;
}

@-webkit-keyframes dolphinJump {
    0% {
        -webkit-transform: translate(-100%, 420%) rotate(-50deg);
        -moz-transform: translate(-100%, 420%) rotate(-50deg);
        transform: translate(-100%, 420%) rotate(-50deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
    }
    50% {
        -webkit-transform: translate(-12%, -120%) rotate(-30deg);
        -moz-transform: translate(-12%, -120%) rotate(-30deg);
        transform: translate(-12%, -120%) rotate(-30deg);
        /* animation-timing-function: cubic-bezier(0.02, 0.01, 0.3, 0.83); */
    }
    75% {
        -webkit-transform: translate(22%, 0%) rotate(20deg);
        -moz-transform: translate(22%, 0%) rotate(20deg);
        transform: translate(22%, 0%) rotate(20deg);
        /* animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68); */
    }
    100% {
        -webkit-transform: translate(0, 0%) rotate(0deg);
        -moz-transform: translate(0, 0%) rotate(0deg);
        transform: translate(0, 0%) rotate(0deg);
    }
}

@-moz-keyframes dolphinJump {
    0% {
        -webkit-transform: translate(-100%, 420%) rotate(-50deg);
        -moz-transform: translate(-100%, 420%) rotate(-50deg);
        transform: translate(-100%, 420%) rotate(-50deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
    }
    50% {
        -webkit-transform: translate(-12%, -120%) rotate(-30deg);
        -moz-transform: translate(-12%, -120%) rotate(-30deg);
        transform: translate(-12%, -120%) rotate(-30deg);
        /* animation-timing-function: cubic-bezier(0.02, 0.01, 0.3, 0.83); */
    }
    75% {
        -webkit-transform: translate(22%, 0%) rotate(20deg);
        -moz-transform: translate(22%, 0%) rotate(20deg);
        transform: translate(22%, 0%) rotate(20deg);
        /* animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68); */
    }
    100% {
        -webkit-transform: translate(0, 0%) rotate(0deg);
        -moz-transform: translate(0, 0%) rotate(0deg);
        transform: translate(0, 0%) rotate(0deg);
    }
}

@-o-keyframes dolphinJump {
    0% {
        -webkit-transform: translate(-100%, 420%) rotate(-50deg);
        -moz-transform: translate(-100%, 420%) rotate(-50deg);
        transform: translate(-100%, 420%) rotate(-50deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
    }
    50% {
        -webkit-transform: translate(-12%, -120%) rotate(-30deg);
        -moz-transform: translate(-12%, -120%) rotate(-30deg);
        transform: translate(-12%, -120%) rotate(-30deg);
        /* animation-timing-function: cubic-bezier(0.02, 0.01, 0.3, 0.83); */
    }
    75% {
        -webkit-transform: translate(22%, 0%) rotate(20deg);
        -moz-transform: translate(22%, 0%) rotate(20deg);
        transform: translate(22%, 0%) rotate(20deg);
        /* animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68); */
    }
    100% {
        -webkit-transform: translate(0, 0%) rotate(0deg);
        -moz-transform: translate(0, 0%) rotate(0deg);
        transform: translate(0, 0%) rotate(0deg);
    }
}

@keyframes dolphinJump {
    0% {
        -webkit-transform: translate(-100%, 420%) rotate(-50deg);
        -moz-transform: translate(-100%, 420%) rotate(-50deg);
        transform: translate(-100%, 420%) rotate(-50deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
    }
    50% {
        -webkit-transform: translate(-12%, -120%) rotate(-30deg);
        -moz-transform: translate(-12%, -120%) rotate(-30deg);
        transform: translate(-12%, -120%) rotate(-30deg);
        /* animation-timing-function: cubic-bezier(0.02, 0.01, 0.3, 0.83); */
    }
    75% {
        -webkit-transform: translate(22%, 0%) rotate(20deg);
        -moz-transform: translate(22%, 0%) rotate(20deg);
        transform: translate(22%, 0%) rotate(20deg);
        /* animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68); */
    }
    100% {
        -webkit-transform: translate(0, 0%) rotate(0deg);
        -moz-transform: translate(0, 0%) rotate(0deg);
        transform: translate(0, 0%) rotate(0deg);
    }
}

@-webkit-keyframes dolphinJump2 {
    0% {
        -webkit-transform: translate(-100%, 420%) rotate(-80deg);
        -moz-transform: translate(-100%, 420%) rotate(-80deg);
        transform: translate(-100%, 420%) rotate(-80deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
    }
    50% {
        -webkit-transform: translate(-10%, 0%) rotate(-8deg);
        -moz-transform: translate(-10%, 0%) rotate(-8deg);
        transform: translate(-10%, 0%) rotate(-8deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.07, 0.46);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 0.07, 0.46);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 0.07, 0.46);
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.07, 0.46);
    }
    75% {
        -webkit-transform: translate(0%, 5%) rotate(3deg);
        -moz-transform: translate(0%, 5%) rotate(3deg);
        transform: translate(0%, 5%) rotate(3deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
    }
    100% {
        -webkit-transform: translate(0, 0%) rotate(0deg);
        -moz-transform: translate(0, 0%) rotate(0deg);
        transform: translate(0, 0%) rotate(0deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
    }
}

@-moz-keyframes dolphinJump2 {
    0% {
        -webkit-transform: translate(-100%, 420%) rotate(-80deg);
        -moz-transform: translate(-100%, 420%) rotate(-80deg);
        transform: translate(-100%, 420%) rotate(-80deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
    }
    50% {
        -webkit-transform: translate(-10%, 0%) rotate(-8deg);
        -moz-transform: translate(-10%, 0%) rotate(-8deg);
        transform: translate(-10%, 0%) rotate(-8deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.07, 0.46);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 0.07, 0.46);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 0.07, 0.46);
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.07, 0.46);
    }
    75% {
        -webkit-transform: translate(0%, 5%) rotate(3deg);
        -moz-transform: translate(0%, 5%) rotate(3deg);
        transform: translate(0%, 5%) rotate(3deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
    }
    100% {
        -webkit-transform: translate(0, 0%) rotate(0deg);
        -moz-transform: translate(0, 0%) rotate(0deg);
        transform: translate(0, 0%) rotate(0deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
    }
}

@-o-keyframes dolphinJump2 {
    0% {
        -webkit-transform: translate(-100%, 420%) rotate(-80deg);
        -moz-transform: translate(-100%, 420%) rotate(-80deg);
        transform: translate(-100%, 420%) rotate(-80deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
    }
    50% {
        -webkit-transform: translate(-10%, 0%) rotate(-8deg);
        -moz-transform: translate(-10%, 0%) rotate(-8deg);
        transform: translate(-10%, 0%) rotate(-8deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.07, 0.46);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 0.07, 0.46);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 0.07, 0.46);
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.07, 0.46);
    }
    75% {
        -webkit-transform: translate(0%, 5%) rotate(3deg);
        -moz-transform: translate(0%, 5%) rotate(3deg);
        transform: translate(0%, 5%) rotate(3deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
    }
    100% {
        -webkit-transform: translate(0, 0%) rotate(0deg);
        -moz-transform: translate(0, 0%) rotate(0deg);
        transform: translate(0, 0%) rotate(0deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
    }
}

@keyframes dolphinJump2 {
    0% {
        -webkit-transform: translate(-100%, 420%) rotate(-80deg);
        -moz-transform: translate(-100%, 420%) rotate(-80deg);
        transform: translate(-100%, 420%) rotate(-80deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.45, 0.87);
    }
    50% {
        -webkit-transform: translate(-10%, 0%) rotate(-8deg);
        -moz-transform: translate(-10%, 0%) rotate(-8deg);
        transform: translate(-10%, 0%) rotate(-8deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.07, 0.46);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 0.07, 0.46);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 0.07, 0.46);
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.07, 0.46);
    }
    75% {
        -webkit-transform: translate(0%, 5%) rotate(3deg);
        -moz-transform: translate(0%, 5%) rotate(3deg);
        transform: translate(0%, 5%) rotate(3deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
    }
    100% {
        -webkit-transform: translate(0, 0%) rotate(0deg);
        -moz-transform: translate(0, 0%) rotate(0deg);
        transform: translate(0, 0%) rotate(0deg);
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        -o-animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
        animation-timing-function: cubic-bezier(0.02, 0.01, 1, 0.68);
    }
}

@-webkit-keyframes swimAlly {
    0% {
        -webkit-transform: translate(0, 0%);
        -moz-transform: translate(0, 0%);
        transform: translate(0, 0%);
    }
    100% {
        -webkit-transform: translate(0%, 5%) rotate(3deg);
        -moz-transform: translate(0%, 5%) rotate(3deg);
        transform: translate(0%, 5%) rotate(3deg);
    }
}

@-moz-keyframes swimAlly {
    0% {
        -webkit-transform: translate(0, 0%);
        -moz-transform: translate(0, 0%);
        transform: translate(0, 0%);
    }
    100% {
        -webkit-transform: translate(0%, 5%) rotate(3deg);
        -moz-transform: translate(0%, 5%) rotate(3deg);
        transform: translate(0%, 5%) rotate(3deg);
    }
}

@-o-keyframes swimAlly {
    0% {
        -webkit-transform: translate(0, 0%);
        -moz-transform: translate(0, 0%);
        transform: translate(0, 0%);
    }
    100% {
        -webkit-transform: translate(0%, 5%) rotate(3deg);
        -moz-transform: translate(0%, 5%) rotate(3deg);
        transform: translate(0%, 5%) rotate(3deg);
    }
}

@keyframes swimAlly {
    0% {
        -webkit-transform: translate(0, 0%);
        -moz-transform: translate(0, 0%);
        transform: translate(0, 0%);
    }
    100% {
        -webkit-transform: translate(0%, 5%) rotate(3deg);
        -moz-transform: translate(0%, 5%) rotate(3deg);
        transform: translate(0%, 5%) rotate(3deg);
    }
}

.user-photo {
    width: 4vw;
    height: 3.2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-70%, -348%);
    -moz-transform: translate(-70%, -348%);
    transform: translate(-70%, -348%);
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    justify-content: center;
}

.user-photo.male {
    width: 4.1vw;
    height: 3.3vw;
    -webkit-transform: translate(-70%, -336%);
    -moz-transform: translate(-70%, -336%);
    transform: translate(-70%, -336%);
}

.user-photo img {
    border-radius: 21% 21% 35% 35%;
    align-self: stretch;
    /* filter: opacity(0.8); */
}

.user-photo.male img {
    border-radius: 21% 21% 30% 30%;
}


.easy-autocomplete input{
   border-width:0px !important;
   color: #17a2b887  !important;
}
.easy-autocomplete-container ul {
    background: rgba(12, 44, 90, 0.73) !important;
}
.easy-autocomplete-container ul {
    background: rgba(12, 44, 90, 0.73) !important;
    list-style: none !important;
    list-style-type: none !important;
}
.easy-autocomplete-container ul  li{
    list-style: none !important;
    list-style-type: none !important;
    border-bottom: 1px solid #6c757d;
    font-family: Nasalization;
    /* padding: 0; */
    text-align: left;
    padding-left: 5%;
}
ul{
    list-style: none !important;
    list-style-type: none !important;
}

.details {
    /*added temporarily*/
    display:none;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translate(0, -50%);
}

.details table {
    width: 90%;
    margin: 0 auto;
    font-family: courgette;
    color: #fff;
}

.details table td {
    padding: 2%;
}

.country-div .easy-autocomplete {
    flex: 50%;
}

input#countries {
    border-right: 1px solid #6c757d !important;
}

.country-div select {
    flex: 50%;
}

.blog-search input::placeholder {
    color: #6c757d;
}