

/* common for all devices  */
.communicator {
  height: 100vh;
}

.main-screen {
  /* border: 1px solid red; */
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.astronautarm-img {
  background-image: url(../../front/images/login/reset_arm.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left center;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* bottom: 0; */
  /* border: 1px solid green; */
  object-fit: cover;
  z-index: -1;
  display: flex;
}

.astronaut-arm {
  max-width: 100%;
  /* max-height: 100%; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* bottom: 0; */
  display: none;
  z-index: -1;
}

.form-group{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-127%, -70%);
  width: 28.8vw;
  height: 12vw;
}
.start-div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-135%, -97%);
  -moz-transform: translate(-135%, -97%);
  transform: translate(-163%, -463%);
    /* border: 1px solid red; */
    width: 22.8vw;
    height:2.5vw;
    opacity: 2;
}

.start-div p {
  text-align: center;
  font-family: 'Space Age';
  color:#28e9e2 !important;/* #17a2b8;*/
  font-size: 1.5vw;
  vertical-align: middle;
  line-height: 2.5vw;
}/* common for all devices  */






.form_content{
  font-family:space age !important;
  color:#12f8ff !important;
}
.labels
{
  font-family:space age !important;
  color:#12f8ff !important;
}
.form-control
{
  border1:0px solid white;
}

.txt_email{
  font-family:space age;

}
#block_land{
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: #212529;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: none;
  color: #fff;
  z-index: 200000;
  font-size: 20px;
}
#block_land h1 {
  text-transform: uppercase;
}
#block_land .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
#block_land img {
  width: 50%;
}
/*---------------------------------------------------------------------------------*/
/*// Extra small devices (portrait phones, less than 576px)*/
/*---------------------------------------------------------------------------------*/
@media (max-width: 575.98px) {
      .container_child{
        width: 142%;
        margin-left: -3%;
      }
      .form-control 
      {
        font-size: 6px !important;
      }
      .labels
      {
        font-size: 6px !important;
      }
      .form_content {
        width: 42% !important;
        margin-top: -40.3%;
        margin-left: 11%;
    }
      .btn_reset{
        font-size: 7px !important;
        font-family: space age;
      padding:3px !important;
      }
}



/*---------------------------------------------------------------------------------*/
/*// Small devices (landscape phones, 576px and up)*/
/*---------------------------------------------------------------------------------*/
@media (min-width: 576px) and (max-width: 767.98px) {

      .container_child
    {
      width: 112%;
      margin-top: 2%;
      margin-left: -3%;
      }
      .labels
      {
        font-size: 7px !important;
      }
      .form-control 
      {
        font-size: 7px !important;
      }
     
      .form_content {
        width: 54% !important;
        margin-top: -33%;
        margin-left: 2%;
    }
      .btn_reset{
        font-size: 7px !important;
        font-family: space age;
      padding:3px !important;
      }
}

/*---------------------------------------------------------------------------------*/
/*// Medium devices (tablets, 768px and up)*/
/*---------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  .container_child
        {
        margin-left: -2%;
        margin-top: -2%;
      }
      .form-control
        {
          font-size: 7px !important;
        }
        .labels
        {
          font-size: 7px !important;
        }
      .form_content {
        width: 44% !important;
        margin-top: -29.3%;
        margin-left: 3%;
      }
      .btn_reset{
        font-size: 7px !important;
        font-family: space age;
      padding:3px !important;
      }
}

/*---------------------------------------------------------------------------------*/
/*// Large devices (desktops, 992px and up)*/
/*---------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1198px) {
      .container_child
      {
        width: 133% !important;
        margin-left: -2%;
        margin-top: 2%;
      }
      .form-control
      {
        font-size: 11px !important;
      }
      .labels
      {
        font-size: 11px !important;
      }
      .form_content {
        width: 53% !important;
        margin-top: -39.3%;
        margin-left: 7%;
    }
      .btn_reset{
        font-size: 11px !important;
        font-family: space age;
        padding:3px !important;
      }
}
/*--------------------------------------------------------------------------------------------------*/
/*----------------------------------------min-width: 1200px-----------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
@media (min-width: 1200px) {
      .container_child
      {
        width: 142%;
        position: absolute;
        left: 0%;
        top: 0%;
      }
      .form_content{
        margin-top: 19%;
        margin-left: 15%;
        width: 57%;
      }
      .btn_reset{
        font-size: 17px !important;
        font-family: space age;
      }
      /**/
     /* .form_content{
      width: 50%;
      margin-top: 16%;
      margin-left: 33%;
      }*/
}


/*--------------------------------------------------------------------------------------------------*/
/*-----------------------min-width: 1920px ----------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
@media (min-width: 1920px) {
        .container_child {
          width: 142%;
          margin-left: -13%;
          margin-top: 8%;
      }
      .form_content {
        margin-top: 26%;
        margin-left: 8%;
        width: 52%;
      }
}
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------min-width: 2500px-------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
@media (min-width: 2500px) {
      .container_child {
        width: 142%;
        margin-left: -25%;
        margin-top: 12%;
    }
    .form_content {
      margin-top: 26%;
      margin-left: 10%;
      width: 36%;
    }
}