.mbaye_body {
    width: 100% !important;
    position: static !important;
    overflow-y: auto;
    display: block !important;
}

body::after {
    content: "" ;
    display: table ; /* NOTE: Display "block" does not seem to work with height: 0px. */
    height: 0px ;
}

.single-blog {
    width: 60vw;
    height: 64vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -42%);
    -ms-transform: translate(-50%, -42%);
    -moz-transform: translate(-50%, -42%);
        transform: translate(-50%, -42%);
    /* padding: 50px; */
    color: #fff;
    margin: 0 auto;
    /* background: #00489447; */
    font-family: Arial, Helvetica, sans-serif;
    /* box-shadow: 3px 3px 20px 10px rgba(0, 0, 0, 0.62); */
    -webkit-transition: -webkit-transform 1000ms ease;
    -moz-transition: transform 1000ms ease;
    -o-transition: transform 1000ms ease;
    transition: transform 1000ms ease;
    transition: transform 1000ms ease, -webkit-transform 1000ms ease;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    /* border: 1px solid red; */
    display: none;
}

#app {
    position: relative;
}

.featured_image {
    width: 54%;
    float: right;
    /* -webkit-box-reflect: below 2px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.3))); */
    position: absolute;
    top: -7%;
    left: 3%;
    -webkit-box-shadow: 12px 3px 20px 7px rgba(0, 0, 0, 0.36);
            box-shadow: 12px 3px 20px 7px rgba(0, 0, 0, 0.36);
}

.blog-details {
    /* width: 40%; */
    /* border: 1px solid red; */
    /* float: right; */
    /* height: 100%; */
    padding: 2%;
    margin-left: 1%;
    /* height: 70%; */
    /* order: 0; */
    /* flex-shrink: 0; */
    -webkit-box-flex: 1;
        -ms-flex: 1 30%;
            flex: 1 30%;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* flex-shrink: 1; */
}

.blog-details-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.blog-featured-img {
    /* border: 1px solid green; */
    width: 100%;
    float: left;
    padding: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* box-shadow: 12px 3px 20px 7px rgba(0, 0, 0, 0.36); */
    -webkit-filter: drop-shadow(12px 16px 7px rgba(0, 0, 0, 0.36));
    filter: drop-shadow(12px 16px 7px rgba(0, 0, 0, 0.36));
    position: relative;
    top: -7%;
    /* left: 3%; */
    margin-left: 2%;
    /* flex: 1 50%; */
    /* height: 100%; */
}

.blog-heading {
    /* min-height: 32vh; */
    width: 100%;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #00489447;
    -webkit-box-shadow: 3px 3px 20px 10px rgba(0, 0, 0, 0.62);
            box-shadow: 3px 3px 20px 10px rgba(0, 0, 0, 0.62);
    padding: 1% 0;
    position: relative;
    /* border: 1px solid yellow; */
    /* background: #fff; */
    /* height: 31vh; */
    
    /* padding: 20px; */
    /* border-radius: 10px 10px 0px 0px; */
}

.blog-dates-reactions {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* flex-flow: row wrap; */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* border: 1px solid red; */
    /* flex-wrap: wrap; */
    /* width: calc(65% + 1vw); */
    /* width: 100%; */
    /* margin-left: 2%; */
    /* flex-basis: 60%; */
    padding-bottom: 1%;
}

/* .blog-heading:after {
    font-family: FontAwesome;
    content: '\f062';
    color: red;
    position: absolute;
    right: 0;
    background: #1876d0;
    border: 0;
    color: #fff;
    padding: 0px 15px;
    font-size: 2.5em;
    border-radius: 100%;
    position: absolute;
    right: 1%;
    bottom: 12%;
    cursor: pointer;
} */

.blog-title {
    font-family: 'Courgette';
    font-size: 1.5em;
    /* white-space: nowrap;
    width: 24vw;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.blog-body {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
        transform: scaleY(0);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    position: relative;
    width: 100%;
    display: none;
}

.blog-content {
    /* height: 55vh; */
    /* overflow-y: auto; */
    width: 100%;
    padding: 1rem;
    /* display: none; */
    /* position: relative; */
    /* top: -1%; */
    /* margin-top: 1%; */
    z-index: -1;
    /* border: 1px solid red; */
    background: #0048941c;
    /* overflow: hidden; */
    -webkit-box-shadow: 3px 3px 20px 10px rgba(0, 0, 0, 0.62);
            box-shadow: 3px 3px 20px 10px rgba(0, 0, 0, 0.62);
    margin-bottom: 2%;
    margin-top: 0.5%;
    font-size: 0.9em;
}

.trix-content {
    clear: both;
    /* margin-bottom: 5%; */
    /* visibility: hidden; */
}

.blog-dates {
    /* position: absolute; */
    /* top: 69%; */
    /* margin-left: 1.5em; */
    /* margin-bottom: 1em; */
    /* font-weight: bold; */
    /* font-family: arial; */
    color: #aaa;
    line-height: 1;
    text-align: center;
    /* align-self: flex-end; */
    /* border: 1px solid red; */
    /* flex: 1 auto; */
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: 2%;
}

.blog-dates .day {
    font-size: 4em;
    font-weight: 550;
}

.blog-dates .month {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 500;
}

.blog-owner {
    background: #77d3e1;
    color: #000;
    padding: 1% 4%;
    border-radius: 20px;
    font-size: 0.8em;
    font-weight: 500;
    /* flex: 10%; */
    -ms-grid-row-align: flex-start;
    -ms-grid-column-align: flex-start;
    place-self: flex-start;
}

.blog-summary {
    /* padding-top: 15px; */
    /* border-top: 1px solid #ccc; */
    /* margin-top: 10px; */
    /* height: 40vh; */
    /* padding-bottom: 30%; */
    font-size: 0.9em;
}

.blog-details hr {
    border-color: #ccc !important;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.blog-summary .hide-summary {
    opacity:0;
    -webkit-transition:opacity 1000ms;
    -moz-transition:opacity s1000s;
    -o-transition:opacity 1000ms;
    transition:opacity 1000ms;
}

.blog-btn {
    background: #1876d0;
    border: 0;
    color: #fff;
    padding: 0.3rem 1rem;
    font-size: 2em;
    border-radius: 100%;
    position: absolute;
    right: 3%;
    z-index: 1;
}

.blog-fullview {
    bottom: -6%;
}

.blog-minimize {
    bottom: -3.5%;
}

.single-blog.fullview {
    -webkit-transform: translate(-50%, -68%);
    -moz-transform: translate(-50%, -68%);
    -ms-transform: translate(-50%, -68%);
        transform: translate(-50%, -68%);
}

.blog-body.show-blogcontent {
    display: block;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
        transform: scaleY(1);
    -webkit-transition: -webkit-transform 500ms ease-in;
    transition: -webkit-transform 500ms ease-in;
    -moz-transition: transform 500ms ease-in;
    -o-transition: transform 500ms ease-in;
    -o-transition: transform 500ms ease-in;
    transition: transform 500ms ease-in;
    transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
}

.blog-buttons {
    /* position: absolute; */
    /* bottom: 3%; */
    /* right: 40%; */
    /* border: 1px solid #28a745; */
    /* width: 21vw; */
    text-align: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transition: opacity 1000ms;
    -o-transition: opacity 1000ms;
    -moz-transition: opacity 1000s;
    transition: opacity 1000ms;
    /* transition: right 1s ease-in; */
    /* flex: 38%; */
    /* flex: 1 20%; */
    width: 50%;
}

.blog-buttons.blog-button-2 {
    display: none;
}

.blog-buttons button {
    color: #fff;
    background: #fff0;
    border: 0;
    font-size: 1.8em;
    /* margin: 0% 3%; */
}

.blog-buttons .button-div {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    /* line-height: 1; */
    /* border: 1px solid red; */
    width: 20%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.blog-buttons .button-details {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

/* .button-div span {
    font-size: 0.7em;
    color: #aaa;
} */

.blog-buttons.fullview {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* position: absolute; */
    /* top: 32%;
    right: 8%;
    bottom: 7%; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(80%, -28%); */
    opacity: 1 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}

.blog-buttons.fullview .right, .blog-buttons.fullview .left {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.blog-buttons.fullview .button-div {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: auto;
}

.blog-buttons.fullview .button-details {
    line-height: 1.5;
    width: 7vw;
}

.button-details .button-title {
    font-size: 1em;
    font-weight: bold;
    display: none;
}

.blog-buttons.fullview .button-title {
    display: block;
}

.abbr {
    display: none;
}

.button-details .button-number {
    font-size: 0.8em;
    color: #ccc;
}

.blog-tags {
    color: #fff;
    /* margin-top: 1%; */
    font-size: 0.6rem;
    /* display: none; */
    /* height: 4vh; */
    /* overflow-y: auto; */
    /* border: 1px solid rebeccapurple; */
    margin-bottom: 2%;
    /* flex: 100%; */
}

.tags {
    list-style: none;
    margin: 0;
    /* overflow: hidden; */
    padding: 0;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    /* flex-wrap: wrap;   */
}

.tags li {
    /* float: left;  */
}

.tag {
    background: #2d3339;
    border-radius: 3em;
    color: #999;
    /* display: inline-block; */
    /* height: 26px; */
    line-height: 3em;
    padding: 0 4%;
    /* position: relative; */
    margin: 0 2% 2% 0;
    text-decoration: none;
    white-space: nowrap;
}

.item-video{
    height: 300px;
}

.owl-dots {
    display: block !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #17a2b8;
}

.owl-theme .owl-dots .owl-dot {
    outline: 0;
}

.reaction-div {
    width: 17%;
    /* height: 38vh; */
    position: fixed;
    top: 50%;
    /* background-image: url(../../front/images/wholeAstronautBack.png);
    background-size: 100%;
    background-repeat: no-repeat; */
    /* transform: translate(0, -50%); */
    /* border: 2px solid red; */
    -webkit-transform: translate(0, -50%) rotateY(20deg);
    -moz-transform: translate(0, -50%) rotateY(20deg);
    transform: translate(0, -50%) rotateY(20deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
    display: none;
}

.reaction-div.animate-zoomIn {
    -webkit-transition: -webkit-transform 3s ease 0s;
    transition: -webkit-transform 3s ease 0s;
    -moz-transition: transform 3s ease 0s;
    -o-transition: transform 3s ease 0s;
    transition: transform 3s ease 0s;
    transition: transform 3s ease 0s, -webkit-transform 3s ease 0s;
    -webkit-animation: animateZoomIn 1s linear; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
    -moz-animation: animateZoomIn 1s linear; /* Fx 5+ */
    -o-animation: animateZoomIn 1s linear; /* Opera 12+ */
    animation: animateZoomIn 1s linear;
}

.reaction-div.animate-zoomOut {
    -webkit-transition: -webkit-transform 3s ease 0s;
    transition: -webkit-transform 3s ease 0s;
    -moz-transition: transform 3s ease 0s;
    -o-transition: transform 3s ease 0s;
    transition: transform 3s ease 0s;
    transition: transform 3s ease 0s, -webkit-transform 3s ease 0s;
    -webkit-animation: animateZoomOut 1s linear; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
    -moz-animation: animateZoomOut 1s linear; /* Fx 5+ */
    -o-animation: animateZoomOut 1s linear; /* Opera 12+ */
    animation: animateZoomOut 1s linear;
}

.zoomin-astronaut {
    /* transition: none !important; */
    /* top: 50%;
    left: 50%; */
    /* transform-origin: left; */
    -webkit-transform: translate(237%, -23%) scale(2);
    -moz-transform: translate(237%, -23%) scale(2);
        -ms-transform: translate(237%, -23%) scale(2);
            transform: translate(237%, -23%) scale(2);
    pointer-events: auto !important;
}

.zoomin-astronaut .tooltips span {
    font-size: 7px;
    border-radius: 3px;
}

.zoomin-astronaut .tooltips span:after {
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

@-webkit-keyframes animateZoomIn {
    0% {
        top: 50%;
        left: 0;
    }

	100% {
        /* transform-origin: right; */
        /* transform-origin: left; */
        -webkit-transform: translate(237%, -23%) scale(2);
        -moz-transform: translate(237%, -23%) scale(2);
                transform: translate(237%, -23%) scale(2);
	}
}

@-moz-keyframes animateZoomIn {
    0% {
        top: 50%;
        left: 0;
    }

	100% {
        /* transform-origin: right; */
        /* transform-origin: left; */
        -webkit-transform: translate(237%, -23%) scale(2);
        -moz-transform: translate(237%, -23%) scale(2);
                transform: translate(237%, -23%) scale(2);
	}
}

@-o-keyframes animateZoomIn {
    0% {
        top: 50%;
        left: 0;
    }

	100% {
        /* transform-origin: right; */
        /* transform-origin: left; */
        -webkit-transform: translate(237%, -23%) scale(2);
        -moz-transform: translate(237%, -23%) scale(2);
                transform: translate(237%, -23%) scale(2);
	}
}

@keyframes animateZoomIn {
    0% {
        top: 50%;
        left: 0;
    }

	100% {
        /* transform-origin: right; */
        /* transform-origin: left; */
        -webkit-transform: translate(237%, -23%) scale(2);
        -moz-transform: translate(237%, -23%) scale(2);
                transform: translate(237%, -23%) scale(2);
	}
}

@-webkit-keyframes animateZoomOut {
	100% {
        /* transform-origin: right; */
        /* transform-origin: left; */
        /* top: 50%;
        left: 0; */
        -webkit-transform: translate(0, -50%) rotateY(20deg) scale(1);
        -moz-transform: translate(0, -50%) rotateY(20deg) scale(1);
                transform: translate(0, -50%) rotateY(20deg) scale(1);
	}
}

@-moz-keyframes animateZoomOut {
    100% {
        /* transform-origin: right; */
        /* transform-origin: left; */
        /* top: 50%;
        left: 0; */
        -webkit-transform: translate(0, -50%) rotateY(20deg) scale(1);
        -moz-transform: translate(0, -50%) rotateY(20deg) scale(1);
                transform: translate(0, -50%) rotateY(20deg) scale(1);
    }
}

@-o-keyframes animateZoomOut {
    100% {
        /* transform-origin: right; */
        /* transform-origin: left; */
        /* top: 50%;
        left: 0; */
        -webkit-transform: translate(0, -50%) rotateY(20deg) scale(1);
        -moz-transform: translate(0, -50%) rotateY(20deg) scale(1);
                transform: translate(0, -50%) rotateY(20deg) scale(1);
    }
}

@keyframes animateZoomOut {
	100% {
        /* transform-origin: right; */
        /* transform-origin: left; */
        /* top: 50%;
        left: 0; */
        -webkit-transform: translate(0, -50%) rotateY(20deg) scale(1);
        -moz-transform: translate(0, -50%) rotateY(20deg) scale(1);
                transform: translate(0, -50%) rotateY(20deg) scale(1);
	}
}

.astronaut-body {
    width: 100%;
}

.reaction-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -89%);
    -moz-transform: translate(-51%, -89%);
        -ms-transform: translate(-51%, -89%);
            transform: translate(-51%, -89%);
    /* border: 1px solid forestgreen; */
    width: 8.5vw;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 1%;
}

.reaction-button button {
    background: #fff0;
    border: 0;
    margin: 1% 0;
    padding: 0;
    /* border: 1px solid red; */
}

.reaction-button .naff {
    -webkit-box-flex: 1;
        -ms-flex: 1 34%;
            flex: 1 34%;
}

.reaction-button .cool {
    -webkit-box-flex: 1;
        -ms-flex: 1 65%;
            flex: 1 65%;
    z-index: -1;
}

.reaction-button .naff img {
    width: 100%;
    -webkit-transform: rotate(-36deg);
        -ms-transform: rotate(-36deg);
            transform: rotate(-36deg);
}

.reaction-button .cool img {
    width: 100%;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
            transform: rotate(5deg);
}

.reaction-button .comments {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.reaction-button .comments img {
    width: 46%;
    -webkit-transform: translateY(-7%) rotate(24deg);
    -moz-transform: translateY(-7%) rotate(24deg);
    -ms-transform: translateY(-7%) rotate(24deg);
    transform: translateY(-7%) rotate(24deg);
    position: relative;
    top: 1.2em;
}

.reaction-button .hot {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
}

.reaction-button .hot img {
    width: 81%;
}

.reaction-button button:active, .reaction-button button:hover, .reaction-button button:focus {
    outline: 0;
}

.reaction-button img {
    width: 55%;
    cursor: pointer;
}

.button-div.hotIcon {
    /* margin-right: -8%; */
}

.button-div.coolIcon {
    /* margin-right: -4%; */
}

.button-div img {
    height: 5vh;
    width: auto;
}

.naffIcon img {
    height: 4vh;
}

.reaction-button img {
    -webkit-filter: drop-shadow(0px 0px 4px #903614);
    filter: drop-shadow(0px 0px 4px #903614);
}

.reaction-button img:hover {
    -webkit-filter: drop-shadow(0px 0px 5px #00ffc4);
    filter: drop-shadow(0px 0px 5px #00ffc4);
}

.reaction-button .selected-reaction {
    -webkit-filter: drop-shadow(0px 0px 5px #00ffc4);
    filter: drop-shadow(0px 0px 5px #00ffc4);
}

/* Comments section */
.blog-comments {
    background: #00489447;
    padding: 2%;
    margin-bottom: 10%;
    position: relative;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 15%;
}

.blog-comments h2 {
    text-align: center;
    font-family: 'Courgette';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0e7f90;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 1.8em;
}

.blog-comments textarea {
    width: 100%;
    height: 10vh;
    padding: 1%;
    background: #ffffffd9;
    border: 0;
    outline: 0;
    color: #0cd4cd;
    font-family: 'Nasalization';
    margin-top: 2%;
    font-size: 0.9em;
}

.blog-comments textarea::-webkit-input-placeholder {
    color: #0cd4cd;
    font-family: 'Nasalization';
}

.blog-comments textarea::-moz-placeholder {
    color: #0cd4cd;
    font-family: 'Nasalization';
}

.blog-comments textarea:-ms-input-placeholder {
    color: #0cd4cd;
    font-family: 'Nasalization';
}

.blog-comments textarea::-ms-input-placeholder {
    color: #0cd4cd;
    font-family: 'Nasalization';
}

.blog-comments textarea::placeholder {
    color: #0cd4cd;
    font-family: 'Nasalization';
}

.blog-comments-count {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 2%;
    text-align: end;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.blog-comments-count img {
    width: 4%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.blog-comments-count .comments-count {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: 'Space Age';
    font-size: 1.5em;
}

.blog-comment {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 2%;
}

.blog-comment .user-picture {
    background-image: url(../../front/icons/comment-male.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 5vw;
    height: 8vh;
    /* padding: 3% 0; */
    /* border: 1px solid red; */
    position: relative;
}

.blog-comment img.user-photo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-54%, -71%);
    -moz-transform: translate(-54%, -71%);
        -ms-transform: translate(-54%, -71%);
            transform: translate(-54%, -71%);
    width: 34%;
    border-radius: 50% 50% 111% 111%;
    z-index: -1;
}

.blog-comments-thread {
    margin-top: 3%;
    width: 100%;
    max-height: 50vh;
    overflow-y: auto;
    /* border-top: 1px solid #c1d7e445; */
    /* border-bottom: 1px solid #c1d7e445; */
}

.blog-comment .user-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(7%, -74%);
    -moz-transform: translate(7%, -74%);
        -ms-transform: translate(7%, -74%);
            transform: translate(7%, -74%);
    /* width: auto; */
    /* border: 1px solid green; */
    /* background: #0e9494; */
    /* padding: 3%; */
    /* padding-left: 10%; */
    z-index: -2;
    font-family: 'Nasalization';
    font-size: 0.8em;
    color: #af1b1b;
    font-weight: bold;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* justify-content: space-between; */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.user-title div {
    background: #0e9494;
}

.blog-comment .title {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 0%;
    padding: 3%;
    /* padding-left: 10%; */
    /* opacity: 1; */
    /* line-height: 0em; */
    white-space: nowrap;
    overflow: hidden;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: right;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.user-picture:hover .user-title .title {
    width: 80%;
}

.blog-comment .user-name {
    color: #fff;
    /* width: 100%; */
    padding: 3% 5%;
    /* margin-left: -5%; */
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.blog-comment .message {
    padding: 3% 5%;
    width: 100%;
    /* border: 1px solid red; */
    font-size: 0.8em;
    font-family: 'Nasalization';
    border-bottom: 2px solid #0d9591;
    position: relative;
}

.blog-comment .message img {
    width: 4%;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

.tooltips {
    position: relative;
    display: inline;
}
.tooltips span {
    position: absolute;
    top: 50%;
    left: 50%;
    /* opacity: 0.8; */
    -webkit-transform: translate(20%, -50%);
    -moz-transform: translate(20%, -50%);
        -ms-transform: translate(20%, -50%);
            transform: translate(20%, -50%);
    /* left: 70%; */
    /* top: 50%; */
    /* margin-top: -36px; */
    /* margin-left: 15px; */
    z-index: 999;
    width: 13vw;
    color: #FFFFFF;
    text-shadow: 0px 0px 3px #000000;
    font-family: 'Nasalization';
    background: #0b91c3a3;
    /* height: 72px; */
    line-height: 1em;
    text-align: center;
    display:none;
    border-radius: 12px;
    -webkit-box-shadow: 0px 3px 4px #000000;
            box-shadow: 0px 3px 4px #000000;
    font-size: 0.9em;
    word-wrap: break-word;
    padding: 10%;
    outline: 0;
    border: 0;
}

.tooltips span:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-right: 1em solid #0b91c3a3;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.show-tooltip {
    /* visibility: visible !important; */
    /* opacity: 0.8; */
    -webkit-transform: translate(20%, -50%);
    -moz-transform: translate(20%, -50%);
        -ms-transform: translate(20%, -50%);
            transform: translate(20%, -50%);
    /* left: 70%; */
    /* top: 50%; */
    /* margin-top: -36px; */
    /* margin-left: 15px; */
    z-index: 999;
}

span.hot-tooltip {
    background: #d04e4ea3;
}

span.hot-tooltip:after {
    border-right: 1em solid #d04e4ea3;
}

span.naff-tooltip {
    background: #a4ad20a8;
    padding: 20%;
}

span.naff-tooltip:after {
    border-right: 1em solid #a4ad20a8;
}

span.comment-tooltip {
    background: #108c4cb3;
    -webkit-transform: translate(36%, 10%);
    -moz-transform: translate(36%, 10%);
        -ms-transform: translate(36%, 10%);
            transform: translate(36%, 10%);
}

span.comment-tooltip:after {
    border-right: 1em solid #108c4cb3;
}

span.cool-tooltip {
    padding: 20%;
}

.reaction-popup {
    position: fixed;
    background: #201b1ba8;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    display: none;
    z-index: 999;
}

.reaction-popup div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    line-height: 3em;
    font-family: 'Nasalization';
    font-size: 0.9em;
    color: #fff;
}

.reaction-popup button {
    border: 0;
    background: #fff0;
    outline: 0;
}

.reaction-popup img {
    width: 30%;
}

.reaction-popup img.coolIcon {
    width: 80%;
}

.reaction-popup img.hotIcon {
    width: 70%;
}

.astronaut-butt {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 70%);
    -moz-transform: translate(-50%, 70%);
        -ms-transform: translate(-50%, 70%);
            transform: translate(-50%, 70%);
    border: 0;
    width: 8vw;
    height: 2vw;
    background: #fff0;
    outline: 0;
    cursor: pointer;
}

.astronaut-butt:focus {
    outline: 0;
}

p.comment-date {
    position: absolute;
    bottom: 0;
    /* right: 0; */
    /* left: 50%; */
    margin-left: 100%;
    /* transform: translate(28%, 0%); */
    font-family: 'Nasalization';
    /* display: flex; */
    width: 13vw;
    font-size: 0.7em;
    color: #ccc;
    white-space: nowrap;
}

.trix-content .attachment--preview .attachment__caption {
    display: none;
}

.zoom-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -389%);
    -moz-transform: translate(-50%, -389%);
        -ms-transform: translate(-50%, -389%);
            transform: translate(-50%, -389%);
    background: #fff0;
    border: 0;
    color: #fff;
    width: 5vw;
    height: 4vw;
    font-size: 1em;
    display: none;
    cursor: pointer;
}

.navigator-div {
    position: fixed;
    right: 0;
    top: 50%;
    bottom: 0;
    -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
    width: 10%;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    display: none;
    pointer-events: none;
}

.navigator-div img {
    cursor: pointer;
    align-self: center;
}

.navigator-div.zoomin {
    pointer-events: auto;
    -webkit-transform: translate(-163%, 64%) scale(4);
    -moz-transform: translate(-163%, 64%) scale(4);
    -ms-transform: translate(-163%, 64%) scale(4);
    transform: translate(-163%, 64%) scale(4);
}

.navigator-div.tom.zoomin {
    -webkit-transform: translate(-170%, 64%) scale(4);
    -moz-transform: translate(-170%, 64%) scale(4);
    -ms-transform: translate(-170%, 64%) scale(4);
    transform: translate(-170%, 64%) scale(4);
}

.navigator-div.animate-navigator-zoomin {
    -webkit-animation: navigatorAnimateZoomIn 1s linear; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
    -moz-animation: navigatorAnimateZoomIn 1s linear; /* Fx 5+ */
    -o-animation: navigatorAnimateZoomIn 1s linear; /* Opera 12+ */
    animation: navigatorAnimateZoomIn 1s linear;
}

.navigator-div.tom.animate-navigator-zoomin {
    -webkit-animation: navigatorAnimateZoomInTom 1s linear; /* Safari 4+ */
        -moz-animation: navigatorAnimateZoomInTom 1s linear; /* Fx 5+ */
            -o-animation: navigatorAnimateZoomInTom 1s linear; /* Opera 12+ */
                animation: navigatorAnimateZoomInTom 1s linear;
}

@-webkit-keyframes navigatorAnimateZoomIn {
    0% {
        top: 50%;
        right: 0;
    }

	100% {
        -webkit-transform: translate(-163%, 64%) scale(4);
        -moz-transform: translate(-163%, 64%) scale(4);
        -ms-transform: translate(-163%, 64%) scale(4);
        transform: translate(-163%, 64%) scale(4);
	}
}

@-moz-keyframes navigatorAnimateZoomIn {
    0% {
        top: 50%;
        right: 0;
    }

	100% {
        -webkit-transform: translate(-163%, 64%) scale(4);
        -moz-transform: translate(-163%, 64%) scale(4);
        -ms-transform: translate(-163%, 64%) scale(4);
        transform: translate(-163%, 64%) scale(4);
	}
}

@-o-keyframes navigatorAnimateZoomIn {
    0% {
        top: 50%;
        right: 0;
    }

	100% {
        -webkit-transform: translate(-163%, 64%) scale(4);
        -moz-transform: translate(-163%, 64%) scale(4);
        -ms-transform: translate(-163%, 64%) scale(4);
        transform: translate(-163%, 64%) scale(4);
	}
}

@keyframes navigatorAnimateZoomIn {
    0% {
        top: 50%;
        right: 0;
    }

	100% {
        -webkit-transform: translate(-163%, 64%) scale(4);
        -moz-transform: translate(-163%, 64%) scale(4);
        -ms-transform: translate(-163%, 64%) scale(4);
        transform: translate(-163%, 64%) scale(4);
	}
}

@-webkit-keyframes navigatorAnimateZoomInTom {
    0% {
        top: 50%;
        right: 0;
    }

    100% {
        -webkit-transform: translate(-170%, 64%) scale(4);
        -moz-transform: translate(-170%, 64%) scale(4);
        -ms-transform: translate(-170%, 64%) scale(4);
        transform: translate(-170%, 64%) scale(4);
    }
}

@-moz-keyframes navigatorAnimateZoomInTom {
    0% {
        top: 50%;
        right: 0;
    }

    100% {
        -webkit-transform: translate(-170%, 64%) scale(4);
        -moz-transform: translate(-170%, 64%) scale(4);
        -ms-transform: translate(-170%, 64%) scale(4);
        transform: translate(-170%, 64%) scale(4);
    }
}

@-o-keyframes navigatorAnimateZoomInTom {
    0% {
        top: 50%;
        right: 0;
    }

    100% {
        -webkit-transform: translate(-170%, 64%) scale(4);
        -moz-transform: translate(-170%, 64%) scale(4);
        -ms-transform: translate(-170%, 64%) scale(4);
        transform: translate(-170%, 64%) scale(4);
    }
}

@keyframes navigatorAnimateZoomInTom {
    0% {
        top: 50%;
        right: 0;
    }

    100% {
        -webkit-transform: translate(-170%, 64%) scale(4);
        -moz-transform: translate(-170%, 64%) scale(4);
        -ms-transform: translate(-170%, 64%) scale(4);
        transform: translate(-170%, 64%) scale(4);
    }
}

.navigator-div.animate-navigator-zoomout {
    -webkit-animation: navigatorAnimateZoomOut 1s linear; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
    -moz-animation: navigatorAnimateZoomOut 1s linear; /* Fx 5+ */
    -o-animation: navigatorAnimateZoomOut 1s linear; /* Opera 12+ */
    animation: navigatorAnimateZoomOut 1s linear;
}

@-webkit-keyframes navigatorAnimateZoomOut {
	100% {
        -webkit-transform: translate(0%, -50%) scale(1);
        -moz-transform: translate(0%, -50%) scale(1);
                transform: translate(0%, -50%) scale(1);
	}
}

@-moz-keyframes navigatorAnimateZoomOut {
	100% {
        -webkit-transform: translate(0%, -50%) scale(1);
        -moz-transform: translate(0%, -50%) scale(1);
                transform: translate(0%, -50%) scale(1);
	}
}

@-o-keyframes navigatorAnimateZoomOut {
	100% {
        -webkit-transform: translate(0%, -50%) scale(1);
        -moz-transform: translate(0%, -50%) scale(1);
                transform: translate(0%, -50%) scale(1);
	}
}

@keyframes navigatorAnimateZoomOut {
	100% {
        -webkit-transform: translate(0%, -50%) scale(1);
        -moz-transform: translate(0%, -50%) scale(1);
                transform: translate(0%, -50%) scale(1);
	}
}



.navigator-div button.tooltips:focus {
    outline: 0;
}

.navigator-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-77%, -385%);
    -moz-transform: translate(-77%, -385%);
        -ms-transform: translate(-77%, -385%);
            transform: translate(-77%, -385%);
    width: 1.8vw;
    height: 1.1vw;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* justify-content: space-between; */
}

.navigator-buttons .column {
    /* width: 32.3%; */
    /* border: 1px solid red; */
    border-collapse: collapse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.navigator-buttons button {
    border: 0;
    padding: 0;
    background: transparent;
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.navigator-buttons img {
    width: 55%;
    align-self: center;
}

.column-2 button {
    width: 100%;
    height: 80%;
    align-self: center;
}

.column-2 img {
    height: 100%;
    width: 100%;
}

.column-1, .column-3 {
    -webkit-box-flex: 1 30%;
        -ms-flex: 1 30%;
            flex: 1 30%;
}

.column-2 {
    -webkit-box-flex: 1 35%;
        -ms-flex: 1 35%;
            flex: 1 35%;
    justify-content: space-evenly;
}



.navigator-buttons button:hover, .instructions-div button:hover {
    -webkit-filter: drop-shadow(0px 0px 1px #17a2b8);
    filter: drop-shadow(0px 0px 1px #17a2b8);
}

.navigator-buttons button:active, .instructions-div button:active {
    -webkit-transform: translate3d(0%, -1%, 0px);
    -moz-transform: translate3d(0%, -1%, 0px);
    transform: translate3d(0%, -1%, 0px);
    -webkit-filter: drop-shadow(0px 0px 1px #17a2b8);
    filter: drop-shadow(0px 0px 1px #17a2b8);
}

.tos-div button:hover {
    -webkit-filter: drop-shadow(0px 0px 1px #007bff);
    filter: drop-shadow(0px 0px 1px #007bff);
}

.tos-div button:active {
    -webkit-transform: translate3d(-1%, -1%, 0px);
    -moz-transform: translate3d(-1%, -1%, 0px);
    transform: translate3d(-1%, -1%, 0px);
    -webkit-filter: drop-shadow(0px 0px 1px #007bff);
    filter: drop-shadow(0px 0px 1px #007bff);
}

.communicator-div:hover button, .editprofile-div:hover {
    -webkit-box-shadow: 0px 0px 3px #17a2b8;
            box-shadow: 0px 0px 3px #17a2b8;
}

.instructions-div {
    position: absolute;
    /* border: 1px solid red; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-56%, -1065%);
    -moz-transform: translate(-56%, -1065%);
    -ms-transform: translate(-56%, -1065%);
    transform: translate(-56%, -1065%);
    width: 0.8vw;
    height: 0.3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.instructions-div button {
    border: 0;
    padding: 0;
    background: transparent;
    display: flex;
    width: 100%;
    /* height: 100%; */
    /* -ms-flex-wrap: wrap;
        flex-wrap: wrap; */
}

.instructions-div img, .tos-div img  {
    width: 100%;
    height: 100%;
}

.navigator-zoom {
    position: absolute;
    border: 0;
    background: #fff0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-78%, -363%);
    -ms-transform: translate(-78%, -363%);
    -moz-transform: translate(-78%, -363%);
    transform: translate(-78%, -381%);
    width: 1.8vw;
    height: 1.1vw;
    outline: 0;
    pointer-events: auto;
    /* border: 1px solid red; */
    background: #00000070;
    z-index: 2;
    border-radius: 3px;
    display: flex;
    font-size: 0.5vw;
    color: #fff;
    justify-content: center;
}

.navigator-zoom i {
    align-self: center;
}

.navigator-zoom:active, .navigator-zoom:focus {
    outline: 0;
}

.tos-div {
    position: absolute;
    /* border: 1px solid red; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-62%, -422%);
    -ms-transform: translate(-62%, -422%);
    transform: translate(-62%, -422%);
    width: 0.8vw;
    height: 0.65vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tos-div.thomasina {
    -webkit-transform: translate(-69%, -391%);
    -moz-transform: translate(-69%, -391%);
    -ms-transform: translate(-69%, -391%);
    transform: translate(-69%, -391%);
}

.tos-div button {
    border: 0;
    padding: 0;
    background: transparent;
    display: flex;
}

.communicator-div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(324%, -328%);
    -moz-transform: translate(324%, -328%);
    -ms-transform: translate(324%, -328%);
    transform: translate(324%, -328%);
    border: 0;
    width: 1vw;
    height: 1vw;
    cursor: pointer;
    /* border-radius: 2px; */
    /* z-index: 1; */
    /* padding: 0; */
    /* background: transparent; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}


.communicator-div button {
	border: 0;
	background: transparent;
	transform: skew(19deg, 10deg);
	width: 100%;
	height: 100%;
	border-radius: 2px;
	padding: 0;
}

.navigator-div.tom .communicator-div {
    -webkit-transform: translate(354%, -310%);
    -moz-transform: translate(354%, -310%);
    -ms-transform: translate(354%, -310%);
    transform: translate(354%, -310%);
}

.navigator-div.tom .communicator-div button  {
    -webkit-transform: skew(23deg, 10deg);
    -moz-transform: skew(23deg, 10deg);
    -ms-transform: skew(23deg, 10deg);
    transform: skew(23deg, 10deg);
}

.editprofile-div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-170%, -509%);
    -moz-transform: translate(-170%, -509%);
        -ms-transform: translate(-170%, -509%);
            transform: translate(-170%, -509%);
    /* border: 1px solid red; */
    width: 0.45vw;
    height: 0.8vw;
    cursor: pointer;
}



.navigator-buttons button:focus {
    outline: 0;
    outline: 0px auto -webkit-focus-ring-color;
}

.navigator-div .tooltips span {
    font-size: 3px;
    width: 2vw;
    padding: 30%;
    border-radius: 1px;
    -webkit-transform: translate(-123%, -50%);
    -moz-transform: translate(-123%, -50%);
    -ms-transform: translate(-123%, -50%);
    transform: translate(-123%, -50%);
    -webkit-box-shadow: 0px 1px 4px #000000;
    box-shadow: 0px 1px 4px #000000;
    text-align: center;
}

.navigator-div .tooltips.right span {
    -webkit-transform: translate(24%, -50%);
    -moz-transform: translate(24%, -50%);
        -ms-transform: translate(24%, -50%);
            transform: translate(24%, -50%);
}

.navigator-div .tooltips.left span:after {
    right: 0;
    left: 100%;
    border-right: 0;
    border-left: 1em solid #0b91c3a3;
    margin-top: -0.1vw;
    border-top: 0.1vw solid transparent;
    border-bottom: 0.1vw solid transparent;
}

.navigator-div .tooltips.right span:after {
    margin-top: -0.1vw;
    border-top: 0.1vw solid transparent;
    border-bottom: 0.1vw solid transparent;
}

.navigator-div .tooltips:hover span {
    display: inline;
}

.instructions-div .tooltips span, .tos-div .tooltips span {
    -webkit-transform: translate(33%, -50%) !important;
    -moz-transform: translate(33%, -50%) !important;
        -ms-transform: translate(33%, -50%) !important;
            transform: translate(33%, -50%) !important;
}

.tooltips.top span {
    -webkit-transform: translate(-49%, -211%);
    -moz-transform: translate(-49%, -211%);
        -ms-transform: translate(-49%, -211%);
            transform: translate(-49%, -211%);
    white-space: nowrap;
    width: auto;
}

.tooltips.top span:after {
    content: '';
    position: absolute;
    /* top: 50%; */
    /* bottom: 100%; */
    /* right: 100%; */
    /* left: 0; */
    /* right: 0; */
    margin-top: 0;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-top: 1em solid #0b91c3a3;
    border-left: 0.5vw solid transparent;
    border-right: 0.5vw solid transparent
}

.communicator-div.tooltips.top span {
    -webkit-transform: translate(-49%, -209%);
    -moz-transform: translate(-49%, -209%);
        -ms-transform: translate(-49%, -209%);
            transform: translate(-49%, -209%);
    white-space: nowrap;
}

.navigator-zoomout-btn {
    position: absolute;
    /* border: 1px solid red; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(200%, -446%);
    -moz-transform: translate(200%, -446%);
        -ms-transform: translate(200%, -446%);
            transform: translate(200%, -446%);
    width: 1vw;
    height: 1vw;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    font-size: 0.4vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #509ef3;
    padding: 0;
    border: 0;
    background: transparent;
}

.navigator-div.tom .navigator-zoomout-btn {
    right: 0;
    left: unset;
    -webkit-transform: translate(-170%, -398%);
    -moz-transform: translate(-170%, -398%);
        -ms-transform: translate(-170%, -398%);
            transform: translate(-170%, -398%);
}

.navigator-zoomout-btn:active, .navigator-zoomout-btn:focus {
    outline: 0;
}

img {
    image-rendering: -moz-crisp-edges; /* Firefox */
    /* image-rendering: -o-crisp-edges; Opera */
    /* image-rendering: -webkit-optimize-contrast; Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.blog-videos, .blog-panel {
    margin-top: 2rem;
}

.naff-fart-reaction {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* width: 59vw; */
    display: none;
    /* border: 1px solid red; */
}

.animate-naff-fart-reaction {
    /* transition: transform 2s ease; */
    -webkit-animation: animateNaffFart 500ms linear; /* Safari 4+ */
        -moz-animation: animateNaffFart 500ms linear; /* Fx 5+ */
            -o-animation: animateNaffFart 500ms linear; /* Opera 12+ */
                animation: animateNaffFart 500ms linear;
}

@-webkit-keyframes animateNaffFart {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

@-moz-keyframes animateNaffFart {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

@-o-keyframes animateNaffFart {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

@keyframes animateNaffFart {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

.naff-fart-reaction img {
    width: 100%;
}

.user-photo {
    width: 2.9vw;
    height: 2.25vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -358%);
    display: flex;
    justify-content: center;
}

.user-photo.male {
    width: 2.9vw;
    height: 2.35vw;
    transform: translate(-70%, -340%);
}

.user-photo img {
    border-radius: 21% 21% 35% 35%;
    align-self: stretch;
    /* filter: opacity(0.6); */
    width: 100%;
}

.user-photo.male img {
    border-radius: 21% 21% 30% 30%;
}

h1 {
    font-size: 2em !important;
}

/* share icons */
.menu-button {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-671%, -642%);
    width: 0.58vw;
    /* height: 9px; */
    text-align: center;
    line-height: 60px;
    border-radius: 100%;
    /* background-color: #E91E63; */
    color: #509ef3;
    /* font-size: 6px; */
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22); */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-button:hover {
    /* background: #d81558;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25); */
}
.menu-button a {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
    width: 0px;
    height: 0px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-button a:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}
.menu-button a:nth-child(2) {
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #3b5998;
}
.menu-button a:nth-child(3) {
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    transition-delay: 0.4s;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #1DA1F2;
}
.menu-button a:nth-child(4) {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #2867B2;
}
.menu-button a:nth-child(5) {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #4AC959;
}
.menu-button:hover a {
    opacity: 1;
    width: 90%;
    height: 90%;
    padding: 9%;
}
.menu-button:hover a:nth-child(2) {
    right: 142%;
    bottom: -110%;
}
.menu-button:hover a:nth-child(2):hover {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    background: #3b5998;
    color: #fff;
    text-decoration: none;
    /* box-shadow: 0 0px 1px 0.5px #ffffffb3; */
}
.menu-button:hover a:nth-child(3) {
    right: 210%;
    bottom: 5%;
}
.menu-button:hover a:nth-child(3):hover {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    background: #1DA1F2;
    color: #fff;
    text-decoration: none;
    /* box-shadow: 0 0px 1px 0.5px #ffffffb3; */
}
.menu-button:hover a:nth-child(4) {
    right: 200%;
    bottom: 130%;
}
.menu-button:hover a:nth-child(4):hover {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    background: #2867B2;
    color: #fff;
    text-decoration: none;
    /* box-shadow: 0 0px 1px 0.5px #ffffffb3; */
}
.menu-button:hover a:nth-child(5) {
    right: 90%;
    bottom: 200%;
}
.menu-button:hover a:nth-child(5):hover {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    background: #4AC959;
    color: #fff;
    text-decoration: none;
    /* box-shadow: 0 0px 1px 0.5px #ffffffb3; */
}

.menu-button a:nth-child(6) {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fff;
    display: flex;
}

.menu-button:hover a:nth-child(6) {
    right: -40%;
    bottom: 200%;
}

.menu-button img {
    width: 100%;
}

.menu-button:hover a.internal-share {
    padding: 0;
}

.internal-share.tooltips.top span:after {
    border-left: 0.2vw solid transparent;
    border-right: 0.2vw solid transparent;
}

/* Modal */
.modal {
    font-family: 'Nasalization';
}

.modal .close {
    position: absolute;
    right: 3%;
    color: #fff;
}

.modal .btn-secondary {
    background-color: #3e3e3e;
    border-color: #3e3e3e;
}

.modal .btn-primary {
    background-color: #3085d6;
    border-color: #fff;
}

.modal button:focus {
    outline: 0;
}

.modal .modal-content {
    border: 0;
    background-color: transparent;
    box-shadow: 0px 0px 20px #17a2b8;
}

.modal .modal-header {
    background: rgba(2, 40, 96, 0.62);
    border: 0;
    color: #fff;
}

.modal .modal-title {
    margin: 0 auto;
}

.modal .modal-body {
    background: rgba(8, 64, 147, 0.62);
}

.modal .modal-footer {
    border: 0;
    background: rgba(8, 64, 147, 0.62);
}

.modal label {
    color: #fff;
}

.modal .close:hover {
    color: #fff;
}

#share-blog-form textarea {
    width: 100%;
    font-size: 0.9em;
    padding: 1%;
    color: #495057;
}

#share-blog-form textarea:focus {
    outline: 0;
}

#share-blog-form textarea::placeholder {
    color: rgba(0,0,0,.5);
}

.blog-share-preview .card-body {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blog-share-preview .card-header {
    display: flex;
    align-items: center;
    padding: .50rem 1rem;
}

.blog-share-preview .owner-profile-picture {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.blog-share-preview .owner-profile-picture img {
    width: 100%;
}

.blog-share-preview .owner-name {
    margin-left: 2%;
    font-weight: 600;
    font-size: 0.9em;
}

.blog-share-preview .blog-description {
    font-size: 0.8em;
    font-weight: 100;
    font-family: 'Arial', sans-serif;
}

.blog-share-preview .blog-share-title {
    font-weight: 600;
}

/* Sweet alert */
.swal2-popup {
    box-shadow: 0px 0px 20px #17a2b8;
    width: 27vw !important;
    padding: 1vw !important;
}

.swal2-image {
    width: 6vw !important;
    height: 6vw !important;
    margin: 1.25vh auto !important;
}

.swal2-title {
    font-family: 'Nasalization';
    font-size: 1.5vw !important;
    color: #df1613 !important;
}

.swal2-content {
    color: #17a2b8 !important;
    font-size: 1.1vw !important;
    font-family: 'Nasalization';
}

.swal2-title span.success {
    color: #25d365 !important;
}

.swal2-styled {
    font-size: 1.3vw !important;
    padding: 0.5vw 2vw !important;
}

.swal2-actions {
    margin: 1.25vw auto 0 !important;
}

.flower-list-div {
    /* display: flex;
    flex-wrap: wrap; */
    /* flex-wrap: nowrap;  */
    /* width: 100px; */
    /* width: 100%; */
    overflow-x: auto;
    flex: 30% 30% 30%;
    /* flex: 1; */
    /* width: 58vw; */
    /* border: 1px solid red; */
    display: -webkit-inline-box;
}

.flower-list-div .flower {
    /* flex: 30%; */
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #495057;
    /* border-collapse: collapse; */
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
}

.flower img {
    width: 30%;
    filter: brightness(0.1);
}