/* common for all devices  */
.communicator {
  height: 100vh;
}
.page
{
    -webkit-perspective: 600;
    -moz-perspective: 600;
    -ms-perspective: 600;
    -o-perspective: 600;
	  width: 100%;
    height: 100%;
	  margin: 0 auto;
    text-align: center;
   /* visibility: hidden; */
}
.main-screen {
  /* border: 1px solid red; */
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.astronautarm-img {
  background-image: url(../../front/images/login/LoginPageCommunicatorWOhome&back-TOM.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left center;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* bottom: 0; */
  /* border: 1px solid green; */
  object-fit: cover;
  z-index: -1;
  display: flex;
}
.fa-expand:before {
  content: "\f065";
}
.astronaut-arm {
  max-width: 100%;
  /* max-height: 100%; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-21%, -27%);
  -moz-transform: translate(-21%, -27%);
  transform: translate(-21%, -27%);
  /* bottom: 0; */
  display: none;
  z-index: -1;
}
.communicator-buttons .terms-button {
  width: 51%;
  margin-right: 2%;
}

.form-group{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-127%, -70%);
  width: 28.8vw;
  height: 12vw;
}
.head-div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-135%, -97%);
  -moz-transform: translate(-135%, -97%);
  transform: translate(-153%, -463%);
    /* border: 1px solid red; */
    width: 22.8vw;
    height:2.5vw;
    opacity:2;
}

.head-div p {
  text-align: center;
  font-family: 'Space Age';
  color:#28e9e2 !important;/* #17a2b8;*/
  font-size: 1.5vw;
  vertical-align: middle;
  line-height: 2.5vw;
}
.start-div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-153%, -452%);
  -moz-transform:translate(-153%, -452%);
  transform: translate(-153%, -452%);
  /* border: 1px solid red; */
  width: 24.8vw;
  height: 0.5vw;
  opacity: 0;
  /* padding: 4.5% 0; */
}

.start-div p {
  text-align: center;
  font-family: 'Space Age';
  color: #59d6ea;
  font-size: 1.5vw;
  vertical-align: middle;
  line-height: 1.5vw;
}

.head-div p {
  text-align: center;
  font-family: 'Space Age';
  color:#28e9e2 !important;/* #17a2b8;*/
  font-size: 1.5vw;
  vertical-align: middle;
  line-height: 2.5vw;
}

.email-div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-135%, -97%);
  -moz-transform: translate(-135%, -97%);
  transform: translate(-213%, -135%);
   /* border: 1px solid red;*/
    width: 5.8vw;
    height: 2.5vw;
    opacity: 2;
}

.email-div  p {
  text-align: center;
  font-family: 'Space Age';
  color:#28e9e2 !important;/* #17a2b8;*/
  font-size: 1.2vw;
  vertical-align: middle;
  line-height: 2.5vw;
}


.txt_email_div{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-135%, -97%);
  -moz-transform: translate(-135%, -97%);
  transform: translate(-31%, -135%);
 /* border: 1px solid red;*/
  width: 16.8vw;
  height: 2.5vw;
  opacity: 2;
}

.txt_email_div .txt_email{
  text-align: center;
  font-family: 'Space Age';
  color: #17a2b8;
  font-size: 1.2vw;
  vertical-align: middle;
  line-height: 2.5vw;
}
.button-div{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-135%, -97%);
  -moz-transform: translate(-135%, -97%);
  transform: translate(-47%, -2%);
  /*border: 1px solid red;*/
  width: 16.8vw;
  height: 2.5vw;
  opacity: 2;
  /*border:2px solid red;*/
}


.button-div .btn_send_verification{
  text-align: center;
  font-family: 'Space Age';
  color: #ffffff;
  font-size: 0.9vw;
  vertical-align: middle;
  line-height: 1vw;
  width: 16.8vw;
 /* height: 2vw;*/
  border:2px solid white;
  border-radius: 3px;
  padding: 2%;
}
.form-control
{
  border1:0px solid white;
}

.txt_email{
  font-family:space age;

}
.form-control{
  font-size: 1.2vw;
}
.main-screen .txt_email{
  margin-bottom: 0.5em;
  /*background: rgb(77,92,129);
  background: linear-gradient(180deg, rgba(77,92,129,1) 0%, rgba(123,139,179,1) 50%, rgba(77,92,129,1) 100%);  */
 /* color:#28e9e2 !important;*/
  /* #17a2b8;*/

  border: 0;
  
  font-size: 0.9vw;
  /*text-shadow: 0px 0px 8px #343a40;*/
  height: 2vw;
  border-radius: 3px;
  width: 100%;
  padding: 2%;
  /*font-family: 'Nasalization';*/
}
.btn-info {
  background-color: #24bad2fa !important;
    border-color: #17a2b8 !important;
}


.txt_password_div .txt_pass{
  height: 2vw;
  border-radius: 3px;
  width: 100%;
  padding: 2%;
}
.txt_conf_password_div .txt_conf_pass{
  height: 2vw;
  border-radius: 3px;
  width: 100%;
  padding: 2%;
}
.password-div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-135%, -97%);
  -moz-transform: translate(-135%, -97%);
  transform: translate(-125%, -190%);
   /* border: 1px solid red;*/
    width: 11vw;
    height: 2.5vw;
    opacity: 2;
}

.password-div  p ,.conf_password-div  p{
  /*text-align: center;*/
  font-family: 'Space Age';
  color: #28e9e2 !important;
  font-size: 1vw;
  vertical-align: middle;
  line-height: 1vw;
 /*border: 1px solid blue;*/
}
.txt_password_div{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-135%, -97%);
  -moz-transform: translate(-135%, -97%);
  transform: translate(-24%, -218%);
 /*border: 1px solid red;*/
  width: 16.8vw;
  height: 2.5vw;
  opacity: 2;
  border-radius: 3px;
  padding: 2%;
}


.conf_password-div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-135%, -97%);
  -moz-transform: translate(-135%, -97%);
  transform: translate(-115%, -32%);
   /* border: 1px solid red;*/
    width: 11.8vw;
    height: 2.5vw;
    opacity: 2;
}

.txt_conf_password_div{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-135%, -97%);
  -moz-transform: translate(-135%, -97%);
  transform: translate(-24%, -67%);
 /*border: 1px solid red;*/
  width: 16.8vw;
  height: 2.5vw;
  opacity: 2;
  border-radius: 3px;
  padding: 2%;
}
.reset-button-div{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-135%, -97%);
  -moz-transform: translate(-135%, -97%);
  transform: translate(-71%, 107%);
  /* border: 1px solid red; */
  width: 5vw;
  height: 2vw;
  opacity: 2;
  /*border:2px solid red;*/
}


.reset-button-div .btn_reset{
  text-align: center;
  font-family: 'Space Age';
  color: #ffffff;
  font-size: 0.9vw;
  vertical-align: middle;
  line-height: 1vw;
  width: 5vw;
  height: 2vw;
  border:2px solid white;
  border-radius: 3px;
  padding: 2%;
}
#block_land{
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: #212529;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: none;
  color: #fff;
  z-index: 200000;
  font-size: 20px;
}
#block_land h1 {
  text-transform: uppercase;
}
#block_land .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
#block_land img {
  width: 50%;
}
.home-div img {
  width: 100%;
  height: 2vw;
}
.home-div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform:translate(-685%, -605%) skew(-3deg, -1deg);
  -moz-transform: translate(-685%, -605%) skew(-3deg, -1deg);
  transform: translate(-685%, -605%) skew(-3deg, -1deg);
    /* border: 2px solid red; */
    width: 6.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  pointer-events: none;
}



.home-div .communicator-button:active {
  -webkit-transform: translate3d(-1px, 1px, 0px);
  -moz-transform: translate3d(-1px, 1px, 0px);
  transform: translate3d(-1px, 1px, 0px);
}
/* body.swal2-height-auto {
  height: auto!important;
} */
.swal2-popup {
  box-shadow: 0px 0px 20px #17a2b8;
  /* width: 27vw !important; */
  padding: 1vw !important;
}
/* 
.swal2-image {
  width: 6vw !important;
  height: 6vw !important;
  margin: 1.25vh auto !important;
} */

.swal2-title {
  font-family: 'Nasalization';
  font-size: 1.5vw !important;
  color: #df1613 !important;
}

.swal2-content {
  color: #17a2b8 !important;
  font-size: 1.1vw !important;
  font-family: 'Nasalization';
}

.swal2-title span.success {
  color: #25d365 !important;
}

.swal2-styled {
  font-size: 1.3vw !important;
  padding: 0.5vw 2vw !important;
}

.swal2-actions {
  margin: 1.25vw auto 0 !important;
}
.swal2-popup {
  box-shadow: 0px 0px 20px #17a2b8;
  /* width: 27vw !important;
  padding: 1vw !important; */
}

.swal2-html-container {
  color: #17a2b8 !important;
  font-size: 1.1vw !important;
  font-family: 'Nasalization';
}
.terms-div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-135%, -97%);
  -moz-transform: translate(-135%, -97%);
  transform: translate(2338%, -364%);
    /* border: 1px solid red; */
    width: 1vw;
    height:2.5vw;
    opacity: 2;
}

.terms-div p {
  text-align: center;
  font-family: 'Space Age';
  color:#28e9e2 !important;/* #17a2b8;*/
  font-size: 0.8vw;
  vertical-align: middle;
 /* border: 1px solid white; */
  line-height: 1vw;
  writing-mode: vertical-rl;
    text-orientation: upright;
}
 .terms_form{
   display:block;
 }
 .back-div img {
  width: 100%;
  height: 2vw;
}
.back-div {
  position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-715%, -624%);
    -moz-transform: translate(-715%, -624%);
    transform: translate(-715%, -624%);
   /*  border: 1px solid red;*/ 
    width: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  pointer-events: none;
}

.back-div .communicator-button:active {
  -webkit-transform: translate3d(-1px, 1px, 0px);
  -moz-transform: translate3d(-1px, 1px, 0px);
  transform: translate3d(-1px, 1px, 0px);
}



.communicator-button:hover {
  -webkit-filter: drop-shadow(0px 0px 3px #17a2b8);
  filter: drop-shadow(0px 0px 3px #17a2b8);
}

.communicator-button:active {
  -webkit-transform: translate3d(-1%, -1%, 0px);
  -moz-transform: translate3d(-1%, -1%, 0px);
  transform: translate3d(-1%, -1%, 0px);
  -webkit-filter: drop-shadow(0px 0px 3px #17a2b8);
  filter: drop-shadow(0px 0px 3px #17a2b8);
}

.communicator-buttons button:hover {
  opacity: 1;
  /* border: 1px solid red; */
}


button.fullscreen {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.2vw;
  height: 1.2vw;
  background: #ffffff7d;
  border: 0;
  font-size: 0.7vw;
  padding: 1px;
  color: #343a40;
  transform: translate(-1876%,317%);
  z-index: 10000;
}


button.fullscreen span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  -moz-transition: max-width 1s;
  -o-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
 
}

button.fullscreen:hover span {
  max-width: 7rem;
}



.trix-editor trix-editor {
  height: 8vw;
  overflow-y: auto;
  color: #28e9e2;
  border: 1px solid rgb(130, 148, 193);
  font-size: 0.6vw;
  text-shadow: 0px 0px 8px #343a40;
  /* display: flex !important; */
  /* flex-grow: 0; */
  display: block;
  /* box-sizing: border-box; */
  background: linear-gradient(180deg, rgba(77,92,129,1) 0%, rgba(123,139,179,1) 50%, rgba(77,92,129,1) 100%);
}

.trix-editor trix-toolbar .trix-button-group {
  border: 1px solid #495057;
  border-top-color: #495057;
  border-bottom: 0px;
  margin-bottom: 0.3em;
}

.trix-editor trix-toolbar .trix-button {
  border-bottom: 1px solid #495057;
}

.trix-editor trix-toolbar .trix-button:not(:first-child) {
  border-left: 1px solid #495057;
}

trix-toolbar .trix-button-group:not(:first-child) {
  margin-left: 0;
}

.trix-editor trix-toolbar .trix-button--icon {
  width: 1.3vw;
  height: 1.1vw;
}

.trix-dialog.trix-dialog--link {
  background: #212529;
  box-shadow: none;
  border-top: 0;
}

.trix-dialog--link .trix-button-group {
  border: 0 !important;
}


.text-editor-fullview {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(77,92,129,1) 0%, rgba(123,139,179,1) 50%, rgba(77,92,129,1) 100%);
  height: 100vh;
  padding: 20px;
  display: none;
}

.text-editor-fullview trix-editor {
  height: 85%;
  overflow-y: auto;
  border: 1px solid #495057;
  font-family: 'Nasalization';
  font-size: 0.8em;
  color: #28e9e2;
  text-shadow: 0px 0px 8px #343a40;
}

.text-editor-fullview trix-toolbar .trix-button-group {
  border: 1px solid #495057;
  border-top-color: #495057;
  border-bottom: 0px;
  margin-bottom: 0.3em;
}

.text-editor-fullview trix-toolbar .trix-button {
  border-bottom: 1px solid #495057;
}

.text-editor-fullview trix-toolbar .trix-button:not(:first-child) {
  border-left: 1px solid #495057;
}
/*.text-editor-fullview */
.exit-fullscreen {
  float: right;
  background: #ffffff7d;
  border: 0;
  font-size: 1vw;
  padding: 1px;
  color: #343a40;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(25%,-6%);
  z-index: 1000000 !important;
  width: 2.2vw;
 /* height: 2.2vw;*/
}

.terms_and_conditions{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-128%, -72%);
  width: 27.8vw;
  height: 11.5vw;
  border: 0px solid white;
  overflow: auto;
  text-align: justify;
}
.privacy_policy{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-128%, -72%);
  width: 27.8vw;
  height: 11.5vw;
  border: 0px solid white;
  overflow: auto;
  text-align: justify;
  display:none;
}
.copy_right_claims{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-129%, -72%);
  width: 28vw;
  height: 11.5vw;
  border: 0px solid white;
  overflow: auto;
  text-align: justify;
  display:none;
}
.sra{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-128%, -72%);
  width: 27.8vw;
  height: 11.5vw;
  border: 0px solid white;
  overflow: auto;
  text-align: justify;
  display:none;
}
.col_white{
  color:white ;
  font-family: 'Nasalization';
 
  font-size: 0.8vw;
  padding: 2%;
 
}
ul li{
  color:white ;
  font-family: 'Nasalization';
  font-size:0.8vw;
  padding: 2%;
}
ol li{
  color:white ;
  font-family: 'Nasalization';
  font-size: 0.8vw;
  padding: 2%;
}
.terms_and_conditions_full .col_white,.privacy_policy_full .col_white,.copy_right_claims_full .col_white,.sra_full .col_white{
  padding: 0.7% !important;
  font-size: 1.5vw;
}
.terms_and_conditions_full ul li ,.privacy_policy_full ul li,.copy_right_claims_full ul li,.sra_full ul li{
  padding: 0.7% !important;
  font-size: 1.5vw;
}
.terms_and_conditions_full ol li,.privacy_policy_full ol li,.copy_right_claims_full ol li,.sra_full ol li{
  padding: 0.7% !important;
  font-size: 1.5vw;
}
.slide-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-129%, 224%);
  width: 28vw;
  height: 1.5vw;
  border: 0px solid white;
}
.label-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-138%, 224%);
  width: 25vw;
  height: 1.5vw;
  border: 0px solid blue;
}
.slide-div .next {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Space Age';
  color: #28e9e2 !important;
  transform: translate(600%, -52%);
  width: 2vw;
  /* height: 2.3vw; */
  /* border: 1px solid red; */
  text-align: center;
  font-size: 2vw;
  
}

.slide-div .prev {
  position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Space Age';
    color: #28e9e2 !important;
    transform: translate(-695%, -52%);
    width: 2vw;
    /* height: 2.3vw; */
    /* border: 1px solid red; */
    text-align: center;
    font-size: 2vw;
}
.label-div .next_label {
  text-align: right;
  font-family: 'Space Age';
  color:white;
  font-size: 0.73vw;
  border: 0px solid white;
  width: 10vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(21%,-34%);
 
}
.label-div .prev_label {
  text-align: left;
    font-family: 'Space Age';
    color:white;
    font-size: 0.73vw;
    border: 0px solid white;
    width: 10vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-119%,-46%);
}
.communicator-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-187%, 122%);
  -moz-transform: translate(-187%, 122%);
  transform: translate(1151%, -229%);
  width: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:-webkit-flexbox;
  display: flex;
  
}
.communicator-buttons .terms-button {
  width: 51%;
  margin-right: 2%;
}



.astronaut-arm {
  max-width: 100%;
  /* max-height: 100%; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-44%, -36%) scale(1.2);
  -moz-transform: translate(-44%, -36%) scale(1.2);
  transform:translate(-44%, -36%) scale(1.2);
  /* bottom: 0; */
  display: none;
  z-index: -1;
}

.animate-arm {
  -webkit-transition: 1000s;
  -moz-transition: 1000s;
  -o-transition: 1000s;
  transition: 1000s;
  -webkit-animation: showArm 1s linear; /* Safari 4+ */
  -moz-animation: showArm 1s linear; /* Fx 5+ */
  -o-animation: showArm 1s linear; /* Opera 12+ */
  animation: showArm 1s linear;
}

@-webkit-keyframes showArm {
  0% {
      -webkit-transform: translate(-150%, -50%);
      -moz-transform: translate(-150%, -50%);
      transform: translate(-150%, -50%);
  }

  100% {
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
}

@-moz-keyframes showArm {
  0% {
      -webkit-transform: translate(-150%, -50%);
      -moz-transform: translate(-150%, -50%);
      transform: translate(-150%, -50%);
  }

  100% {
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
}

@-o-keyframes showArm {
  0% {
      -webkit-transform: translate(-150%, -50%);
      -moz-transform: translate(-150%, -50%);
      transform: translate(-150%, -50%);
  }

  100% {
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
}

@keyframes showArm {
  0% {
      -webkit-transform: translate(-150%, -50%);
      -moz-transform: translate(-150%, -50%);
      transform: translate(-150%, -50%);
  }

  100% {
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
}

.animate-zoomIn-arm {
  -webkit-transition: transform 330ms ease;
  -moz-transition: transform 330ms ease;
  -o-transition: transform 330ms ease;
  transition: transform 330ms ease;
  -webkit-animation: zoomInArm 1s linear; /* Safari 4+ */
  -moz-animation: zoomInArm 1s linear; /* Fx 5+ */
  -o-animation: zoomInArm 1s linear; /* Opera 12+ */
  animation: zoomInArm 1s linear;
}

.zoomIn-arm {
  -webkit-transform:translate(12%, 2%) scale(1.3);;
   -moz-transform: translate(12%, 2%) scale(1.3);;
  transform: translate(12%, 2%) scale(1.3);;

  /* -webkit-transform: translate(-21%, -23%) scale(1.2);
  -moz-transform:translate(-21%, -23%) scale(1.2);
  transform: translate(-21%, -23%) scale(1.2); */
}

@-webkit-keyframes zoomInArm {
  0% {
    -webkit-transform:translate(-13%, 1%);
    -moz-transform:translate(-13%, 1%);
    transform: translate(-13%, 1%);
  }
  100% {
      -webkit-transform: translate(-21%, -27%) scale(1.2);
      -moz-transform:translate(-21%, -27%) scale(1.2);
      transform: translate(-21%, -27%) scale(1.2);
      -webkit-transition: -webkit-transform 1s ease-in;
      -moz-transition: -moz-transform 1s ease-in;
      -o-transition: transform 1s ease-in;
      transition: transform 1s ease-in;
  }
}
@-moz-keyframes zoomInArm {
  0% {
    -webkit-transform:translate(-44%, -36%) ;
    -moz-transform: translate(-44%, -36%) ;
    transform: translate(-44%, -36%) ;
  }
  100% {
      /* top: 8%;
      left: 20%; */
      -webkit-transform:translate(-21%, -27%) scale(1.2);
      -moz-transform:translate(-21%, -27%) scale(1.2);
      transform: translate(-21%, -27%) scale(1.2);
      -webkit-transition: -webkit-transform 1s ease-in;
      -moz-transition: -moz-transform 1s ease-in;
      -o-transition: transform 1s ease-in;
      transition: transform 1s ease-in;
  }
}
@-o-keyframes zoomInArm {
  0% {
    -webkit-transform:translate(-44%, -36%) ;
    -moz-transform: translate(-44%, -36%) ;
    transform: translate(-44%, -36%) ;
  }
  100% {
      /* top: 8%;
      left: 20%; */
      -webkit-transform: translate(-21%, -27%) scale(1.2);
      -moz-transform:translate(-21%, -27%) scale(1.2);
      transform: translate(-21%, -27%) scale(1.2);
      -webkit-transition: -webkit-transform 1s ease-in;
      -moz-transition: -moz-transform 1s ease-in;
      -o-transition: transform 1s ease-in;
      transition: transform 1s ease-in;
  }
}

@keyframes zoomInArm {
  0% {
    -webkit-transform:translate(-80%, -160%) ;
    -moz-transform:translate(-80%, -160%) ;
    transform: translate(-70%, -110%) ;
  }
  100% {
      /* top: 8%;
      left: 20%; */
      -webkit-transform: translate(-21%, -27%) scale(1.2);
      -moz-transform: translate(-21%, -27%) scale(1.2);
      transform: translate(-21%, -27%) scale(1.2);
      -webkit-transition: -webkit-transform 1s ease-in;
      -moz-transition: -moz-transform 1s ease-in;
      -o-transition: transform 1s ease-in;
      transition: transform 1s ease-in;
  }
}

.main-form{
  display:none;
}

.form-fullview {
  position: absolute;
  width: 77vw;
  left: 50%;
  top: 50%;
  background: url(../images/skybox_bg1-1.jpg);
  /* background: linear-gradient(180deg, rgba(77,92,129,1) 0%, rgba(123,139,179,1) 50%, rgba(77,92,129,1) 100%); */
  height: 94vh;
  padding: 2%;
  display: none;
  z-index: 1000;
  transform: translate(-62%,-45%);
}
.full_form_full{
  display:none;
}

.terms_form_full{
  width: 99%;
  height: 30vw;
  border: 1px solid grey;
  overflow-y: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-59%);
  padding: 4%;
}
.head-div_full {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-53%, -807%);
  -moz-transform: translate(-53%, -807%);
  transform: translate(-53%, -807%);
  /* border: 1px solid red; */
  width: 46.8vw;
  height: 2.5vw;
  opacity: 2;
}

.head-div_full p {
  text-align: center;
  font-family: 'Space Age';
  color:#28e9e2 !important;/* #17a2b8;*/
  font-size: 3vw;
  vertical-align: middle;
  line-height: 2.5vw;
}
.slide-div_full {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 812%);
  width: 74vw;
  height: 1.5vw;
  border: 0px solid white;
  z-index: 10000000;
}
.label-div_full {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 823%);
  width: 99vw;
  height: 1.5vw;
  border: 0px solid blue;
}
.slide-div_full .next_full {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Space Age';
  color: #28e9e2 !important;
  /* transform: translate(1601%, -49%); */
  transform: translate(1453%, -26%);
  width: 2vw;
  /* height: 2.3vw; */
  /* border: 1px solid red; */
  text-align: center;
  font-size: 2em;
  z-index: 10000;
}

.slide-div_full .prev_full {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Space Age';
  color: #28e9e2 !important;
  /* transform: translate(1601%, -49%); */
  transform: translate(-1584%, -21%);
  width: 2vw;
  /* height: 2.3vw; */
  /* border: 1px solid red; */
  text-align: center;
  font-size: 2em;
  z-index: 10000;
}
.label-div_full .next_label_full {
  text-align: right;
  font-family: 'Space Age';
  color: white;
  font-size: 1.5vw;
  border: 0px solid white;
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-8%,-13%);
 
}
.label-div_full .prev_label_full {
  font-family: 'Space Age';
  color: white;
  font-size: 1.5vw;
  border: 0px solid white;
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-93%,-12%);
  text-align: left;

}

.tos-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(2315%, -248%);
  width: 1vw;
  height: 3.8vw;
  pointer-events: none;
}

.tos-div img {
  width: 100%;
}

/*---------------------------------------------------------------------------------*/
/*// Extra small devices (portrait phones, less than 576px)*/
/*---------------------------------------------------------------------------------*/
@media (max-width: 575.98px) {
  .terms_and_conditions_full .col_white,.privacy_policy_full .col_white,.copy_right_claims_full .col_white,.sra_full .col_white,.head_div title,.label-div_full .next_label_full,.label-div_full .prev_label_full  {
    font-size: 2vw;
  }
  .terms_and_conditions_full ul li ,.privacy_policy_full ul li,.copy_right_claims_full ul li,.sra_full ul li{
    font-size: 2vw;
  }
  .terms_and_conditions_full ol li,.privacy_policy_full ol li,.copy_right_claims_full ol li,.sra_full ol li{
    font-size: 2vw;
  }
}

/*---------------------------------------------------------------------------------*/
/*// Small devices (landscape phones, 576px and up)*/
/*---------------------------------------------------------------------------------*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .terms_and_conditions_full .col_white,.privacy_policy_full .col_white,.copy_right_claims_full .col_white,.sra_full .col_white.head_div title,.label-div_full .next_label_full  {
    font-size: 2vw;
  }
  .terms_and_conditions_full ul li ,.privacy_policy_full ul li,.copy_right_claims_full ul li,.sra_full ul li{
    font-size: 2vw;
  }
  .terms_and_conditions_full ol li,.privacy_policy_full ol li,.copy_right_claims_full ol li,.sra_full ol li{
    font-size: 2vw;
  }
}

/*---------------------------------------------------------------------------------*/
/*// Medium devices (tablets, 768px and up)*/
/*---------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  .terms_and_conditions_full .col_white,.privacy_policy_full .col_white,.copy_right_claims_full .col_white,.sra_full .col_white.head_div title,.label-div_full .next_label_full  {
    font-size: 2vw;
  }
  .terms_and_conditions_full ul li ,.privacy_policy_full ul li,.copy_right_claims_full ul li,.sra_full ul li{
    font-size: 2vw;
  }
  .terms_and_conditions_full ol li,.privacy_policy_full ol li,.copy_right_claims_full ol li,.sra_full ol li{
    font-size: 2vw;
  }
  /*.form-fullview {
    position: absolute;
    width: 100vw;
    left: 62%;
    top: 45%;
    background: url(../images/skybox_bg1-1.jpg);
    
    height: 100vh;
    padding: 1% 2%;
    display: none;
    z-index: 1000;
    transform: translate(-62%,-45%);
  }
  .head-div_full p {
    text-align: center;
    font-family: 'Space Age';
    color: #28e9e2 !important;
    font-size: 3vw;
    vertical-align: middle;
    line-height: 0.5vw;
}
.label-div_full .prev_label_full {
  font-family: 'Space Age';
  color: white;
  font-size: 2.5vw;
  border: 0px solid white;
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-93%,-12%);
  text-align: left;
}
.label-div_full .next_label_full {
  text-align: right;
  font-family: 'Space Age';
  color: white;
  font-size: 2.5vw;
  border: 0px solid white;
  width: 38vw;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-8%,-13%);
}
.head-div_full {
  position: absolute;
  top: 39%;
  left: 50%;
  -webkit-transform: translate(-53%, -807%);
  -moz-transform: translate(-53%, -807%);
  transform: translate(-53%, -807%);
  width: 46.8vw;
  height: 2.5vw;
  opacity: 2;
}
.slide-div_full {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 812%);
  width: 74vw;
  height: 2.8vw;
  border: 0px solid white;
  z-index: 10000000;
}
.slide-div_full .prev_full {
  position: absolute;
  top: 50%;
  left: 27%;
  font-family: 'Space Age';
  color: #28e9e2 !important;
  transform: translate(-1584%, -21%);
  width: 2vw;
  text-align: center;
  font-size: 2em;
  z-index: 10000;
}
.slide-div_full .next_full {
  position: absolute;
  top: 50%;
  left: 73%;
  font-family: 'Space Age';
  color: #28e9e2 !important;
  transform: translate(1453%, -26%);
  width: 2vw;
  text-align: center;
  font-size: 2em;
  z-index: 10000;
}
.label-div_full {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 823%);
  width: 99vw;
  height: 2.77vw;
  border: 0px solid blue;
}
.terms_form_full {
  width: 99%;
  height: 47vw;
  border: 1px solid grey;
  overflow-y: scroll;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%,-59%);
  padding: 1.6% 3%;
}*/
}
/*---------------------------------------------------------------------------------*/
/*// Medium devices (Mobiles, 360px and up)*/
/*---------------------------------------------------------------------------------*/
@media (min-width: 360px) and (max-width: 767.98px) { 
  .form-fullview {
    position: absolute;
    width: 100vw;
    left: 62%;
    top: 45%;
    background: url(../images/skybox_bg1-1.jpg);
    height: 100vh;
    padding: 2%;
    display: none;
    z-index: 1000;
    transform: translate(-62%,-45%);
  }
  .label-div_full .next_label_full {
    text-align: right;
    font-family: 'Space Age';
    color: white;
    font-size: 2.5vw;
    border: 0px solid white;
    width: 38vw;
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-8%,-13%);
  }
  .label-div_full .prev_label_full {
    font-family: 'Space Age';
    color: white;
    font-size: 2.5vw;
    border: 0px solid white;
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-93%,-12%);
    text-align: left;
  }
  .head-div_full p {
    text-align: center;
    font-family: 'Space Age';
    color: #28e9e2 !important;
    font-size: 3vw;
    vertical-align: middle;
    line-height: 0.5vw;
}
.head-div_full {
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-53%, -807%);
  -moz-transform: translate(-53%, -807%);
  transform: translate(-53%, -807%);
  /* border: 1px solid red; */
  width: 46.8vw;
  height: 2.5vw;
  opacity: 2;
}
.slide-div_full {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 812%);
  width: 74vw;
  height: 2.2vw;
  border: 0px solid white;
  z-index: 10000000;
}
.label-div_full {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 823%);
  width: 99vw;
  height: 2.2vw;
  border: 0px solid blue;
}
.terms_form_full {
  width: 99%;
  height: 37vw;
  border: 1px solid grey;
  overflow-y: scroll;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%,-59%);
  padding: 4%;
}
}
/*---------------------------------------------------------------------------------*/
/*// Large devices (desktops, 992px and up)*/
/*---------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1198px) {
     
}

/*---------------------------------------------------------------------------------*/
@media (min-width: 1200px) {
    
}


/*---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/
@media (min-width: 1920px) {
     
}
/*---------------------------------------------------------------------------------*/
@media (min-width: 2500px) {
    
}