@media screen and (max-width: 64rem){
    .blog-col {
        width: calc(50% - 2rem);
    }

    .search-form {
        width: 60%;
    }
}

@media screen and (max-width: 48rem){
    .blog-col{
        width: calc(50% - 2rem);
    }

    .search-form {
        width: 60%;
    }
}

@media screen and (max-width: 32rem){
    .blog-col{
        width: 100%;
        /* margin: 0 0 2rem 0; */
    }

    /*
    .blog-search {
        margin-bottom: 3%;
    }

    .search-form {
        flex-wrap: wrap;
        height: 100%;
    }

    .search-input-fields {
        flex-flow: row wrap;
        flex: 100%;
    }

    .blog-search input {
        flex: 100%;
        height: auto;
        border-radius: .25rem .25rem 0 0;
    }

    .status-div, .sort-div {
        flex: 100%;
    }

    .blog-search .search-btn {
        flex: 100%;
        margin-left: 0;
        border-radius: 0 0 0.25rem 0.25rem;
    }

    .blog-search input, .blog-search .status-div {
        border-right: 0;
        border-bottom: 1px solid #6c757d;
    }

    .blog-search .sort-div select {
        border-radius: 0;
    } */
}

@media (min-width: 1921px) {
}

@media (max-width: 1920px)
and (min-width: 1441px) {
}

/* Laptop 1 */
@media (max-width: 1440px) {
    
}

/* Laptop 2 */
@media (min-width: 950px)
and (max-width: 1280px) {
    
}

/* Ipad Pro */
@media (min-width: 1024px) 
and (max-width: 1366px)
and (orientation: landscape)  {
    
}

/* Laptop 3 */
@media (min-width: 800px)
and (max-width: 1280px) {

}

/* Ipad */
@media only screen
and (max-width : 1024px) {
    /* Safari navigator zoom in */
    .navigator-div-zoomed-in {
        position: fixed;
        top: unset;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        height: 57vw;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        /* background: #00000052; */
        pointer-events: auto;
        display: none;
        /* overflow: hidden; */
    }

    .navigator-div-zoomed-in .tooltips:hover span {
        display: inline;
    }

    .navigator-div-zoomed-in .navigator-components {
        display: flex;
        justify-content: center;
        position: absolute;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        display: none;
    }

    .navigator-div-zoomed-in .astronaut {
        width: 92%;
    }

    .navigator-div-zoomed-in .user-photo.male {
        z-index: -1;
        width: 26.9vw;
        height: 23.3vw;
        -webkit-transform: translate(-70%, -158%);
        -moz-transform: translate(-70%, -158%);
        transform: translate(-70%, -158%);
    }

    .navigator-div-zoomed-in .user-photo img {
        width: 100%;
    }

    .navigator-div-zoomed-in .navigator-buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-78%, -8%);
        -moz-transform: translate(-78%, -8%);
        -ms-transform: translate(-78%, -8%);
        transform: translate(-78%, -8%);
        width: 16vw;
        height: 9.5vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .navigator-div-zoomed-in .navigator-zoom {
        position: absolute;
        border: 0;
        background: #fff0;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-78%, -63%);
        -moz-transform: translate(-78%, -63%);
        -ms-transform: translate(-78%, -63%);
        transform: translate(-78%, -63%);
        width: 15.5vw;
        height: 8.5vw;
        outline: 0;
        pointer-events: auto;
        /* border: 1px solid red; */
        background: #00000070;
        z-index: 2;
        border-radius: 9%;
        display: flex;
        font-size: 2vw;
        color: #fff;
        justify-content: center;
        align-items: center;
    }

    .navigator-div-zoomed-in .tos-div {
        position: absolute;
        /* border: 1px solid red; */
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-69%, 229%);
        -ms-transform: translate(-69%, 229%);
        transform: translate(-69%, 229%);
        width: 6.5vw;
        height: 5.5vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .navigator-div-zoomed-in .instructions-div {
        position: absolute;
        /* border: 1px solid red; */
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-53%, 437%);
        -moz-transform: translate(-53%, 437%);
        -ms-transform: translate(-53%, 437%);
        transform: translate(-53%, 437%);
        width: 7vw;
        height: 2vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .navigator-div-zoomed-in .navigator-zoomout-btn {
        position: absolute;
        /* border: 1px solid red; */
        top: 50%;
        left: 50%;
        -webkit-transform: translate(306%, 41%);
        -moz-transform: translate(306%, 41%);
        -ms-transform: translate(306%, 41%);
        transform: translate(306%, 41%);
        width: 7vw;
        height: 5vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        font-size: 3vw;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #509ef3;
        padding: 0;
        border: 0;
        background: transparent;
        cursor: pointer;
    }

    .navigator-div-zoomed-in .menu-button {
        transform: translate(-703%, 60%);
        width: 5vw;
        height: 5vw;
    }

    .navigator-div-zoomed-in .tooltips span {
        padding: 34%;
        outline: 0;
        border: 0;
        width: 16vw;
    }

    .navigator-div-zoomed-in .tooltips.top span {
        width: auto;
    }

    .navigator-div-zoomed-in .tooltips.left span {
        -webkit-transform: translate(20%, -50%);
        -moz-transform: translate(20%, -50%);
        -ms-transform: translate(20%, -50%);
        transform: translate(-123%, -50%);
    }

    .navigator-div-zoomed-in .tooltips.left span:after {
        right: 0;
        left: 100%;
        border-right: 0;
        border-left: 1em solid #0b91c3a3;
        margin-top: -1.1vw;
        border-top: 1.1vw solid transparent;
        border-bottom: 1.1vw solid transparent;
    }

    .navigator-div-zoomed-in .tooltips.top span:after {
        border-left: 1.5vw solid transparent;
        border-right: 1.5vw solid transparent;
    }

    .navigator-div-zoomed-in .tooltips.right span:after {
        margin-top: -1.1vw;
        border-top: 1.1vw solid transparent;
        border-bottom: 1.1vw solid transparent;
    }

    .navigator-div-zoomed-in .communicator-div {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translate(-101%, 86%);
        -moz-transform: translate(-101%, 86%);
        -ms-transform: translate(-101%, 86%);
        transform: translate(-101%, 86%);
        border: 0;
        width: 8.2vw;
        height: 10.5vw;
        cursor: pointer;
        /* border-radius: 2px; */
        /* z-index: 1; */
        /* padding: 0; */
        /* background: transparent; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        /* border: 1px solid red; */
    }

    .navigator-div-zoomed-in .communicator-div:hover button {
        -webkit-box-shadow: 0px 0px 9px #17a2b8;
        box-shadow: 0px 0px 9px #17a2b8;
    }

    .navigator-div-zoomed-in .communicator-div button {
        border: 0;
        background: transparent;
        transform: skew(20deg, 13deg);
        width: 100%;
        height: 100%;
        border-radius: 17px;
        padding: 0;
    }

    .navigator-div-zoomed-in .tooltips.tooltips.zoom-in-out span {
        font-size: 0.5em;
    }
}

@media (max-width : 991px)
and (orientation : landscape) {
    .wrapper {
        /* width: 100%; */
    }

    .blog-search form fieldset legend {
        font-size: 2em;
    }

    .blog-search form fieldset legend.sub-legend {
        font-size: 1.5em;
    }

    .search-form {
        height: 3em;
    }

    .front .inner p.blog-name {
        font-size: 1em;
    }

    .inner {
        padding: 0.5rem 0;
    }

    .tags {
        overflow: hidden;
    }

    .navigator-div .tooltips.right span:after, .navigator-div .tooltips.left span:after {
        margin-top: -1px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

    .tooltips.top span {
        -webkit-transform: translate(-49%, -203%);
            -moz-transform: translate(-49%, -203%);
                transform: translate(-49%, -203%);
    }

    .navigator-div.tom.animate-navigator-zoomin {
        -webkit-animation: navigatorAnimateZoomInTom 1s linear; /* Safari 4+ */
            -moz-animation: navigatorAnimateZoomInTom 1s linear; /* Fx 5+ */
                -o-animation: navigatorAnimateZoomInTom 1s linear; /* Opera 12+ */
                    animation: navigatorAnimateZoomInTom 1s linear;
    }

    .navigator-div.zoomin {
        pointer-events: auto;
        -webkit-transform: translate(-345%, 102%) scale(8);
        -moz-transform: translate(-345%, 102%) scale(8);
        transform: translate(-345%, 102%) scale(8);
    }

    .navigator-div.tom.zoomin {
        -webkit-transform: translate(-355%, 102%) scale(8);
        -moz-transform: translate(-355%, 102%) scale(8);
        transform: translate(-355%, 102%) scale(8);
    }

    .navigator-div .tooltips span {
        font-size: 2px;
        /* white-space: nowrap; */
    }

    @-webkit-keyframes navigatorAnimateZoomIn {
        0% {
            top: 50%;
            right: 0;
        }
    
        100% {
            -webkit-transform: translate(-345%, 102%) scale(8);
            -moz-transform: translate(-345%, 102%) scale(8);
            transform: translate(-345%, 102%) scale(8);
        }
    }

    @-moz-keyframes navigatorAnimateZoomIn {
        0% {
            top: 50%;
            right: 0;
        }
    
        100% {
            -webkit-transform: translate(-345%, 102%) scale(8);
            -moz-transform: translate(-345%, 102%) scale(8);
            transform: translate(-345%, 102%) scale(8);
        }
    }

    @-o-keyframes navigatorAnimateZoomIn {
        0% {
            top: 50%;
            right: 0;
        }
    
        100% {
            -webkit-transform: translate(-345%, 102%) scale(8);
            -moz-transform: translate(-345%, 102%) scale(8);
            transform: translate(-345%, 102%) scale(8);
        }
    }

    @keyframes navigatorAnimateZoomIn {
        0% {
            top: 50%;
            right: 0;
        }
    
        100% {
            -webkit-transform: translate(-345%, 102%) scale(8);
            -moz-transform: translate(-345%, 102%) scale(8);
            transform: translate(-345%, 102%) scale(8);
        }
    }

    @-webkit-keyframes navigatorAnimateZoomInTom {
        0% {
            top: 50%;
            right: 0;
        }
    
        100% {
            -webkit-transform: translate(-355%, 102%) scale(8);
            -moz-transform: translate(-355%, 102%) scale(8);
            transform: translate(-355%, 102%) scale(8);
        }
    }

    @-moz-keyframes navigatorAnimateZoomInTom {
        0% {
            top: 50%;
            right: 0;
        }
    
        100% {
            -webkit-transform: translate(-355%, 102%) scale(8);
            -moz-transform: translate(-355%, 102%) scale(8);
            transform: translate(-355%, 102%) scale(8);
        }
    }

    @-o-keyframes navigatorAnimateZoomInTom {
        0% {
            top: 50%;
            right: 0;
        }
    
        100% {
            -webkit-transform: translate(-355%, 102%) scale(8);
            -moz-transform: translate(-355%, 102%) scale(8);
            transform: translate(-355%, 102%) scale(8);
        }
    }

    @keyframes navigatorAnimateZoomInTom {
        0% {
            top: 50%;
            right: 0;
        }
    
        100% {
            -webkit-transform: translate(-355%, 102%) scale(8);
            -moz-transform: translate(-355%, 102%) scale(8);
            transform: translate(-355%, 102%) scale(8);
        }
    }
}

@media (min-width : 411px) 
and (max-width : 896px)
and (orientation : landscape) {
    .search-input-fields {
        flex-flow: row;
    }

    .blog-search {
        margin-bottom: 3%;
    }

    .blog-search input {
        flex: auto;
        width: 45%;
    }

    .status-div, .sort-div {
        flex: 25%;
    }
}

/* Iphone X */
@media (min-width : 375px) 
and (max-width : 812px)
and (orientation : landscape) {

}

@media (min-width : 414px) 
and (max-width : 736px)
and (orientation : landscape) {
    .search-form {
        width: 66%;
    }

    /* .search-input-fields {
        flex-flow: row;
    }

    .blog-search {
        margin-bottom: 3%;
    }

    .blog-search input {
        flex: auto;
        width: 45%;
    }

    .status-div, .sort-div {
        flex: 100%;
    } */
}

/* Iphone 6/7/8 */
@media (min-width : 375px) 
and (max-width : 670px) 
and (orientation : landscape) {
    .wrapper {
        width: 100%;
    }

    .search-form {
        width: 60% !important;
    }

    .blog-search {
        margin-top: 22%;
        margin-bottom: 12%;
    }

    .search-form {
        flex-flow: column;
    }

    .search-input-fields {
        flex-wrap: wrap;
        flex: 100%;
    }

    .blog-search input {
        flex: 100%;
        height: auto;
        border-right: 0;
        border-bottom: 1px solid #6c757de8;
        border-radius: .25rem .25rem 0 0;
    }

    .blog-search .status-div {
        border-right: 0;
    }

    .input-group-prepend {
        margin-right: 0;
    }

    .blog-search .search-btn {
        margin-left: 0px;
    }

    .blog-search .sort-div select {
        border-radius: 0;
    }

    .status-div, .sort-div {
        flex: 50%;
    }

    .front .inner .blog-date {
        font-size: 0.80rem;
    }
}

/* Galaxy S9+ */
@media (min-width : 360px) 
and (max-width : 740px) 
and (orientation : landscape) {
    .search-form {
        width: 66%;
    }
}

/* Galaxy S5 */
@media (min-width : 360px) 
and (max-width : 640px)
and (orientation : landscape) {

}

/* Iphone 5 */
@media (min-width : 320px) 
and (max-width : 568px) 
/* and (-webkit-device-pixel-ratio : 2)  */
and (orientation : landscape) {
    .wrapper {
        width: 100%;
    }

    /* .blog-search {
        margin-top: 25%;
        margin-bottom: 12%;
    }

    .search-form {
        flex-flow: column;
    }

    .search-input-fields {
        flex-wrap: wrap;
        flex: 100%;
    }

    .blog-search input {
        flex: 50%;
        height: auto;
        border-right: 0;
        border-bottom: 1px solid #6c757de8;
        border-radius: .25rem .25rem 0 0;
    }

    .blog-search .status-div {
        border-right: 0;
    }

    .input-group-prepend {
        margin-right: 0;
    }

    .blog-search .search-btn {
        margin-left: 0px;
    }

    .blog-search .sort-div select {
        border-radius: 0;
    } */
}
