@media screen and (max-width: 64rem){
    .blog-col {
        width: calc(50% - 2rem);
    }

    .search-form {
        width: 60%;
    }
}

@media screen and (max-width: 48rem){
    .blog-col{
        width: calc(50% - 2rem);
    }

    .search-form {
        width: 60%;
    }
}

@media screen and (max-width: 32rem){
    .blog-col{
        width: 100%;
        /* margin: 0 0 2rem 0; */
    }
}

@media (min-width: 1921px) {
}

@media (max-width: 1920px)
and (min-width: 1441px) {
}

/* Laptop 1 */
@media (max-width: 1440px) {
    
}

/* Laptop 2 */
@media (min-width: 950px)
and (max-width: 1280px) {
    
}

/* Ipad Pro */
@media (min-width: 1024px) 
and (max-width: 1366px)
and (orientation: landscape)  {
    .zoom-in {
        display: block;
        pointer-events: auto;
    }

    .navigator-div .tooltips span {
        display: none;
    }

    .navigator-div .navigator-zoomin.tooltips span {
        display: block;
        font-size: 1em;
    }
}

/* Laptop 3 */
@media (min-width: 800px)
and (max-width: 1280px) {

}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
    .zoom-in {
        display: block;
        pointer-events: auto;
    }

    .navigator-div .tooltips span {
        display: none;
    }

    .navigator-div .navigator-zoomin.tooltips span {
        display: block;
        font-size: 1em;
    }

    .navigator-div .navigator-zoomout-btn.tooltips span {
        display: none;
    }

    .navigator-div .navigator-buttons .tooltips span {
        display: none;
    }

    .navigator-div.zoomin .navigator-buttons .tooltips span, .navigator-div.zoomin .communicator-div.tooltips span, .navigator-div.zoomin .navigator-zoomout-btn.tooltips span, .navigator-div.zoomin .internal-share.tooltips span{
        display: block;
        font-size: 10px;
        /* padding: 1.5em;
        padding-top: 0.90em; */
    }

    .navigator-div-zoomed-in .navigator-buttons .tooltips span, .navigator-div-zoomed-in .communicator-div.tooltips span, .navigator-div-zoomed-in .navigator-zoomout-btn.tooltips span, .navigator-div-zoomed-in .internal-share.tooltips span{
        display: block;
    }

    .navigator-div.zoomin .menu-button a, .navigator-div-zoomed-in .menu-button a {
        opacity: 1;
        width: 90%;
        height: 90%;
        padding: 9%;
    }
    .navigator-div.zoomin .menu-button a:nth-child(2), .navigator-div-zoomed-in .menu-button a:nth-child(2) {
        right: 142%;
        bottom: -110%;
    }
    .navigator-div.zoomin .menu-button a:nth-child(2):hover, .navigator-div-zoomed-in .menu-button a:nth-child(2):hover {
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
        background: #3b5998;
        color: #fff;
        text-decoration: none;
        /* box-shadow: 0 0px 1px 0.5px #ffffffb3; */
    }
    .navigator-div.zoomin .menu-button a:nth-child(3), .navigator-div-zoomed-in .menu-button a:nth-child(3) {
        right: 210%;
        bottom: 5%;
    }
    .navigator-div.zoomin .menu-button a:nth-child(3):hover, .navigator-div-zoomed-in .menu-button a:nth-child(3):hover {
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
        background: #1DA1F2;
        color: #fff;
        text-decoration: none;
        /* box-shadow: 0 0px 1px 0.5px #ffffffb3; */
    }
    .navigator-div.zoomin .menu-button a:nth-child(4), .navigator-div-zoomed-in .menu-button a:nth-child(4) {
        right: 200%;
        bottom: 130%;
    }
    .navigator-div.zoomin .menu-button a:nth-child(4):hover, .navigator-div-zoomed-in .menu-button a:nth-child(4):hover {
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
        background: #2867B2;
        color: #fff;
        text-decoration: none;
        /* box-shadow: 0 0px 1px 0.5px #ffffffb3; */
    }
    .navigator-div.zoomin .menu-button a:nth-child(5), .navigator-div-zoomed-in .menu-button a:nth-child(5) {
        right: 90%;
        bottom: 200%;
    }
    .navigator-div.zoomin .menu-button a:nth-child(5):hover, .navigator-div-zoomed-in .menu-button a:nth-child(5):hover {
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
        background: #4AC959;
        color: #fff;
        text-decoration: none;
        /* box-shadow: 0 0px 1px 0.5px #ffffffb3; */
    }
    .navigator-div.zoomin .menu-button a:nth-child(6), .navigator-div-zoomed-in .menu-button a:nth-child(6) {
        right: -40%;
        bottom: 200%;
    }
    
    .navigator-div.zoomin .menu-button img, .navigator-div-zoomed-in .menu-button img {
        width: 100%;
    }
    
    .navigator-div.zoomin .menu-button a.internal-share, .navigator-div-zoomed-in .menu-button a.internal-share {
        padding: 0;
    }

    .navigator-div.zoomin .communicator-div button {
        -webkit-box-shadow: 0px 0px 5px #17a2b8;
        box-shadow: 0px 0px 5px #17a2b8;
    }

    .navigator-div-zoomed-in .communicator-div button {
        -webkit-box-shadow: 0px 0px 9px #17a2b8;
        box-shadow: 0px 0px 9px #17a2b8;
    }
}

/* stylus-based screens */
@media (hover: none) and (pointer: fine) {
    .zoom-in {
        display: block;
        pointer-events: auto;
    }

    .navigator-div .tooltips span {
        display: none;
    }

    .navigator-div .navigator-zoomin.tooltips span {
        display: block;
        font-size: 1em;
    }

    .navigator-div .navigator-zoomout-btn.tooltips span {
        display: none;
    }

    .navigator-div .navigator-buttons .tooltips span {
        display: none;
    }

    .navigator-div.zoomin .navigator-buttons .tooltips span, .navigator-div.zoomin .communicator-div.tooltips span, .navigator-div.zoomin .navigator-zoomout-btn.tooltips span, .navigator-div.zoomin .internal-share.tooltips span{
        display: block;
        font-size: 10px;
        /* padding: 1.5em;
        padding-top: 0.90em; */
    }

    .navigator-div.zoomin .tooltips span {
        font-size: 10px;
    }

    .navigator-div-zoomed-in .navigator-buttons .tooltips span, .navigator-div-zoomed-in .communicator-div.tooltips span, .navigator-div-zoomed-in .navigator-zoomout-btn.tooltips span, .navigator-div-zoomed-in .internal-share.tooltips span{
        display: block;
    }

    .navigator-div.zoomin .menu-button a, .navigator-div-zoomed-in .menu-button a {
        opacity: 1;
        width: 90%;
        height: 90%;
        padding: 9%;
    }
    .navigator-div.zoomin .menu-button a:nth-child(2), .navigator-div-zoomed-in .menu-button a:nth-child(2) {
        right: 142%;
        bottom: -110%;
    }
    .navigator-div.zoomin .menu-button a:nth-child(2):hover, .navigator-div-zoomed-in .menu-button a:nth-child(2):hover {
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
        background: #3b5998;
        color: #fff;
        text-decoration: none;
        /* box-shadow: 0 0px 1px 0.5px #ffffffb3; */
    }
    .navigator-div.zoomin .menu-button a:nth-child(3), .navigator-div-zoomed-in .menu-button a:nth-child(3) {
        right: 210%;
        bottom: 5%;
    }
    .navigator-div.zoomin .menu-button a:nth-child(3):hover, .navigator-div-zoomed-in .menu-button a:nth-child(3):hover {
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
        background: #1DA1F2;
        color: #fff;
        text-decoration: none;
        /* box-shadow: 0 0px 1px 0.5px #ffffffb3; */
    }
    .navigator-div.zoomin .menu-button a:nth-child(4), .navigator-div-zoomed-in .menu-button a:nth-child(4) {
        right: 200%;
        bottom: 130%;
    }
    .navigator-div.zoomin .menu-button a:nth-child(4):hover, .navigator-div-zoomed-in .menu-button a:nth-child(4):hover {
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
        background: #2867B2;
        color: #fff;
        text-decoration: none;
        /* box-shadow: 0 0px 1px 0.5px #ffffffb3; */
    }
    .navigator-div.zoomin .menu-button a:nth-child(5), .navigator-div-zoomed-in .menu-button a:nth-child(5) {
        right: 90%;
        bottom: 200%;
    }
    .navigator-div.zoomin .menu-button a:nth-child(5):hover, .navigator-div-zoomed-in .menu-button a:nth-child(5):hover {
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
        background: #4AC959;
        color: #fff;
        text-decoration: none;
        /* box-shadow: 0 0px 1px 0.5px #ffffffb3; */
    }
    .navigator-div.zoomin .menu-button a:nth-child(6), .navigator-div-zoomed-in .menu-button a:nth-child(6) {
        right: -40%;
        bottom: 200%;
    }
    
    .navigator-div.zoomin .menu-button img, .navigator-div-zoomed-in .menu-button img {
        width: 100%;
    }
    
    .navigator-div.zoomin .menu-button a.internal-share, .navigator-div-zoomed-in .menu-button a.internal-share {
        padding: 0;
    }

    .navigator-div.zoomin .communicator-div button {
        -webkit-box-shadow: 0px 0px 5px #17a2b8;
        box-shadow: 0px 0px 5px #17a2b8;
    }

    .navigator-div-zoomed-in .communicator-div button {
        -webkit-box-shadow: 0px 0px 9px #17a2b8;
        box-shadow: 0px 0px 9px #17a2b8;
    }
}

/* Ipad */
@media only screen
and (max-width : 1024px) {
    .zoom-in {
        display: block;
        pointer-events: auto;
    }

    .tooltips.top span {
        -webkit-transform: translate(-49%, -203%);
            -moz-transform: translate(-49%, -203%);
                transform: translate(-49%, -203%);
    }

    .navigator-div {
        -moz-transform: translate(37%, -50%) scale(0.3);
        -ms-transform: translate(37%, -50%) scale(0.3);
        transform: translate(37%, -50%) scale(0.3);
    }

    .navigator-div .tooltips span {
        display: none;
    }
    
    .navigator-zoomin.tooltips span {
        -webkit-transform: translate(-54%, -156%);
        -moz-transform: translate(-54%, -156%);
        -ms-transform: translate(-54%, -156%);
        transform: translate(-54%, -156%);
    }

    .navigator-div.zoomin .navigator-buttons .tooltips span, .navigator-div.zoomin .communicator-div.tooltips span, .navigator-div.zoomin .navigator-zoomout-btn.tooltips span, .navigator-div.zoomin .internal-share.tooltips span{
        display: block;
        font-size: 10px;
        /* padding: 1.5em;
        padding-top: 0.90em; */
    }

    .navigator-div.zoomin .tooltips span {
        font-size: 10px;
    }

    .navigator-div-zoomed-in .navigator-buttons .tooltips span, .navigator-div-zoomed-in .communicator-div.tooltips span, .navigator-div-zoomed-in .navigator-zoomout-btn.tooltips span, .navigator-div-zoomed-in .internal-share.tooltips span{
        display: block;
    }

    .tooltips.top span {
        -webkit-transform: translate(-49%, -226%);
            -moz-transform: translate(-49%, -226%);
                transform: translate(-49%, -226%);
    }

    .navigator-div.zoomin {
        pointer-events: auto;
        -webkit-transform: translate(-30%, 85%) scale(1.3);
        -moz-transform: translate(-30%, 85%) scale(1.3);
        -ms-transform: translate(-30%, 85%) scale(1.3);
        transform: translate(-30%, 85%) scale(1.3);
    }

    .navigator-div.tom.zoomin {
        -webkit-transform: translate(-30%, 85%) scale(1.3);
        -moz-transform: translate(-30%, 85%) scale(1.3);
        -ms-transform: translate(-30%, 85%) scale(1.3);
        transform: translate(-30%, 85%) scale(1.3);
    }

    @-webkit-keyframes navigatorAnimateZoomIn {
        0% {
            top: 50%;
            right: 0;
        }
    
        100% {
            -webkit-transform: translate(-30%, 85%) scale(1.3);
            -moz-transform: translate(-30%, 85%) scale(1.3);
            -ms-transform: translate(-30%, 85%) scale(1.3);
            transform: translate(-30%, 85%) scale(1.3);
        }
    }

    @-moz-keyframes navigatorAnimateZoomIn {
        0% {
            top: 50%;
            right: 0;
        }
    
        100% {
            -webkit-transform: translate(-30%, 85%) scale(1.3);
            -moz-transform: translate(-30%, 85%) scale(1.3);
            -ms-transform: translate(-30%, 85%) scale(1.3);
            transform: translate(-30%, 85%) scale(1.3);
        }
    }

    @-o-keyframes navigatorAnimateZoomIn {
        0% {
            top: 50%;
            right: 0;
        }
    
        100% {
            -webkit-transform: translate(-30%, 85%) scale(1.3);
            -moz-transform: translate(-30%, 85%) scale(1.3);
            -ms-transform: translate(-30%, 85%) scale(1.3);
            transform: translate(-30%, 85%) scale(1.3);
        }
    }

    @keyframes navigatorAnimateZoomIn {
        0% {
            top: 50%;
            right: 0;
        }
    
        100% {
            -webkit-transform: translate(-30%, 85%) scale(1.3);
            -moz-transform: translate(-30%, 85%) scale(1.3);
            -ms-transform: translate(-30%, 85%) scale(1.3);
            transform: translate(-30%, 85%) scale(1.3);
        }
    }

    @-webkit-keyframes navigatorAnimateZoomInTom {
        0% {
            top: 50%;
            right: 0;
        }
    
        100% {
            -webkit-transform: translate(-30%, 85%) scale(1.3);
            -moz-transform: translate(-30%, 85%) scale(1.3);
            -ms-transform: translate(-30%, 85%) scale(1.3);
            transform: translate(-30%, 85%) scale(1.3);
        }
    }

    @-moz-keyframes navigatorAnimateZoomInTom {
        0% {
            top: 50%;
            right: 0;
        }
    
        100% {
            -webkit-transform: translate(-30%, 85%) scale(1.3);
            -moz-transform: translate(-30%, 85%) scale(1.3);
            -ms-transform: translate(-30%, 85%) scale(1.3);
            transform: translate(-30%, 85%) scale(1.3);
        }
    }

    @-o-keyframes navigatorAnimateZoomInTom {
        0% {
            top: 50%;
            right: 0;
        }
    
        100% {
            -webkit-transform: translate(-30%, 85%) scale(1.3);
            -moz-transform: translate(-30%, 85%) scale(1.3);
            -ms-transform: translate(-30%, 85%) scale(1.3);
            transform: translate(-30%, 85%) scale(1.3);
        }
    }

    @keyframes navigatorAnimateZoomInTom {
        0% {
            top: 50%;
            right: 0;
        }
    
        100% {
            -webkit-transform: translate(-30%, 85%) scale(1.3);
            -moz-transform: translate(-30%, 85%) scale(1.3);
            -ms-transform: translate(-30%, 85%) scale(1.3);
            transform: translate(-30%, 85%) scale(1.3);
        }
    }

    @-webkit-keyframes navigatorAnimateZoomOut {
        100% {
            -moz-transform: translate(37%, -50%) scale(0.3);
            -ms-transform: translate(37%, -50%) scale(0.3);
            transform: translate(37%, -50%) scale(0.3);
        }
    }
    
    @-moz-keyframes navigatorAnimateZoomOut {
        100% {
            -moz-transform: translate(37%, -50%) scale(0.3);
            -ms-transform: translate(37%, -50%) scale(0.3);
            transform: translate(37%, -50%) scale(0.3);
        }
    }
    
    @-o-keyframes navigatorAnimateZoomOut {
        100% {
            -moz-transform: translate(37%, -50%) scale(0.3);
            -ms-transform: translate(37%, -50%) scale(0.3);
            transform: translate(37%, -50%) scale(0.3);
        }
    }
    
    @keyframes navigatorAnimateZoomOut {
        100% {
            -moz-transform: translate(37%, -50%) scale(0.3);
            -ms-transform: translate(37%, -50%) scale(0.3);
            transform: translate(37%, -50%) scale(0.3);
        }
    }

    .navigator-zoomout-btn {
        font-size: 1em;
    }

    .navigator-div.tom .navigator-zoomout-btn {
        -webkit-transform: translate(-276%, -585%);
        -moz-transform: translate(-276%, -585%);
        transform: translate(-276%, -585%);
    }

    .navigator-div .navigator-zoomout-btn.tooltips.zoom-in-out span {
        -webkit-transform: translate(1%, -155%);
        -moz-transform: translate(1%, -155%);
        -ms-transform: translate(1%, -155%);
        transform: translate(1%, -155%);
    }

    .navigator-div.tom .navigator-zoomout-btn.tooltips.zoom-in-out span {
        -webkit-transform: translate(1%, -211%);
        -moz-transform: translate(1%, -211%);
        -ms-transform: translate(1%, -211%);
        transform: translate(1%, -211%);
    }

    .navigator-div-zoomed-in .navigator-zoomout-btn.tooltips.zoom-in-out span {
        -webkit-transform: translate(19%, -185%);
        -moz-transform: translate(19%, -185%);
        -ms-transform: translate(19%, -185%);
        transform: translate(19%, -185%);
    }

    .navigator-div-zoomed-in.tom .navigator-zoomout-btn.tooltips.zoom-in-out span {
        -webkit-transform: translate(18%, -209%);
        -moz-transform: translate(18%, -209%);
        -ms-transform: translate(18%, -209%);
        transform: translate(18%, -209%);
    }

    .navigator-div.zoomin .communicator-div button {
        -webkit-box-shadow: 0px 0px 5px #17a2b8;
        box-shadow: 0px 0px 5px #17a2b8;
    }

    /* Safari navigator zoom in */
    .navigator-div-zoomed-in {
        position: fixed;
        right: unset;
        bottom: -6%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 75vw;
        height: 74vw;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        /* background: #00000052; */
        pointer-events: auto;
        display: none;
        /* overflow: hidden; */
    }

    .navigator-div-zoomed-in .tooltips:hover span {
        display: inline;
    }

    .navigator-div-zoomed-in .navigator-components {
        display: flex;
        justify-content: center;
        position: absolute;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        display: none;
    }

    .navigator-div-zoomed-in .astronaut {
        width: 92%;
    }

    .navigator-div-zoomed-in .user-photo {
        width: 22.7vw;
        height: 18.35vw;
        -webkit-transform: translate(-72%, -97%);
        -moz-transform: translate(-72%, -97%);
        transform: translate(-72%, -97%);
    }

    .navigator-div-zoomed-in .user-photo.male {
        z-index: -1;
        height: 19.3vw;
        -webkit-transform: translate(-70%, -86%);
        -moz-transform: translate(-70%, -86%);
        transform: translate(-70%, -86%);
    }

    .navigator-div-zoomed-in .user-photo img {
        width: 100%;
    }

    .navigator-div-zoomed-in .navigator-buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-79%, 142%);
        -moz-transform: translate(-79%, 142%);
        -ms-transform: translate(-79%, 142%);
        transform: translate(-79%, 142%);
        width: 14vw;
        height: 8.5vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .navigator-div-zoomed-in.tom .navigator-buttons {
        -webkit-transform: translate(-78%, 143%);
        -moz-transform: translate(-78%, 143%);
        -ms-transform: translate(-78%, 143%);
        transform: translate(-78%, 143%);
    }

    .navigator-div-zoomed-in .navigator-zoom {
        position: absolute;
        border: 0;
        background: #fff0;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-78%, -63%);
        -moz-transform: translate(-78%, -63%);
        -ms-transform: translate(-78%, -63%);
        transform: translate(-78%, -63%);
        width: 15.5vw;
        height: 8.5vw;
        outline: 0;
        pointer-events: auto;
        /* border: 1px solid red; */
        background: #00000070;
        z-index: 2;
        border-radius: 9%;
        display: flex;
        font-size: 2vw;
        color: #fff;
        justify-content: center;
        align-items: center;
    }

    .navigator-div-zoomed-in .tos-div {
        position: absolute;
        /* border: 1px solid red; */
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-80%, 559%);
        -ms-transform: translate(-80%, 559%);
        transform: translate(-80%, 559%);
        width: 5.5vw;
        height: 4.5vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .navigator-div-zoomed-in.tom .tos-div {
        -webkit-transform: translate(-69%, 534%);
        -ms-transform: translate(-69%, 534%);
        transform: translate(-69%, 534%);
    }

    .navigator-div-zoomed-in .instructions-div {
        position: absolute;
        /* border: 1px solid red; */
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-61%, 995%);
        -moz-transform: translate(-61%, 995%);
        -ms-transform: translate(-61%, 995%);
        transform: translate(-61%, 995%);
        width: 6vw;
        height: 2vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .navigator-div-zoomed-in.tom .instructions-div {
        -webkit-transform: translate(-56%, 1013%);
        -moz-transform: translate(-56%, 1013%);
        -ms-transform: translate(-56%, 1013%);
        transform: translate(-56%, 1013%);
    }

    .navigator-div-zoomed-in .navigator-zoomout-btn {
        position: absolute;
        /* border: 1px solid red; */
        top: 50%;
        left: 50%;
        -webkit-transform: translate(219%, 229%);
        -moz-transform: translate(219%, 229%);
        -ms-transform: translate(219%, 229%);
        transform: translate(219%, 229%);
        width: 7vw;
        height: 5vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        font-size: 1.5em;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #509ef3;
        padding: 0;
        border: 0;
        background: transparent;
        cursor: pointer;
    }

    .navigator-div-zoomed-in.tom .navigator-zoomout-btn {
        -webkit-transform: translate(243%, 287%);
        -moz-transform: translate(243%, 287%);
        -ms-transform: translate(243%, 287%);
        transform: translate(243%, 287%);
    }

    .navigator-div-zoomed-in .navigator-div.zoomin .menu-button {
        transform: translate(-703%, 60%);
        width: 5vw;
        height: 5vw;
    }

    .navigator-div-zoomed-in .tooltips span {
        font-size: 1em;
    }

    .navigator-div-zoomed-in .tooltips.top span {
        -webkit-transform: translate(-49%, -229%);
        -moz-transform: translate(-49%, -229%);
        -ms-transform: translate(-49%, -229%);
        transform: translate(-49%, -229%);
    }

    .navigator-div-zoomed-in .tooltips.right span {
        -webkit-transform: translate(31%, -50%);
        -moz-transform: translate(31%, -50%);
        -ms-transform: translate(31%, -50%);
        transform: translate(31%, -50%);
    }

    .navigator-div-zoomed-in .tooltips.left span {
        -webkit-transform: translate(-149%, -50%);
        -moz-transform: translate(-149%, -50%);
        -ms-transform: translate(-149%, -50%);
        transform: translate(-149%, -50%);
    }

    .navigator-div-zoomed-in .tooltips.left span:after {
        right: 0;
        left: 100%;
        border-right: 0;
        border-left: 1em solid #0b91c3a3;
        margin-top: -1.1vw;
        border-top: 1.1vw solid transparent;
        border-bottom: 1.1vw solid transparent;
    }

    .navigator-div-zoomed-in .tooltips.top span:after {
        border-left: 1.5vw solid transparent;
        border-right: 1.5vw solid transparent;
    }

    .navigator-div-zoomed-in .tooltips.right span:after {
        margin-top: -1.1vw;
        border-top: 1.1vw solid transparent;
        border-bottom: 1.1vw solid transparent;
    }

    .navigator-div-zoomed-in .communicator-div {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translate(406%, 274%);
        -moz-transform: translate(406%, 274%);
        -ms-transform: translate(406%, 274%);
        transform: translate(406%, 274%);
        border: 0;
        width: 6.2vw;
        height: 7vw;
        cursor: pointer;
        /* border-radius: 2px; */
        /* z-index: 1; */
        /* padding: 0; */
        /* background: transparent; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        /* border: 1px solid red; */
    }

    .navigator-div-zoomed-in.tom .communicator-div {
        width: 6.5vw;
        -webkit-transform: translate(414%, 297%);
        -moz-transform: translate(414%, 297%);
        -ms-transform: translate(414%, 297%);
        transform: translate(414%, 297%);
    }

    .navigator-div-zoomed-in .communicator-div button {
        -webkit-box-shadow: 0px 0px 9px #17a2b8;
        box-shadow: 0px 0px 9px #17a2b8;
    }

    .navigator-div-zoomed-in .menu-button {
        transform: translate(-678%, 327%);
        width: 4vw;
        height: 4vw;
    }

    .navigator-div-zoomed-in.tom .menu-button {
        transform: translate(-720%, 382%);
    }

    .navigator-div-zoomed-in .music-btn.tooltips span {
        width: 10vw;
        transform: translate(-135%, -50%);
    }

    .navigator-zoom {
        font-size: 2em;
    }

    .zoomin-astronaut .tooltips span {
        font-size: 0.5em;
        border-radius: 3px;
    }

    .zoom-in {
        display: block;
        pointer-events: auto;
    }

    .navigator-div .tooltips span {
        display: none;
    }

    .navigator-div .navigator-zoomin.tooltips span {
        display: block;
        font-size: 1em;
    }
}

@media (max-width : 991px)
and (orientation : landscape) {
    .wrapper {
        /* width: 100%; */
    }

    .blog-search form fieldset legend {
        font-size: 2em;
    }

    .blog-search form fieldset legend.sub-legend {
        font-size: 1.5em;
    }

    .search-form {
        height: 3em;
    }

    .front .inner p.blog-name {
        font-size: 1em;
    }

    .inner {
        padding: 0.5rem 0;
    }

    .tags {
        overflow: hidden;
    }

    .zoomin-astronaut .tooltips span {
        font-size: 7px;
        border-radius: 3px;
    }

    .tooltips span {
        font-size: 10px;
    }
}

@media (min-width : 414px) 
and (max-width : 896px)
and (orientation : landscape) {
    .search-input-fields {
        flex-flow: row;
    }

    .blog-search {
        margin-bottom: 3%;
    }

    .blog-search input {
        flex: auto;
        width: 45%;
    }

    .status-div, .sort-div {
        flex: 25%;
    }

    .search-form {
        width: 60% !important;
    }

    .search-form {
        height: auto;
        flex-flow: column;
    }

    .search-input-fields {
        flex-wrap: wrap;
        flex: 100%;
    }

    .blog-search input {
        flex: 100%;
        height: auto;
        border-right: 0;
        border-bottom: 1px solid #6c757de8;
        border-radius: .25rem .25rem 0 0;
    }

    .blog-search .status-div, .blog-search .tag-div {
        border-right: 0;
    }

    .input-group-prepend {
        margin-right: 0;
    }

    .blog-search .search-btn {
        margin-left: 0px;
    }

    .blog-search .sort-div select {
        border-radius: 0;
    }

    .status-div, .sort-div, .tag-div {
        flex: 50%;
    }

    .cloud-message {
        width: 22vw;
    }
}

/* Iphone X */
@media (min-width : 375px) 
and (max-width : 812px)
and (orientation : landscape) {
    .zoom-in {
        display: block;
    }

    .navigator-buttons {
        -webkit-transform: translate(-79%, -382%);
            -moz-transform: translate(-79%, -382%);
                -ms-transform: translate(-79%, -382%);
                    transform: translate(-79%, -382%);
    }

    .navigator-div-zoomed-in .navigator-zoomout-btn.tooltips.zoom-in-out span {
        -webkit-transform: translate(-2%, -199%);
        -moz-transform: translate(-2%, -199%);
        -ms-transform: translate(-2%, -199%);
        transform: translate(-2%, -199%);
    }

    .navigator-div-zoomed-in.tom .navigator-zoomout-btn.tooltips.zoom-in-out span {
        -webkit-transform: translate(1%, -226%);
        -moz-transform: translate(1%, -226%);
        -ms-transform: translate(1%, -226%);
        transform: translate(1%, -226%);
    }
}

@media (min-width : 414px) 
and (max-width : 736px)
and (orientation : landscape) {
    .search-form {
        width: 66%;
    }

    .navigator-buttons {
        -webkit-transform: translate(-77%, -387%);
            -moz-transform: translate(-77%, -387%);
                -ms-transform: translate(-77%, -387%);
                    transform: translate(-77%, -387%);
    }
}

/* Iphone 6/7/8 */
@media (min-width : 375px) 
and (max-width : 670px) 
and (orientation : landscape) {
    .wrapper {
        width: 100%;
    }

    .blog-search {
        margin-top: 22%;
        margin-bottom: 5%;
    }

    .front .inner .blog-date {
        font-size: 0.80rem;
    }
}

/* Galaxy S9+ */
@media (min-width : 360px) 
and (max-width : 740px) 
and (orientation : landscape) {
    .search-form {
        width: 66%;
    }
}

/* Galaxy S5 */
@media (min-width : 360px) 
and (max-width : 640px)
and (orientation : landscape) {
    .navigator-div-zoomed-in .music-btn.tooltips span {
        width: 12vw;
    }
}

/* Iphone 5 */
@media (min-width : 320px) 
and (max-width : 568px) 
/* and (-webkit-device-pixel-ratio : 2)  */
and (orientation : landscape) {
    .wrapper {
        width: 100%;
    }

    .navigator-div-zoomed-in .navigator-zoomout-btn {
        font-size: 1em;
    }

    .navigator-div-zoomed-in .tooltips span, .navigator-div-zoomed-in .tooltips.top span, .navigator-div-zoomed-in .internal-share.tooltips span {
        font-size: 12px;
    }

    .navigator-div-zoomed-in .navigator-zoomout-btn.tooltips.zoom-in-out span {
        font-size: 0.7em;
    }
}

@media only screen
and (max-width: 533px)
and (min-width: 320px) { 
    .navigator-div-zoomed-in .tooltips.right span {
        -webkit-transform: translate(27%, -50%);
        -moz-transform: translate(27%, -50%);
        -ms-transform: translate(27%, -50%);
        transform: translate(27%, -50%);
    }

    .navigator-div-zoomed-in .music-btn.tooltips span {
        transform: translate(-138%, -50%);
    }
}

@media only screen
and (max-width: 480px)
and (min-width: 320px) {
    .navigator-div .tooltips span {
        font-size: 0.06em;
    }
}
