.blog-buttons {
    bottom: -50%;
}

.nearly-expired {
    box-shadow: 0px 0px 8px #ff0000c9;
}

.toast {
    border: 0;
}

#toast-container>.toast-info {
    background-color:rgba(8, 64, 147, 0.78);
    background-image: url('../../front/icons/alert-icon.png') !important;
    background-size: 10%;
    background-position: 8px center;
    box-shadow: 0px 0px 12px #17a2b8;
    color: #f74545;
}

.front .inner .blog-status.shared {
    font-size: 0.8em;
    padding: 0 3%;
    border-radius: 100px;
    font-weight: 550;
    background: #0f9d58;
    color: #fff;
}

.front .inner .blog-date, .front .inner .blog-status {
    top: -55%;
}

